@keyframes changeColor {
    0% {
        background-color: tomato;
        left: 0px;
        transform: rotate(0deg);
        top: 0px;
    }

    50% {
        background-color: yellow;
        left: 500px;
        transform: rotate(360deg);
        top: 200px;
    }

    90% {
        background-color: green;
        left: 900px;
        transform: rotate(360deg);
        top: 100px;
    }

}