.wrapper{
    position: relative;
    left: 200px;
    top:200px;
    background-color: #fafafa;
    .windows-logo{
        width: 100px;
        height: 100px;

    }
    .red{
        background-color: #ff3800;
    }
    .green{
        background-color: rgb(109, 195, 24);
        position: relative;
        bottom: 300px;
        left: 110px;
    }
    .blue{
        background-color: #45b1e8;
        position: relative;
        top: 10px;
    }
    .yellow{
        background-color: #ffc40c;
        position: relative;
        left: 110px;
        bottom: 90px;
    }
    .linkedin{
        height: 210px;
        width: 210px;
        background-color: #0c60be;
        border-radius:30px;
        color: white;
        font-weight: 1000;
        font-size: 180px;
        text-align: center;
        line-height: 240px;
        position: relative;
        left: 250px;
        bottom:400px
    }
}