html {
    scroll-behavior: smooth;
}

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;



}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;

}

.hidden {
    opacity: 0;
    transition: all 2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.show {
    opacity: 1;
    transition: all 4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#txt {
    font-size: 2vw;
    position: relative;
    bottom: 10vh;
}


#video-container {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 20px;
    position: absolute;
    left: 16vw;
    overflow: hidden;
}

.srummered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    &__txt {
        font-size: 2vw;
        position: absolute;
    }
    &__video{
        height: 60vh;
        z-index: -1;
        border-radius: 40px;
        left: 16vw;
        overflow: hidden;
    }
    
}

.artists {
    width: 50vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__artistImg {
        width: 20%;
        height: 20vh;
        border-radius: 20px;
    }
}

#begintxt {
    font-size: 50px;
    font-family: fantasy;
    animation-name: colorfull;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    @keyframes colorfull {
        0% {
            color: #ffffff;

        }

        20% {
            color: rgb(183, 244, 244);
        }

        40% {
            color: rgb(203, 175, 229);
        }

        50% {
            color: rgb(239, 207, 166);
        }

        80% {
            color: azure;
        }

        100% {
            color: rgb(239, 255, 116);
        }

    }
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background-color: rgb(16, 18, 19);
    opacity: 0.8;

}

.registerForm {
    display: flex;
    flex-direction: column;
    z-index: 2;
    gap: 8px;
    backdrop-filter: blur(2px);


}

#input {
    cursor: pointer;
    border-radius: 5px;
    width: 20vw;
    background-color: rgba(197, 197, 197, 0.84);
    transition: all 100ms ease-in-out;
    color: black;
    &:focus{
        transform: scaleX(1.05);
        background-color: rgba(255, 255, 255, 0.909);

    }
}

#registerSubmit {
    opacity: 0;
    transition: all 100ms ease-in-out;
}
#passwordINS{
    font-size: 15px;
}