body {
  background-image: url("https://img.freepik.com/free-psd/blank-wall-psd-japandi-living-room-interior_53876-109284.jpg?size=626&ext=jpg&uid=R96966099&ga=GA1.2.9697832.1687471476");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.EnterExitBtns{
  padding: 15px 30px;
  background-color: #08de68;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.AddNewForm,
.LoginDiv,
.clockPage,.BtnsSearchAndDate {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-around;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  padding-right: 10px;
}

input[type="text"],
input[type="number"] {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
}

input[type="submit"],
button {
  padding: 15px 30px;
  background-color: #428bca;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button {
  margin-right: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #ff69b4;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error {
  background-color: #ffdddd;
  border-color: #ff9999;
  color: #ff0000;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #428bca;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: pink;
}
