<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <script src="../../js/dist/model.js" defer></script>
    <link rel="stylesheet" href="../../css/dist/style.css">
</head>
<body>
    <form >
        <input type="text" name="" id="">
        <input type="text" name="" id="">
        <input type="submit" value="register">
    </form>
    <a href="../../index.html">Main</a>
</body>
</html>