form {
    margin-bottom: 1%;
}
.root {
    &__userElement{
        display: flex;
        flex-flow: column;
    }
    
    &__btn{
        width: 100px;
        height: 50px;
        background-color: rgb(196, 161, 196);

        &:hover{
            background-color: rgb(222, 160, 222);;
        }
    }
}