

.wrapper{
    width: 755px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;

    .wrapper__box1{
        width: 755px;
        height: 100%;
        display: flex;
        background-color: rgb(11, 11, 61) ;

        img{
            width: 480px;
            height: 100%;
        }

        .text{
            direction: rtl;
            margin-top: 0;
            font-family: Arial, Helvetica, sans-serif;
            color: white;
        }
        .wrapper__box1--text1{
            font-size: 30px;
        }
        .wrapper__box1--text2{
            font-size: 15px;
            margin-left: 80px;
            
        }

    
        
    }

    .wrapper__box2{
        display: flex;
        justify-content: center;
        justify-content: space-between;
        margin-top: 20px;
        img{
            width: 170px;
            
        }
        
        .wrapper__box2__e{
            width: 170px;
            direction: rtl;
            

            .wrapper__box2__e--p1{
                font-size: 17px;
                margin: 0;
                font-weight: bold;
            }
            .wrapper__box2__e--p2{
                font-size: 14px;
                margin: 0;
            }
            .wrapper__box2__e--p3{
                font-size: 12px;
                margin: 0;
                color: #6c6e70;
            }

        }

    }
    .wrapper__box3{
        display: flex;
        margin-top: 20px;

        .wrapper__box3__1{
            border: solid black;
            width: 340px;
            height: 340px;
           
            
        
        }

        .div1{
            display: flex;
            flex-wrap: wrap;

            .wrapper__box3__e{
                border: solid black;
                width: 170px;
                height: 170px;
                margin: 20px;
                margin-top: 0;
                
            
            }
        }

    
        }
}



