$wrapper: 100ch;

.foryou {
  margin: auto;
  width: $wrapper;
  height: 200px;
  display: flex;
  gap: 10px;
 
    &__polo {    
        flex: 1;
        display: flex;
        flex-direction: column;
        &__photo {
            background-image: url("./171838_volkswagen-polo70tsilife-variant-jun22-hqn.jpg");
            background-size: cover;
            height: 100%;
        }
        &__text { 
            background-color: black;
            color: white;
            text-align: center;
            padding: 4px;
        }
    }    
            
    &__i10 {
        flex: 1;
        display: flex;
        flex-direction: column;
        &__photo {
        background-image: url("./Hyundai-Grand-i10-Nios-200120231541.jpg");
        
    }
    &__text {
        background-color: black;
        color: white;
        text-align: center;
        padding: 4px;
    }
    }   

    &__seat {
        flex: 1;
        display: flex;
        flex-direction: column;
        &__photo {
            background-image: url("./seat-ibiza-xcellence-colour-sapphire-blue.avif");
        }
        &__text {
            background-color: black;
            color: white;
            text-align: center;
            padding: 4px;
        }
    }     

    &__chevi {
        flex: 1;
        display: flex;
        flex-direction: column;
        
        &__photo {
            background-image: url("./color-Mystic-Blue.jpg");
           
        }
        &__text {
            background-color: black;
            color: white;
            text-align: center;
            padding: 4px;
        }
    }     

} 




    

      
      

        
        
  
