#root{
    display: grid;
    width: 98vw;
    height: 99vh;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background-color: black;

    @media only screen and (max-width: 800px) {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
        gap: 5px;
    }


    img{
        width: 90%;
        margin: auto;
    }
}