$width: 420px;
$height: 220px;

.wrapper {
    background-color: rgba(0, 255, 255, 0);
    height: 4000px;
    width: 1340px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;

   
    .titlenews {
        border-left: 3px solid rgb(214, 29, 29);
        color: rgba(0, 0, 0, 0.684);
        height: 20px;
        display: flex;
        align-items: center;
        margin: 10px 15px;
        padding: 0px 6px;
        font-size: 18px;
    } 

    .wrappimgnews {
        background-color: rgba(11, 223, 152, 0);
        height: 500px;
        width: 1340px;
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0px 0px;


        .imgsport {
            background-color: rgba(236, 18, 18, 0);
            height: 500px;
            width: $width;


            img {
                width: $width;
                height: $height;
            }

            .liteltitle {
                height: 20px;
                padding: 0px 3px;
                color: rgba(0, 0, 0, 0.313);
                border-left: 2px solid rgb(214, 29, 29);
                font-size: medium;
            }
        }
    }

    .titlesport {
        border-left: 3px solid rgb(214, 214, 29);
        color: rgba(0, 0, 0, 0.684);
        height: 20px;
        display: flex;
        align-items: center;
        margin: 0px 15px;
        padding: 0px 6px;
        font-size: 18px;
    }

    .wrappimgsport {
        background-color: rgba(11, 223, 152, 0);
        height: 43vh;
        width: 1340px;
        display: flex;
        gap: 25px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0px 100px;


        .imgsport {
            background-color: rgb(255, 255, 255);
            height: 550px;
            width: $width;


            img {
                width: $width;
                height: $height;
            }

            .liteltitle {
                height: 20px;
                padding: 0px 3px;
                color: rgba(0, 0, 0, 0.313);
                border-left: 2px solid rgb(236, 236, 28);
                font-size: medium;
            }
        }
    }

    .londonweather {
        display: flex;
        margin: 40px 40px 10px 15px;
        color: rgba(0, 0, 0, 0.684);
        justify-content: space-between;
        width: 280px;

        p {
            font-size: 12px;
            padding: 4px 6px;
            margin: auto;
            color: rgba(0, 0, 0, 0.264);
            background-color: rgba(0, 0, 0, 0.081);
            border-radius: 2px;
        }
    }

    .wrappweather {
        justify-content: space-evenly;
        display: flex;
        width: 600px;
        margin: 0px 0px;

        img {
            width: 130px;
        }
    }

    .wrappreel {
        background-image: url("https://w0.peakpx.com/wallpaper/187/823/HD-wallpaper-far-cry-5-nature-view.jpg");
        height: 450px;
        width: 1260px;
        color: rgb(255, 255, 255);
        padding: 5px 40px 10px;
        // opacity: 0.8;
        // filter: blur(5px);

        .visitreel {
            float: right;
            width: 125px;
            height: 23px;
            border: 2px solid rgb(255, 255, 255);
            margin: 39px 10px;
            border-radius: 50px;

            h3 {
                margin: 0px 15px;
            }
        }

        .wrappimgreel {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            color: rgb(41, 130, 208);
            height: 300px;

            .imgreel {
                width: $width;
                height: $height+60px;
                background-color: rgb(255, 255, 255);
                color: black;
                font-size: small;

                h2 {
                    margin: 0px 5px;
                }

                img {
                    width: $width;
                    height: $height;
                }
            }
        }
    }

    .titleEditorsPicks {
        border-left: 3px solid rgb(35, 28, 236);
        color: rgba(0, 0, 0, 0.684);
        height: 30px;
        display: flex;
        align-items: center;
        margin: 20px 5px;
        padding: 0px 6px;
        font-size: 18px;
    }


    .bacraundimg {
        background-image: url("https://www.healthifyme.com/blog/wp-content/uploads/2022/01/shutterstock_1015800871-1-750x375.jpg");
        height: 500px;
        width: 900px;
        color: rgb(255, 255, 255);
        // background-repeat: no-repeat;

        .text {
            padding: 340px 20px;

            p {
                color: rgba(255, 255, 255, 0.77);
            }
        }
    }

    .sargel {
        background-color: rgb(50, 45, 45);
        float: right;
        width: 400px;
        height: 560px;
        margin: -500px 0px;

        .headline {
            color: rgba(255, 255, 255, 0.823);
            padding: 5px 10px;
            font-size: 14px;
            background-color: rgb(255, 0, 0);
            height: 40px;
            display: flex;

            h3 {
                margin: 0px;
                padding: 5px;
            }
        }

        $font-size: 16px;
        $padding: 10px 15px;
        $margin: 20px 5px 20px 20px;
        $background-color: rgb(255, 0, 0);
        $border-radius: 50%;
        $color: rgb(255, 255, 255);

        .line1 {
            background-color: rgb(74, 74, 74);
            height: 140px;
            width: 400px;
            margin: -12px 0px;
            color: rgb(167, 167, 167);
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 20px;

            .namber {
                p {
                    font-size: $font-size;
                    padding: $padding;
                    margin: $margin;
                    background-color: $background-color;
                    border-radius: $border-radius;
                    color: $color;
                }
            }
        }

        .line2 {
            background-color: rgb(50, 50, 50);
            height: 140px;
            width: 400px;
            margin: -12px 0px;
            color: rgb(167, 167, 167);
            font-size: 12px;
            display: flex;
            align-items: center;
            gap: 20px;

            .namber {
                p {
                    font-size: $font-size;
                    padding: $padding;
                    margin: $margin;
                    background-color: $background-color;
                    border-radius: $border-radius;
                    color: $color;
                }
            }
        }
    }

    .wrappimg2 {
        background-color: rgba(11, 223, 152, 0);
        height: 43vh;
        width: 900px;
        display: flex;
        gap: 18px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px 0px -40px 0px;

        $width: 288px;
        $height: 180px;

        .imgwrapp {
            background-color: rgb(255, 255, 255);
            height: 360px;
            width: $width;
            box-shadow: 5px 5px 5px rgba(174, 174, 174, 0.265);

            img {
                width: $width;
                height: $height;
                margin: 0px 0px -20px 0px;
            }

            p {
                color: rgba(0, 0, 0, 0.437);
            }

            .liteltitle {
                height: 20px;
                padding: 0px 3px;
                border-left: 2px solid rgb(35, 28, 236);
                font-size: medium;
            }
        }
    }

    .wrappdawn {
        background-image: url("https://www.arborday.org/images/hero/hero-sunlight-streaming-through-colorful-forest-ATCB-USE-ONLY.jpg");
        height: 450px;
        width: 1260px;
        color: rgb(255, 255, 255);
        padding: 5px 40px 10px;
        margin: 40px 0px 0px;

        h1{
            border: 2px solid rgb(9, 223, 9);
            width: 190px;
            height: 38px;

        }

        .visitreel {
            float: right;
            width: 190px;
            height: 23px;
            border: 2px solid rgb(255, 255, 255);
            margin: 39px 10px;
            border-radius: 50px;

            h3 {
                margin: 0px 15px;
            }
        }

        .wrappimgreel {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            color: rgb(41, 130, 208);
            height: 300px;

            .imgreel {
                width: $width;
                height: $height+60px;
                background-color: rgb(255, 255, 255);
                color: black;
                font-size: small;

                h2 {
                    margin: 0px 5px;
                }

                img {
                    width: $width;
                    height: $height;
                }
            }
        }
    }

}