@mixin flex($dir){
    display: flex;
    flex-direction: $dir;
}
@mixin transition($element,$time){
    transition: $element $time ease-in-out;
}








.genwrapper{
    
    width: 100%;
    height: 100vh;
    background-color: rgb(209, 195, 195);
    border-radius: 2px;
    &__baloonred{
        width: 3vw;
        height: 8vh;
        border-radius: 50%;
        background-color: red;
        border: 1px black solid;
        position: absolute;
    
        left: 90vw;
        top: 90vh;
        animation-name: redb;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        cursor: pointer;
    
        @keyframes redb{
            from{
                left: 90vw;
                top: 120vh;
                rotate: 0deg;
            }
            to{
                left: 85vw;
                top: 10vh;
                rotate: 180deg;
            }
        }
        
        &:focus {
            animation: explode 0.5s forwards;
            animation-iteration-count: initial;
            animation-fill-mode: forwards;
            position: absolute;
            left: 85vw;
            top: 10vh;
        }
    
        @keyframes explode {
            0% {
                width: 3vw;
                height: 8vh;
                opacity: 1;
                border-radius: 50%;
                
            }
            50% {
                width: 3.6vw;
                height: 9.6vh;
                opacity: 0.5;
                border-radius: 48%;
           
            }
            100% {
                width: 0;
                height: 0;
                opacity: 0;
                border-radius: 0;
            }
        }
    
        &:focus::after{
            display: none;
        }
    }
    &__baloonyellow{
        width: 3vw;
        height: 8vh;
        border-radius: 50%;
        background-color: rgb(240, 226, 33);
        position: absolute;
        left: 70vw;
        top: 90vh;
        animation-name: yellowb;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        cursor: pointer;

        @keyframes yellowb{
            from{
                left: 70vw;
                top: 95vh;
                rotate: 0deg;
              
            }
            to{
                left: 65vw;
                top: 10vh;
                rotate: 180deg;
          
            }
            }
            &:focus {
                animation: explode 0.5s forwards;
                animation-iteration-count: initial;
                animation-fill-mode: forwards;
                position: absolute;
                left: 85vw;
                top: 10vh;
            }
        
            @keyframes explode {
                0% {
                    width: 3vw;
                    height: 8vh;
                    opacity: 1;
                    border-radius: 50%;
                    
                }
                50% {
                    width: 3.6vw;
                    height: 9.6vh;
                    opacity: 0.5;
                    border-radius: 48%;
               
                }
                100% {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    border-radius: 0;
                }
            }
        
            &:focus::after{
                display: none;
            }
}
    &__baloongreen{
        width: 3vw;
        height: 8vh;
        border-radius: 50%;
        background-color: rgb(43, 214, 27);
        position: absolute;
        left: 50vw;
        top: 90vh;
        animation-name: greenb;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        cursor: pointer;
        

        @keyframes greenb{
            from{
                left: 50vw;
                top: 140vh;
                rotate: 0deg;
              
            }
            to{
                left: 55vw;
                top: 10vh;
                rotate: 180deg;
          
            }
            }
            &:focus {
                animation: explode 0.5s forwards;
                animation-iteration-count: initial;
                animation-fill-mode: forwards;
                position: absolute;
                left: 85vw;
                top: 10vh;
            }
        
            @keyframes explode {
                0% {
                    width: 3vw;
                    height: 8vh;
                    opacity: 1;
                    border-radius: 50%;
                    
                }
                50% {
                    width: 3.6vw;
                    height: 9.6vh;
                    opacity: 0.5;
                    border-radius: 48%;
               
                }
                100% {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    border-radius: 0;
                }
            }
        
            &:focus::after{
                display: none;
            }
}
    &__baloonblue{
        width: 3vw;
        height: 8vh;
        border-radius: 50%;
        background-color: rgb(47, 25, 253);
        position: absolute;
        left: 20vw;
        top: 90vh;
        animation-name: blueb;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        cursor: pointer;
        

        @keyframes blueb{
            from{
                left: 20vw;
                top: 85vh;
                rotate: 0deg;
              
            }
            to{
                left: 15vw;
                top: 10vh;
                rotate: 180deg;
          
            }
            }
            &:focus {
                animation: explode 0.5s forwards;
                animation-iteration-count: initial;
                animation-fill-mode: forwards;
                position: absolute;
                left: 85vw;
                top: 10vh;
            }
        
            @keyframes explode {
                0% {
                    width: 3vw;
                    height: 8vh;
                    opacity: 1;
                    border-radius: 50%;
                    
                }
                50% {
                    width: 3.6vw;
                    height: 9.6vh;
                    opacity: 0.5;
                    border-radius: 48%;
               
                }
                100% {
                    width: 0;
                    height: 0;
                    opacity: 0;
                    border-radius: 0;
                }
            }
        
            &:focus::after{
                display: none;
            }
    }

&__baloonpurple{
    width: 3vw;
    height: 8vh;
    border-radius: 50%;
    background-color: rgb(230, 34, 213);
    position: absolute;
    left: 20vw;
    top: 90vh;
    animation-name: purpleb;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;
    

    @keyframes purpleb{
        from{
            left: 40vw;
            top: 82vh;
            rotate: 0deg;
          
        }
        to{
            left: 30vw;
            top: 10vh;
            rotate: 180deg;
      
        }
        }
        &:focus {
            animation: explode 0.5s forwards;
            animation-iteration-count: initial;
            animation-fill-mode: forwards;
            position: absolute;
            left: 85vw;
            top: 10vh;
        }
    
        @keyframes explode {
            0% {
                width: 3vw;
                height: 8vh;
                opacity: 1;
                border-radius: 50%;
                
            }
            50% {
                width: 3.6vw;
                height: 9.6vh;
                opacity: 0.5;
                border-radius: 48%;
           
            }
            100% {
                width: 0;
                height: 0;
                opacity: 0;
                border-radius: 0;
            }
        }
    
        &:focus::after{
            display: none;
        }
}

&__baloonblack{
    width: 3vw;
    height: 8vh;
    border-radius: 50%;
    background-color: rgb(24, 23, 32);
    position: absolute;
    left: 30vw;
    top: 90vh;
    animation-name: blackb;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;
    
    @keyframes blackb{
        from{
            left: 25vw;
            top: 110vh;
            rotate: 0deg;
          
        }
        to{
            left: 15vw;
            top: 10vh;
            rotate: 180deg;
      
        }
        }
        &:focus {
            animation: explode 0.5s forwards;
            animation-iteration-count: initial;
            animation-fill-mode: forwards;
            position: absolute;
            left: 85vw;
            top: 10vh;
        }
    
        @keyframes explode {
            0% {
                width: 3vw;
                height: 8vh;
                opacity: 1;
                border-radius: 50%;
                
            }
            50% {
                width: 3.6vw;
                height: 9.6vh;
                opacity: 0.5;
                border-radius: 48%;
           
            }
            100% {
                width: 0;
                height: 0;
                opacity: 0;
                border-radius: 0;
            }
        }
    
        &:focus::after{
            display: none;
        }
        
}

}


































