$animation-duration: 10s;
@mixin animation{
    animation-duration: $animation-duration;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(.62,1.11,.8,.12);
    animation-fill-mode: forwards;
}
@mixin baloon($color){
    width: 50px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 5px 5px 8px grey;
    background-color: $color;
    cursor: pointer;
}
@mixin hover{
    transition: scale 1s ease-in-out;
    transition: background-color 50ms ease-in;
    transition: border 50ms ease-in;
    &:hover{
        scale: 0.8;
    }
    &:focus{
        display: none;
    }
  
}
@mixin ball($delay){
    animation-name: ball;
        animation-duration: 2s;
        animation-delay: $delay;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        @keyframes ball {
          0%{
            background-color: red;

          }
          15%{
            background-color: rgb(219, 191, 32);
          }
          30%{
            background-color: rgb(22, 37, 255);
          }
          45%{
            background-color: rgb(218, 8, 218);
          }
          60%{
            background-color: rgb(12, 204, 194);
          }
          75%{
            background-color: rgb(22, 161, 80);
          }
          90%{
            background-color: rgb(73, 133, 4);
          }
          100%{
            background-color: rgb(243, 196, 255);
          }
       
          }
        }
        

body{
    align-items: center;

    overflow: hidden;
    }
#myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    
      }
#start{
    color: rgb(17, 10, 10);
    font-size: 200px;
    position: absolute;
    left: 32vw;
    top: 20vh;
    opacity: 0;
    animation-name: name;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;

    @keyframes name {
        0%{
            opacity: 0;
            color: aqua;
        }
        20%{
            opacity: 1;
            color: red;
        }
        40%{
            color: rgb(0, 255, 106);
        }
        60%{
            color: rgb(194, 15, 164);
        }
        100%{
            opacity: 0;
            color: yellow;
        }
    }





}
.parent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 3vw;
    top: 3vh;
    width: 11vw;

    &__first{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(0);
        
    }
    &__second{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(50ms);
    }
    &__third{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(100ms);
    }
    &__firth{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(150ms);
    }
    &__fifth{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(200ms);
    }
    &__six{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(250ms);
    }
    &__seven{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(300ms);
    }
    &__eight{
        background-color:red;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        @include ball(350ms);
    }


}

#header{
    position: absolute;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 3vw;
    top: 1vh;
    text-shadow: 2px 2px rgb(202, 111, 111);
   
    animation-name: color;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    @keyframes color {
        from{
            color: rgb(219, 132, 132);

        }
        to{
            color: yellow;

        }
        
    }
}

.container{
    width: 90%;
    height: 90vh;
    overflow: hidden;





    &__baloon1{
       @include hover;
        @include baloon(red);
        bottom: -100px;
        left: 6px;
        animation-name: redb;
        @include animation;

        @keyframes redb{
            from{
                bottom: -100px;
                left: 6px;
                rotate: 0deg;

            }
            to{
                bottom: 105vh;
                left: 26px;
                rotate: 360deg;
            }
        }
    }

    &__baloon2{
        @include hover;
        @include baloon(rgb(12, 199, 37));
        bottom: -100px;
        left: 100px;
        animation-name: greenb;
        @include animation;

        @keyframes greenb{
            from{
                bottom: -100px;
                left: 200px;
                rotate: 0deg;

            }
            to{
                bottom: 105vh;
                left: 220px;
                rotate: 360deg;
            }
        }
    }

    &__baloon3{
        @include hover;
         @include baloon(rgb(61, 63, 206));
         bottom: -100px;
         left: 400px;
         animation-name: purpleb;
         @include animation;
 
         @keyframes purpleb{
             from{
                 bottom: -100px;
                 left: 400px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 420px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon4{
        @include hover;
         @include baloon(rgb(26, 194, 180));
         bottom: -100px;
         left: 600px;
         animation-name: theletb;
         @include animation;
 
         @keyframes theletb{
             from{
                 bottom: -100px;
                 left: 600px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 620px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon5{
        @include hover;
         @include baloon(rgb(207, 22, 207));
         bottom: -100px;
         left: 800px;
         animation-name: roseb;
         @include animation;
 
         @keyframes roseb{
             from{
                 bottom: -100px;
                 left: 800px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 820px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon5{
        @include hover;
         @include baloon(rgb(54, 212, 107));
         bottom: -100px;
         left: 850px;
         animation-name: turkizb;
         @include animation;
 
         @keyframes turkizb{
             from{
                 bottom: -100px;
                 left: 850px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 870px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon6{
        @include hover;
         @include baloon(rgb(182, 228, 19));
         bottom: -100px;
         left: 1000px;
         animation-name: yellb;
         @include animation;
 
         @keyframes yellb{
             from{
                 bottom: -100px;
                 left: 1000px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 1020px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon7{
        @include hover;
         @include baloon(rgb(55, 61, 41));
         bottom: -100px;
         left: 1200px;
         animation-name: brownb;
         @include animation;
 
         @keyframes brownb{
             from{
                 bottom: -100px;
                 left: 1200px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 1220px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon8{
        @include hover;
         @include baloon(rgb(0, 0, 0));
         bottom: -100px;
         left: 1400px;
         animation-name: blackb;
         @include animation;
 
         @keyframes blackb{
             from{
                 bottom: -100px;
                 left: 1400px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 1420px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon9{
        @include hover;
         @include baloon(rgb(255, 244, 244));
         bottom: -100px;
         left: 1400px;
         animation-name: whiteb;
         @include animation;
 
         @keyframes whiteb{
             from{
                 bottom: -100px;
                 left: 1550px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 1570px;
                 rotate: 360deg;
             }
         }
     }

     &__baloon10{
        @include hover;
         @include baloon(rgb(236, 131, 201));
         bottom: -100px;
         left: 1400px;
         animation-name: gumb;
         @include animation;
 
         @keyframes gumb{
             from{
                 bottom: -100px;
                 left: 1700px;
                 rotate: 0deg;
 
             }
             to{
                 bottom: 105vh;
                 left: 1720px;
                 rotate: 360deg;
             }
         }
     }
}