body {
  align-items: center;
  overflow: hidden;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#start {
  color: rgb(17, 10, 10);
  font-size: 200px;
  position: absolute;
  left: 32vw;
  top: 20vh;
  opacity: 0;
  -webkit-animation-name: name;
          animation-name: name;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes name {
  0% {
    opacity: 0;
    color: aqua;
  }
  20% {
    opacity: 1;
    color: red;
  }
  40% {
    color: rgb(0, 255, 106);
  }
  60% {
    color: rgb(194, 15, 164);
  }
  100% {
    opacity: 0;
    color: yellow;
  }
}
@keyframes name {
  0% {
    opacity: 0;
    color: aqua;
  }
  20% {
    opacity: 1;
    color: red;
  }
  40% {
    color: rgb(0, 255, 106);
  }
  60% {
    color: rgb(194, 15, 164);
  }
  100% {
    opacity: 0;
    color: yellow;
  }
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 3vw;
  top: 3vh;
  width: 11vw;
}
.parent__first {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@-webkit-keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
.parent__second {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
.parent__third {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
.parent__firth {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
.parent__fifth {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
.parent__six {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
.parent__seven {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}
.parent__eight {
  background-color: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  -webkit-animation-name: ball;
          animation-name: ball;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
@keyframes ball {
  0% {
    background-color: red;
  }
  15% {
    background-color: rgb(219, 191, 32);
  }
  30% {
    background-color: rgb(22, 37, 255);
  }
  45% {
    background-color: rgb(218, 8, 218);
  }
  60% {
    background-color: rgb(12, 204, 194);
  }
  75% {
    background-color: rgb(22, 161, 80);
  }
  90% {
    background-color: rgb(73, 133, 4);
  }
  100% {
    background-color: rgb(243, 196, 255);
  }
}

#header {
  position: absolute;
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  left: 3vw;
  top: 1vh;
  text-shadow: 2px 2px rgb(202, 111, 111);
  -webkit-animation-name: color;
          animation-name: color;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes color {
  from {
    color: rgb(219, 132, 132);
  }
  to {
    color: yellow;
  }
}
@keyframes color {
  from {
    color: rgb(219, 132, 132);
  }
  to {
    color: yellow;
  }
}

.container {
  width: 90%;
  height: 90vh;
  overflow: hidden;
}
.container__baloon1 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: red;
  cursor: pointer;
  bottom: -100px;
  left: 6px;
  -webkit-animation-name: redb;
          animation-name: redb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon1:hover {
  scale: 0.8;
}
.container__baloon1:focus {
  display: none;
}
@-webkit-keyframes redb {
  from {
    bottom: -100px;
    left: 6px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 26px;
    rotate: 360deg;
  }
}
@keyframes redb {
  from {
    bottom: -100px;
    left: 6px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 26px;
    rotate: 360deg;
  }
}
.container__baloon2 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(12, 199, 37);
  cursor: pointer;
  bottom: -100px;
  left: 100px;
  -webkit-animation-name: greenb;
          animation-name: greenb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon2:hover {
  scale: 0.8;
}
.container__baloon2:focus {
  display: none;
}
@-webkit-keyframes greenb {
  from {
    bottom: -100px;
    left: 200px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 220px;
    rotate: 360deg;
  }
}
@keyframes greenb {
  from {
    bottom: -100px;
    left: 200px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 220px;
    rotate: 360deg;
  }
}
.container__baloon3 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(61, 63, 206);
  cursor: pointer;
  bottom: -100px;
  left: 400px;
  -webkit-animation-name: purpleb;
          animation-name: purpleb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon3:hover {
  scale: 0.8;
}
.container__baloon3:focus {
  display: none;
}
@-webkit-keyframes purpleb {
  from {
    bottom: -100px;
    left: 400px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 420px;
    rotate: 360deg;
  }
}
@keyframes purpleb {
  from {
    bottom: -100px;
    left: 400px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 420px;
    rotate: 360deg;
  }
}
.container__baloon4 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(26, 194, 180);
  cursor: pointer;
  bottom: -100px;
  left: 600px;
  -webkit-animation-name: theletb;
          animation-name: theletb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon4:hover {
  scale: 0.8;
}
.container__baloon4:focus {
  display: none;
}
@-webkit-keyframes theletb {
  from {
    bottom: -100px;
    left: 600px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 620px;
    rotate: 360deg;
  }
}
@keyframes theletb {
  from {
    bottom: -100px;
    left: 600px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 620px;
    rotate: 360deg;
  }
}
.container__baloon5 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(207, 22, 207);
  cursor: pointer;
  bottom: -100px;
  left: 800px;
  -webkit-animation-name: roseb;
          animation-name: roseb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon5:hover {
  scale: 0.8;
}
.container__baloon5:focus {
  display: none;
}
@-webkit-keyframes roseb {
  from {
    bottom: -100px;
    left: 800px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 820px;
    rotate: 360deg;
  }
}
@keyframes roseb {
  from {
    bottom: -100px;
    left: 800px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 820px;
    rotate: 360deg;
  }
}
.container__baloon5 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(54, 212, 107);
  cursor: pointer;
  bottom: -100px;
  left: 850px;
  -webkit-animation-name: turkizb;
          animation-name: turkizb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon5:hover {
  scale: 0.8;
}
.container__baloon5:focus {
  display: none;
}
@-webkit-keyframes turkizb {
  from {
    bottom: -100px;
    left: 850px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 870px;
    rotate: 360deg;
  }
}
@keyframes turkizb {
  from {
    bottom: -100px;
    left: 850px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 870px;
    rotate: 360deg;
  }
}
.container__baloon6 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(182, 228, 19);
  cursor: pointer;
  bottom: -100px;
  left: 1000px;
  -webkit-animation-name: yellb;
          animation-name: yellb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon6:hover {
  scale: 0.8;
}
.container__baloon6:focus {
  display: none;
}
@-webkit-keyframes yellb {
  from {
    bottom: -100px;
    left: 1000px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1020px;
    rotate: 360deg;
  }
}
@keyframes yellb {
  from {
    bottom: -100px;
    left: 1000px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1020px;
    rotate: 360deg;
  }
}
.container__baloon7 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(55, 61, 41);
  cursor: pointer;
  bottom: -100px;
  left: 1200px;
  -webkit-animation-name: brownb;
          animation-name: brownb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon7:hover {
  scale: 0.8;
}
.container__baloon7:focus {
  display: none;
}
@-webkit-keyframes brownb {
  from {
    bottom: -100px;
    left: 1200px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1220px;
    rotate: 360deg;
  }
}
@keyframes brownb {
  from {
    bottom: -100px;
    left: 1200px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1220px;
    rotate: 360deg;
  }
}
.container__baloon8 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  bottom: -100px;
  left: 1400px;
  -webkit-animation-name: blackb;
          animation-name: blackb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon8:hover {
  scale: 0.8;
}
.container__baloon8:focus {
  display: none;
}
@-webkit-keyframes blackb {
  from {
    bottom: -100px;
    left: 1400px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1420px;
    rotate: 360deg;
  }
}
@keyframes blackb {
  from {
    bottom: -100px;
    left: 1400px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1420px;
    rotate: 360deg;
  }
}
.container__baloon9 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(255, 244, 244);
  cursor: pointer;
  bottom: -100px;
  left: 1400px;
  -webkit-animation-name: whiteb;
          animation-name: whiteb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon9:hover {
  scale: 0.8;
}
.container__baloon9:focus {
  display: none;
}
@-webkit-keyframes whiteb {
  from {
    bottom: -100px;
    left: 1550px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1570px;
    rotate: 360deg;
  }
}
@keyframes whiteb {
  from {
    bottom: -100px;
    left: 1550px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1570px;
    rotate: 360deg;
  }
}
.container__baloon10 {
  transition: scale 1s ease-in-out;
  transition: background-color 50ms ease-in;
  transition: border 50ms ease-in;
  width: 50px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 5px 5px 8px grey;
  background-color: rgb(236, 131, 201);
  cursor: pointer;
  bottom: -100px;
  left: 1400px;
  -webkit-animation-name: gumb;
          animation-name: gumb;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
          animation-timing-function: cubic-bezier(0.62, 1.11, 0.8, 0.12);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.container__baloon10:hover {
  scale: 0.8;
}
.container__baloon10:focus {
  display: none;
}
@-webkit-keyframes gumb {
  from {
    bottom: -100px;
    left: 1700px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1720px;
    rotate: 360deg;
  }
}
@keyframes gumb {
  from {
    bottom: -100px;
    left: 1700px;
    rotate: 0deg;
  }
  to {
    bottom: 105vh;
    left: 1720px;
    rotate: 360deg;
  }
}/*# sourceMappingURL=style.css.map */