body {
    direction: ltr;
}

.wrapper {
    width: 600px;
    margin: auto;
    border: 1px solid black;
}

.task1 {
    border: 2px solid black;

    .row {
        display: flex;
    }

    .column {
        flex: 25%;
        padding: 5px;
    }
}

.task2 {
    border: 2px solid black;
    display: flex;
    position: relative;
    .one {
        position: absolute;
        left: 300px;
        top: 10px;
    }

    .two {
        position: absolute;
        left: 320px;
        top: 30px;
    }

    .ybo {
        position: absolute;
        left: 280px;
        top: 30px;
    }

    .end{
        height: 200px;
    }

}

.task3 {
    border: 2px solid black;
}


.moved {
    position: relative;
    top: 40px;
    left: 40px;
}