.wrapper {
    position: relative;
    background-image: url(./src/checkers-board.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 950px;
    height: 950px;
    padding: 20px;

    .pawn {
        position: absolute;
        transition: all 100ms ease-in-out;
        border-radius: 50%;
        // background-color: black;
        border: 2px solid white;
        box-shadow: 2px 2px 4px rgb(139, 139, 139);
        width: 80px;
        height: 80px;
    }

    #pawn1 {
        background-color: rgb(231, 139, 190);
    }

    #pawn2 {
        left: 270px;
        background-color: rgb(139, 207, 231);
    }

}