.wrapper
    position: relative
    h3
        text-align: center

    .boxes,.pics,.dogs
        display: flex
        gap: 10px
        justify-content: center

        .pic,.box img,.dog

            width: 100px
            height: 100px
    // .pics
    //     .pic
            // background-color: 
    .pics
        .pic
            // background-image: url('./dist/img.png')
            background-size: cover
body
    margin: 0
    padding: 0
    overflow: hidden
    background-color: #77dd77
    .dogs
        // display: flex
        
    .dog
        // margin-top: 50px
        top:500px
        position: absolute
        transform: translate(-50%,-50%)
        height: 35px
        width: 35px
        border-radius: 50%
        border: 1px solid lightgreen
        background-size: cover
