.wrapper
    h3
        text-align: center

    .boxes,.pics
        display: flex
        gap: 10px
        justify-content: center

        .pic,.box img

            width: 100px
            height: 100px
    // .pics
    //     .pic
            // background-color: 
    .pics
        .pic
            // background-image: url('./dist/img.png')
            background-size: cover
