
*{
    margin: 0;
    padding: 0;
}
$header-color: black;
$white-color:white;
$font-size-15:15px;
$Assistant: 'Assistant', sans-serif;



.header{
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    background-color: $header-color;
    align-items: center;
    padding: 10px;
    font-weight: 700;
   
  
    
    
}
.hr{
height: 3vh;  
 margin-left: 110px;
}
.user{
    fill: $white-color;
    width: 150px;
    height: 3.5vh;
    margin-left: -50px;



}
.sing{
   
    background-color: $header-color;
    color: $white-color;
    margin-left: -60px;
    font-weight: 700;

  
  
border: none;
 font-family: $Assistant;
 font-size: $font-size-15;
 
}
.logo{
    width: 140px;
    height: 6vh;
    padding-left: 110px;
 
}
.nav{
    font-family: $Assistant;
 font-size: $font-size-15;
 color: $white-color;
 
 

}
a{
    color: $white-color;
    cursor: pointer;
    text-decoration: none;
padding-left: 35px; 
font-weight: 700; 


}
a:hover {
    color: $white-color;
    cursor: pointer;
    text-decoration:underline;



}
.Search {
    font-family: $Assistant;
 font-size: $font-size-15;
 color: $white-color;
 background-color: #3b3d3f;
 margin-left: 20px;
 padding: 10px 45px 10px 5px;
 border: none;
 font-weight: 700; 
}
.Search::placeholder{
    color: $white-color;
}

.ads{
    height: 35vh;
    background-color:#eeeeee;
    padding-top: 20px;
    padding-bottom: 10px;
    
}

    .ad{
  font-family: $Assistant;
  font-size: $font-size-15;
  font-weight: 600;
  color: #3b3d3f;
  margin-left: 1040px;
 

}
.ad:hover{
    text-decoration: underline;}

 

    
    .img{
        height: 30vh;
        justify-content: center;
        display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.welcome{
    display: flex;
    margin: auto;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: $font-size-15;
    }
.BBC{
    font-family: $Assistant;
  font-size:  24px;
  font-weight: 700;
color:#4a4a4a;
position: absolute;
left: 150px;
}
.date{
    font-family: $Assistant;
    font-size:  24px;
    font-weight: 400;
  color:#8c8c8c;
  position: absolute;
right: 130px;
}
.row {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
    padding-top: 20px;
    justify-content: space-between;

  }
  
  .column {
    flex: 25%;
    max-width:25%;
   

  }
.main{
    flex: 50%;
    max-width: 50%;
    padding-top: 5px ;



}
.big{
    width: 600px;
    height: 330px;
    
 
}
.normal{
    width: 335px;
    height: 160px;
    padding-top: 5px;
    


}
.heading{
    font-family: $Assistant;
    font-weight: 600;
    font-size: 33px;
    color: $white-color;
    position: absolute;
    bottom: 40px;
    padding: 0px 25px 0px 25px;
    text-shadow:3px 3px 8px  #000203f6;
    line-height:1em ;

}
.description{
    font-family: $Assistant;
    font-weight: 500;
    font-size: 16.5px;
    color: rgb(209, 209, 209);
    position: absolute;
    bottom: -5px;
    padding: 0px 25px 0px 25px;
    text-shadow:3px 3px 8px  #000203f6;
}

.country{
    font-family: $Assistant;
    font-weight: 300;
    font-size: 15px;
    color: #eeeeee;
    position: absolute;
    bottom: -25px;
    padding: 0px 25px 0px 25px;
    text-shadow:3px 3px 8px  #000203f6;
}
.red{
    position: absolute;
    bottom: -25px;
    padding: 0px 25px 0px 25px;
    background-color: #ff0000;
}
.flex{
    display: flex;
}




  
