body {
  background: #a7d0e2;
  position: relative;
  img{
    width: 100px;
    height: 100%;
    animation: fly infinite; 
  }
  img:hover{
    width: 108px;
    height: 100%;
  }
  @keyframes fly{
    
  }
  #b1{
    position: absolute;
  }
  #b2{
    position: absolute;
  }
  #b3{
    position: absolute;
  }
  #b4{
    position: absolute;
  }
  #b5{
    position: absolute;
  }
  #b6{
    position: absolute;
  }
  #b7{
    position: absolute;
  }
}
