.box{
    background-color: purple;
    margin: 0 auto;
    width: 80%;
    height: auto;

    .p{
        color: gold;
        font-size: larger;
    }

    img{
        width: 20%;
        height: 50%;
    }
}