*{
    margin: 0;
    padding: 0;
}
.body{
    margin: 1em;
}
.wrapper{
  gap: 5px;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center;
}
.titel{
    position: sticky;
    top: 1px;
    background-color: white;
    display: flex;
    height: 8vh;
    width: 100%;
    flex-direction: row-reverse;
    justify-content:space-between;
    gap: 10px;
    align-items: center;
    
    .redIcon{
        width:35px;
        height: 35px;
    }

    .home{
        width:110px;
        height: 46px;
        white-space: nowrap;
        border-radius: 24px;
        text-align: center;
        padding-top: 14px;
        font-size: 30px;
    }
    .contact{
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        .arrow {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            margin:12px;
          }
          .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
    }
    .search{
        display: flex;
        flex-direction: row-reverse;
        text-align: center;
        justify-content: space-around;
        width: 770px;
        height: 35px;
        border: 1px solid rgb(167, 164, 164);
        background-color: gray;
        border-radius: 13px;
        
        .logo{
            padding: 10px;
        }
        input{
            width: 740px;
            border: none;
            background-color: gray;
            border-radius: 13px;
        }
    }
        .smallIcons{
            display: flex;
            flex-direction: row-reverse;
            text-align: center;
            justify-content: space-around;
            align-items: center;
   
            width: 550px;
            .arrow {
                border: solid black;
                border-width: 0 2px 2px 0;
                display: inline-block;
                padding: 4px;
                margin: 2px;
              }
              .down {
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
              .user1{
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background-color: gray;
                display: flex;
                align-items: center;
                text-align: center;
                p{
                    text-align: center;
                    text-align: center;
                }
              }
            }
    }
    img{
        max-width: 236px;
        object-fit: cover;
    }
    .galery{
    
      columns: 6 300px;
      column-gap: 0.5em;
    
     
    
        //      .pic1{
        //       background-image: url(https://i.pinimg.com/236x/a4/8b/8f/a48b8f4f6479575c1675086920a624d6.jpg);
        //      }
        //      .pic2{
        //       background-image: url(https://i.pinimg.com/originals/30/2b/df/302bdf53ac8fb5022480fd2fe37f1904.gif);
        //   }
        //       .pic3{
        //           background-image: url(https://i.pinimg.com/236x/6c/3e/da/6c3eda891a0842d34e0c51b7139fb616.jpg);
        //          }
        //          .pic4{
        //           background-image: url(https://i.pinimg.com/236x/47/8d/55/478d55700f0cdf00d5550882c7339074.jpg);
        //          }
        //          .pic5{
        //           background-image: url(https://i.pinimg.com/236x/6c/3e/da/6c3eda891a0842d34e0c51b7139fb616.jpg);
        //          }
        //          .pic6{
        //           background-image: url(https://i.pinimg.com/originals/9d/72/5f/9d725fe7ec601fb2744d8d704f402a10.gif);
        //          }
        //          .pic7{
        //           background-image: url(https://i.pinimg.com/236x/0e/ef/f1/0eeff1dfa68f04c96409cb876770d66a.jpg);
        //          }
        //          .pic8{
        //           background-image: url(https://i.pinimg.com/originals/d3/ca/0b/d3ca0bbc8f9cde68704c1bcecdf5b926.gif);
        //          }
        //          .pic9{
        //           background-image: url(https://i.pinimg.com/236x/c1/7e/e2/c17ee24ef27c6eb36c1d1a29cf33238a.jpg);
        //          }
        //          .pic10{
        //           background-image: url(https://i.pinimg.com/originals/f1/b3/c2/f1b3c2da6cdccca34c176650d1a96352.gif);
        //          }
        //          .pic11{
        //           background-image: url(https://i.pinimg.com/236x/35/07/d0/3507d077846710a011f48dc4cabf1306.jpg);
        //          }
        //          .pic12{
        //           background-image: url(https://i.pinimg.com/236x/43/38/07/433807778dd16dfb30f10b693f3d5143.jpg);
        //          }
        //          .pic13{
        //           background-image: url(https://i.pinimg.com/236x/0b/ba/e5/0bbae546a5eeb1cc0b110734e2ce3644.jpg);
        //          }
        //          .pic14{
        //           background-image: url(https://i.pinimg.com/236x/d1/4f/62/d14f6288c2b2057b0f304fad671b336a.jpg);
        //          }
        //          .pic15{
        //           background-image: url(https://i.pinimg.com/236x/de/3b/4f/de3b4f415756ca4dcb113f4856b7e616.jpg);
        //          }
        //          .pic16{
        //           background-image: url(https://i.pinimg.com/236x/71/48/50/7148503a07bfdc8ef661211a8c786900.jpg);
        //          }
      
             }
      
      
  
      
         
          
    


