@mixin fadein($delay) {
    animation: fade ease-in $delay;

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}

body {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/306/908/890/spots-background-light-dark-wallpaper-preview.jpg);
    background-size: cover;
    overflow: hidden;
    transition: all 100ms ease-in-out;
}

.songWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28vh;
    

    &__img {
        width: 50vw;
        height: 60vh;
        border-radius: 10px;
        cursor: pointer;
        transition: all 200ms ease-in-out;
        @include fadein(0.5s);


        &:active {
            transform: scale(1.08);
        }

    }

    &__name {
        font-size: 30px;
        color: rgb(200, 231, 22);
        font-family: sans-serif;
        @include fadein(0.8s);


    }

    &__artist {
        font-size: 14px;
        color: rgb(0, 0, 0);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-decoration: underline;
        transition: all 100ms ease-in-out;
        border-radius: 15px;
        cursor: pointer;
        &:hover{
            background-color: rgb(151, 199, 199);
        }
       

    }

}

#playicon {
    position: relative;
    bottom: 30vh;
    color: rgb(146, 185, 219);
    transition: all 100ms ease-in-out;
    @include fadein(0.8s);



}

#pauseicon {
    position: relative;
    bottom: 30vh;
    color: rgb(211, 81, 161);
    transition: all 100ms ease-in-out;
    animation: rotate 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
    @include fadein(0.8s);


    @keyframes rotate {
       0% {
            transform: rotate(0turn);
            scale: 1;
            
        }

        50% {
            transform: rotate(1turn);
            scale: 1.5;
            
        }
        100%{
            transform: rotate(2turn);
            scale: 1;
        }


    }
}

#progress {
    width: 0vw;
    height: 2vh;
    background: rgb(71, 146, 218);
    background: linear-gradient(0deg, rgba(71, 146, 218, 1) 14%, rgba(236, 75, 102, 1) 92%);
    position: absolute;
    bottom: 26vh;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    z-index: 1;
    @include fadein(0.5s);

   
    
}

.loaderline {
    width: 100vw;
    height: 2vh;
    background-color: aliceblue;
    position: absolute;
    bottom: 26vh;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    z-index: 0;
    @include fadein(0.5s);

}

#time {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(31, 13, 24);
    transition: all 100ms ease-in-out;
    z-index: 2;
    position: relative;
    top: 1.2vh;
    margin-top: 2vh;
    @include fadein(0.5s);

}

#MainPageWrapper__suggested__songPage {
    position: absolute;
    bottom: 10px;
    left: 0;
    
    
}
#homeicon{
    position: absolute;
    left: 2vw;
    top: 2vw;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover{
        background-color: aqua;
        transform: scale(1.1) rotate(20deg);
    }
    &:active{
        transform: scale(1.2);
    }

}
.download{
    position: absolute;
    left: 4vw;
    top: 1.4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(14, 83, 60);
    text-decoration: none;
    font-size: 20px;
    transition: all 200ms ease-in-out;
    border-radius: 10px;
    &:hover{
        background-color: aqua;
    }
}
.headline{
    font-size: 2vw;
        background: rgb(207, 238, 210);
        background: linear-gradient(0deg, rgba(207, 238, 210, 1) 15%, rgba(176, 212, 241, 1) 85%);
        border-radius: 10px;
        font-family: fantasy;
        position: absolute;
        top: 0;
        right: 3vw;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        &:hover{
            transform: scale(1.02);
        }
}
#heart{
    width: 20px;
    position: absolute;
    top: 4vh;
    left: 42vw;
    transition: all 100ms ease-in-out;
    cursor: pointer;
    &:hover{
        transform: scale(1.04) rotate(20deg);
        color: rgb(238, 102, 68);
    }
}