$fontSize: 14px;
$fontA: 'arial', sans-serif;
$fontR: 'Roboto', sans-serif;
$paddingLeft: 10%;
$fontGray: rgb(108, 107, 107);

 body{
    margin: 0;
 }

//Eliyaho - headder

.headder {
    background-color: black;
    color: white;
    width: 100%;
    &__logo {
        img {
            width: 80px;
        }
    }
}  

//Roman - main


//Liran - articles
.wrapper{
    width: 85%;
    margin: auto;
    
    .articles{
        font-family: $fontA;
        display: flex;
        width: 70%;
    
        &__news{
            align-content: space-between;
            width: 33%;
            padding-bottom: 20px;
        }

        img{
            margin-bottom: -12px;
        }
    
    }
    
    .section{
        padding-left: 5px;
        border-left: 4px solid;
        font-family:$fontR;
        color: rgb(76, 74, 74);
    }

    .red{
        border-color: red;
    }

    .yellow{
        border-color: yellow;
    }

    .blue{
        border-color: blue;
    }
    h3{
        width: 95%;
        text-align: left;
        height: 15%;
    }
    
    P{
        color: rgb(58, 56, 56); 
        width: 95%;
        height: 20%;
        padding-bottom: 5%;
        
    }  
    
    a{
        padding-left: 5px;
        border-left: 2px solid;
        text-decoration: none;
        color: rgb(133, 129, 129);
        font-size: $fontSize;
        border-color: black;

    }
}

// second page


.containe{
    display: flex;
    flex-direction: column;
    width: 100%;
    .sectionHeadder{
        background-color: rgb(201, 5, 5);
        color: white;
        font-family:'arial';
        align-content: center;
        h1{
            font-family: $fontR;
            padding: 5px 0 5px $paddingLeft;
            border-bottom: 1px solid;
            margin-top:0;
            margin-bottom: 0;
        }

        ul{
            padding-left: $paddingLeft;
            display: flex;
            gap: 5px;
            list-style: none;
            margin-right: 0;
            width: 60%;
            li{
                border-right: 1px solid;
                padding-right: 5px;
            }
        }

        &__categories{
            &--white{
                background-color: white;
                color: black;
            }
        }

   }
}

.manu{
     display: flex;
     gap: 300px;
     .bars{
        border-left: 1px solid;
        display: flex;
        justify-items: center;
        padding-left: 10px;
        gap: 2px;
     }
}

.article{
    display: flex;
    flex-direction: column;
    padding-left: $paddingLeft;
    font-family: 'arial';
    width: 65%;
    color: black;

    &__timeSignature{
        display: flex;
        gap: 4px;
        font-size: small;
        color: $fontGray;
    }

    &__subTitle{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-start;
        padding-bottom: 40px;
        a{
            text-decoration: none;
            font-weight: bold;
            color: black;
            background-color: rgb(249, 247, 247);
            padding: 8px 16px;
        }
        a:hover{
            color: red;
            text-decoration: underline;
        }

        i{
            background-color: red;
            color: white;
            padding: 8px 10px;
        }

        
    }

    &__body{
        .longText{
            color: black;
            font-size: medium;
            line-height: 1.2rem;
        }
        width: 90%;
        li{
            text-decoration: underline;
            font-weight: bold;
        }
        p{
            font-size: smaller;
            color: $fontGray;
        }

        img{
            width: 800px;
            height: 450px;
        }

        &--img{
            p{
                border-left: 1px solid;
                padding-left: 10px;
                margin-top: 7px;
            }
        }

        &--text{
            h6{
                font-weight: bold;
                margin-bottom: 0;
            }
           

            
        }
    }


}


