$fontSize: 14px;
$fontA: 'arial', sans-serif;
$fontR: 'Roboto', sans-serif;
$paddingLeft: 10%;

 body{
    margin: 0;
 }

//Eliyaho - headder

.headder {
    font-family: $fontA;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    width: 100%;
    height: 64px;
    &__logo {
        padding-left: 10px;
        img {
            width: 120px;
        }
    }
    &__signIn{
        display: flex;
        align-items: center;
        height: 25px;
        &--profileImg {
            width: 40px;
            img {
                width: 36px;
                height: 36px;
                padding-left: 10px;
            }
        }    
        &--txt {
            padding-right: 100px;
            padding-left: 5px;
            font-size: 15px;
            padding-left: 8px;
            border-right: 1.4px solid rgb(38, 38, 38);
        } 
    }
    &__navigation {
        ul{
            display: flex;
            // gap: 8px;
            list-style: none;
            justify-content: space-between;
            width: 630px;
            
        }

    }
    &__search {
        padding-left: 35px;
        display: flex;
        ::placeholder {
            font-size: 12px;
            padding-left: 20px;
            height: 80px;
            color: white;
            background-color: rgb(61, 60, 60);
        }
        h3 {
            background-color:rgb(47, 46, 46);
            height: 30px;
            padding-top: 8px;
           width: 200px;
           font-size: 14px;
           padding-left: 10px;
           margin-right: 20px;
        }
        }
    }

//Roman - main


//Liran - articles
.wrapper{
    width: 85%;
    margin: auto;

    .articles{
        font-family: $fontA;
        display: flex;
        width: 70%;
    
        &__news{
            align-content: space-between;
            width: 33%;
            padding-bottom: 20px;
        }

        img{
            margin-bottom: -12px;
        }
    
    }
    
    .section{
        padding-left: 5px;
        border-left: 4px solid;
        font-family:$fontR;
        color: rgb(76, 74, 74);
    }

    .red{
        border-color: red;
    }

    .yellow{
        border-color: yellow;
    }

    .blue{
        border-color: blue;
    }
    h3{
        width: 95%;
        text-align: left;
        height: 15%;
    }
    
    P{
        color: rgb(58, 56, 56); 
        width: 95%;
        height: 20%;
        padding-bottom: 5%;
        
    }  
    
    a{
        padding-left: 5px;
        border-left: 2px solid;
        text-decoration: none;
        color: rgb(133, 129, 129);
        font-size: $fontSize;
        border-color: black;

    }
}

// second page
.containe{
    display: flex;
    flex-direction: column;
    width: 100%;
    .sectionHeadder{
        background-color: rgb(201, 5, 5);
        color: white;
        font-family:'arial';
        align-content: center;
        h1{
            font-family: $fontR;
            padding: 5px 0 5px $paddingLeft;
            border-bottom: 1px solid;
            margin-top:0;
            margin-bottom: 0;
        }

        ul{
            padding-left: $paddingLeft;
            display: flex;
            gap: 5px;
            list-style: none;
            margin-right: 0;
            width: 60%;
            li{
                border-right: 1px solid;
                padding-right: 5px;
            }
        }

        &__categories{
            &--white{
                background-color: white;
                color: black;
            }
        }

   }
}

.manu{
     display: flex;
     
     gap: 300px;
     .bars{
        border-left: 1px solid;
        display: flex;
        justify-items: center;
        padding-left: 10px;
        gap: 2px;
     }
}


