.body{
    background-image:url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?w=996&t=st=1679396165~exp=1679396765~hmac=68a9bde092617b9a43d8643a910bc01221b4cc5c62e7d75fefdd0c2ebdec928b) ;
    background-size: cover;
}
.bg{
    width: 100%;
    height: 100vh;
}