@mixin flex($direction) {
    display: flex;
    flex-direction: row;
}

@mixin cursor {
    cursor: pointer;
}

@mixin showanimation($delay) {
    opacity: 0;
    animation-name: sevenshow;
    animation-iteration-count: 1;
    animation-delay: $delay;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes sevenshow {
        from {
            opacity: 0;

        }

        to {
            opacity: 1;
        }
    }
}

body {
    background-color: rgb(15, 12, 12);
    overflow-x: hidden;
}

.wrapper {
    width: 96%;
    height: fit-content;
    margin-left: 4vw;
    overflow: hidden;


}

.uppersection {
    width: 100;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://occ-0-300-420.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABZKJpdcSuvqwGBxBJNKVRze0JWHe9phJW6L1xaiqvLePPRKhRis-7FHr69URHZIYXqUVus0HIoz_3fLZPQr3VVqGGzRNlDoNkPwp.jpg?r=72d);

}




.header {
    @include flex(row);
    width: 100vw;
    height: 8vh;
    align-items: center;
    @include showanimation(0.8s);


    &__logo {
        height: 6vh;
        width: 7vw;
        @include cursor();
    }

    &__secheader {
        @include flex(row);
        align-items: center;
        margin-left: 3vw;
        gap: 2ch;
        font-size: 16px;
        color: rgb(198, 205, 212);

        &__little {
            @include cursor();
            transition: color 100ms ease-in-out;

            &:hover {
                color: white;
            }
        }
    }

    &__thirdheader {
        @include flex(row);
        width: 15vw;
        height: 2vh;
        align-items: center;
        margin-left: 24vw;
        justify-content: space-between;

    }


}

.search {
    position: relative;
    top: 1.8vh;
    width: 2vw;
    height: 3vh;
    background-color: transparent;
    @include cursor();
    transition: color 100ms ease-in-out;
    transition: scale 100ms ease-in-out;

    &:hover {
        scale: 1.2;
        color: bisque;
    }
}

#kids {
    color: white;
    transition: color 100ms ease-in-out;

    &:hover {
        color: bisque;
    }

    @include cursor();
}

.profileimg {
    width: 2vw;
    height: 4vh;
    @include cursor();
    transition: border 100ms ease-in-out;

    &:hover {
        border: 2px solid white;
    }
}

.sevenkingsgrid {
    display: flex;
    flex-direction: column;
    height: 30vh;
    position: absolute;
    top: 15vh;

    &__netflixfilm {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__Nlogo {
            height: 7vh;
            width: 3vw;
            @include showanimation(1s);
        }

        &__film {
            font-size: 15px;
            color: white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            @include showanimation(1s);
        }
    }

    &__SevenKings {
        height: 35vh;
        width: 32vw;
        @include showanimation(1s);

    }

    &__topten {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5vw;
        @include showanimation(2s);

        &__img {
            width: 1.2vw;
            height: 3vh;
            border-radius: 2px;
        }

        &__txt {
            font-size: 15px;
            color: white;
        }
    }
    &__playinfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2vh;
        gap: 1vw;
        @include showanimation(2.4s);

        &__play{
            display: flex;
            flex-direction: row;
            width: 7vw;
            height: 5vh;
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            @include cursor();
            align-items: center;
            justify-content: center;
            transition: scale 100ms ease-in-out;
            transition: color 100ms ease-in-out;
        &:hover{
            scale: 1.2;
            background-color:rgb(223, 213, 213) ;
        }

        }
        &__info{
            display: flex;
            flex-direction: row;
            width: 9vw;
            height: 5vh;
            border-radius: 4px;
            background-color: rgb(114, 110, 110);
            @include cursor();
            align-items: center;
            justify-content: center;
            padding-left: 2px;
            transition: scale 100ms ease-in-out;
            transition: color 100ms ease-in-out;

        &:hover{
            scale: 1.2;
            background-color:rgb(150, 144, 144) ;
        }

        }
    }

}
.txt{
    color: white;
    @include showanimation(2.2s)
}
.israel{
    color: white;
    position: absolute;
    top: 82vh;
    @include showanimation(3s);
}

.midsection{
    height: 20vh;
    margin-left: 3vw;
    position: absolute;
    top: 90vh;
    @include showanimation(3.2s);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: transform 400ms ease-in-out;
    &:hover{
        transform: translate(-12vw);
    }
    
    
    &__one{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 24vh;
    &__topnum{
        font-size: 200px;
        color: white;
        -webkit-text-stroke: 2px rgb(122, 122, 122);
        font-family: sans; color: rgb(6, 6, 5);
    }
    &__img{
        width: 9vw;
        height: 24vh;
        position: relative;
        right: 3vw;
        @include cursor();
        transition: scale 300ms ease-in-out;
        &:hover{
            scale: 1.2;
        }
    }
}
&__two{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24vh;
&__topnum{
    font-size: 200px;
    color: white;
    -webkit-text-stroke: 2px rgb(122, 122, 122);
    font-family: sans; color: rgb(6, 6, 5);
}
&__img{
    width: 9vw;
    height: 24vh;
    position: relative;
    right: 3vw;
    @include cursor();
    transition: scale 300ms ease-in-out;
    &:hover{
        scale: 1.2;
    }
}
}
&__three{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24vh;
&__topnum{
    font-size: 200px;
    color: white;
    -webkit-text-stroke: 2px rgb(122, 122, 122);
    font-family: sans; color: rgb(6, 6, 5);
}
&__img{
    width: 9vw;
    height: 24vh;
    position: relative;
    right: 3vw;
    @include cursor();
    transition: scale 300ms ease-in-out;
    &:hover{
        scale: 1.2;
    }
}
}
&__four{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24vh;
&__topnum{
    font-size: 200px;
    color: white;
    -webkit-text-stroke: 2px rgb(122, 122, 122);
    font-family: sans; color: rgb(6, 6, 5);
}
&__img{
    width: 9vw;
    height: 24vh;
    position: relative;
    right: 3vw;
    @include cursor();
    transition: scale 300ms ease-in-out;
    &:hover{
        scale: 1.2;
    }
}
}
&__five{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24vh;
&__topnum{
    font-size: 200px;
    color: white;
    -webkit-text-stroke: 2px rgb(122, 122, 122);
    font-family: sans; color: rgb(6, 6, 5);
}
&__img{
    width: 9vw;
    height: 24vh;
    position: relative;
    right: 3vw;
    @include cursor();
    transition: scale 300ms ease-in-out;
    &:hover{
        scale: 1.2;
    }
}
}
&__six{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 24vh;
&__topnum{
    font-size: 200px;
    color: white;
    -webkit-text-stroke: 2px rgb(122, 122, 122);
    font-family: sans; color: rgb(6, 6, 5);
}
&__img{
    width: 9vw;
    height: 24vh;
    position: relative;
    right: 3vw;
    @include cursor();
    transition: scale 300ms ease-in-out;
    &:hover{
        scale: 1.2;
    }
}
}
}