body {
    background-color: antiquewhite;
}

.wrapper {
    position: relative;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 92vh;
    margin: auto;
    border-radius: 20px;
    padding: 20px;

    .header {
        position: relative;
        display: flex;
        width: 400px;

        h3 {
            position: relative;
            top: -1vh;
            left: 19em;
        }
    }

    .imgtop {
        position: relative;
        font-size: 70px;
        font-style: bold;
        margin: auto;
        color: white;
        background-color: black;
        width: 100px;
        height: 100px;
        border-radius: 50%;

        p {
            position: relative;
            top: 10px;
            left: 18px;
            margin: auto;
        }
    }

    .name {
        position: relative;
        text-align: center;
        font-size: 15px;
    }

    .andername {
        position: relative;
        top: -2vh;
        text-align: center;
        color: blueviolet;
    }

    .tabs {
        position: relative;
        display: flex;


        &__icon {
            position: relative;
            background-color: rgb(229, 229, 229);

            &--difrent {
                background-color: rgb(229, 229, 229);
            }rgb(184, 184, 184)
        }
    }
}