body {
  direction: rtl;
}
.wrapper {
  form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: beige;
    justify-content: center;
    align-items: center;
    width: 50%;
    input {
      margin: 2%;
      width: fit-content;
    }
    .color {
      width: revert;
    }
  }
  .allCards {
    display: flex;
    flex-wrap: wrap;
    padding: 2%;
    gap: 2%;

    .card {
      border-radius: 15px;
      padding: 25px;
      max-height: 250px;
      width: fit-content;
      background-repeat: no-repeat;
      background-size: contain;
      margin: 2%;
      &_img {
        img {
          max-height: 200px;
          width: auto;
        }
      }
      &_card_user-details {
      }
    }
  }
}
