table, th, td{
    border: 1px solid red;
    border-collapse: collapse;
}

th, td{
    padding: 5px;
}

tr,td{
    &:nth-child(2n+2){
        background-color: red;
    }

}

td{
    &:nth-child(2n+2):hover{
        background-color: gray;
    }
}

th{
    &:nth-child(even):hover{
        animation: size 2s infinite;
    }
    &:nth-child(odd):hover{
        animation: size2 2s infinite;
    }
    @keyframes size {
        100%{scale: 1.5; background-color: gray; rotate: 360deg; border-radius: 100%;}
        
        
    }
    @keyframes size2 {
        100%{scale: 1.5; background-color: blue; rotate: -180deg;}
        
    }
}