.box {
    width: 200px;
    height: 200px;
    background-color: rgb(179, 218, 252);
    border: none;
}

.clowns {
    width: 200px;
    height: 200px;
    background-color: rgb(252, 179, 234);
    border: none;
    border-radius: 50%;
    // background-size: cover;
}

.followers {
    position: absolute;
    display: flex;

    .follower-1 {
        width: 300px;
        height: 200px;
        background-image: url(./src/DOG-1.png);
        background-size: cover;
    }

    .follower-2 {
        width: 300px;
        height: 200px;
        background-image: url(./src/DOG-2.png);
        background-size: cover;
    }

    .follower-3 {
        width: 300px;
        height: 200px;
        background-image: url(./src/DOG-3.png);
        background-size: cover;
    }
}