.box {
    width: 200px;
    height: 200px;
    background-color: rgb(179, 218, 252);
    border: none;   
}

.clowns {
    width: 200px;
    height: 200px;
    background-color: rgb(252, 179, 234);
    border: none;
    border-radius: 50%;
    // background-size: cover;
}