.buttons {
    width: 100%;
    background: blue;
    height: 80px;
    display: flex;
    align-items: center;
}

// .bth__img4,
// .bth__img3,
// .bth__img2,
// .bth__img1 {

//     font-style: initial;
//     font-size: 25px;
//     width: 25%;
//     height: 40px;
//     margin: 0 6px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 20px;
//     position: absolute;

// }

.bth__img1:active {
    background: url(img/img1.jpg) no-repeat center center/ cover;

    z-index: 5;
}

.bth__img2:active {
    background: url(img/img2.jpg) no-repeat center center/ cover;

    z-index: 5;
}

.bth__img3:focus {
    background: url(img/img3.jpg) no-repeat center center/ cover;

    z-index: 5;
}


.bth__img4:active {
    .red {
        background: url(img/img4.jpg) no-repeat center center/ cover;
        z-index: 5;
        position: absolute;
        width: 100%;
        height: 80%;
    }

}