.container {
    width: 1000px;
    margin: 40px auto;
    background: olivedrab;
    height: 500px;
    position: relative;


    .imgs {
        width: 500px;
        height: 350px;
        position: absolute;
        display: block;

        div {
            display: none;


            &:target {
                display: block;
            }


        }

        img {
            width: 600px;
            height: 350px;
        }
    }


}


// @import "button";