.container {
    width: 500px;
    margin: 40px auto;
    background: olivedrab;
    height: 500px;
    position: relative;


    .imgs {
        width: 500px;
        height: 350px;
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: end;


    }


}


// @import "button";