.rupper {
    border-radius: 15px;
    background-color: white;
    width: 300px;
    height: 450px;
  }
  
  .headImg {
    height: 40%;
    width: 100%;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/10/c4/23/16/highland-view-bed-and.jpg");
  }

  .articleConteiner {
    text-align: left;
    padding: 15px;
  }