<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My App Home</title>
    <script src="../../js/dist/model.js" defer></script>
    <script src="../../js/dist/controlers.js" defer></script>
    <link rel="stylesheet" href="../../css/dist/style.css" />
  </head>
  <body>
    <h1>The Notes</h1>
    <a class="main" href="../../index.html">Main</a>
    <br />
    <input type="text" id="note-input" placeholder="                                                                                                                                                  What are you thinking about ?" />
    <br />
    <button class="add-note" onclick="handleAddNote()">Add My Note</button>
    <div id="rootNotes"></div>
  </body>
</html>
