* {
  padding: 0;
  margin: 0;
}

#tablesDiv{
    display: grid;
    grid-template-columns: auto auto auto;
    .table{
        
        width:  100px;
        height: 130px;
        border: 1px solid black;
        text-align: center;
        margin: 8px;
        
        .numOfTable{
            display: block;
            color: rgb(178, 175, 175);
        }
        .numberOfDiner{
            padding: 8px;
            display: inline-block;
        }
        button{
            margin-top: 30%;
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    }
}



.wrapper{
    display: flex;
    height: 100%;
    .menu{
        width: 40%;
        border-right:1px solid black ;
        .dish{
            display: flex;
            justify-content: space-around;
            padding: 10px;
            border: 1px solid black;
            margin: 5px;
            border-radius: 30px;
            .dishName{
                width: 140px;
            }
            img{
                width: 70px;
            }
        }
    }

    .orderList{
        width: 50%;
        // border:  1px solid black;
    }
}