

.categories {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 185px;

  &__option {
    display: flex;
    flex-direction: column;
    align-items: center;

    & div[class^="categories__option__img"] {
        background-size: cover;
        height: 140px;
        width: 145px;
        border: 0px solid gray;
        border-radius: 90px;
        background-color: rgb(231, 230, 230);
    }
    
    &__text {
    font-size: 22px;
    margin-top: 8px;
    }

    &__img {
    display: flex;

    &--business {
        background-image: url("./business.webp");
    }

    &--profession {
        background-image: url("./professional.webp");
    }

    &--pet {
        background-image: url("./pets.webp");
    }

    &--required {
        background-image: url("./required.webp");
    }

    &--yad2 {
        background-image: url("./yad2.webp");
    }

    &--car {
        background-image: url("./car.webp");
    }

    &--real-estate {
        background-image: url("./real-estate.webp");
    }
    }
}
}

.topic {
    
    margin: auto;
    width: 1200px;
    height: 40px;
    direction: rtl;
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    font-weight: 100;
    margin-bottom: 16px;
    box-sizing: border-box;

}

.popularServices{
    margin: auto;
    width: 1200px;
    height: 100px;
    display: flex;
    gap: 13px;
    flex-direction: row;
    direction: rtl;
    &__service{
        display: flex;
        flex-direction: row;
        width: 300px;
        height: 65px;
        border: 0.5px solid rgb(229, 219, 219);
        border-radius: 8px;
        font-family: 'Arimo', sans-serif;
        padding: 8px 14px;
        padding-right: 10px;
        align-items: center;
        &__icon{
            height: 57px;
            width: 57px;
            display: flex;
            justify-content: center;
            padding: 10px;
            padding-right: 0;
        }
        &__title{  
            flex-direction: row;          
            &__header{
                font-size: 14px;
                box-sizing: border-box;
                height: 19px;
                margin-bottom: 0;
                margin-top: auto;
            }
            &__paragraph{
                font-size: 12px;
                margin-bottom: auto;
                margin-top: 0;
            }
        
        }
    }
    
}

.head_topic{
    margin: auto;
    width: 1200px;
    height: 40px;
    direction: rtl;
    font-size: 24px;
    font-family: 'Arimo', sans-serif;
    font-weight: 100;
    margin-bottom: 16px;
    box-sizing: border-box;  
}

.business{
    margin: auto;
    width: 1200px;
    height: 125px;
    align-items: center;
    text-align: center;
    display: flex;
    gap: 8px;
    font-family:'Arimo', sans-serif;
    box-sizing: border-box;
    direction: rtl;
    background-color: hsl(180, 17%, 95%);
    &__boxheader{
        font-size: 30px;
        font-weight: 600;
        width: 200px;
    }
    &__container{
        display: flex;
        width: 1000px;
        gap: 10px;
        box-sizing: border-box;
        &__issue{
            display: flex;
            text-align: center;
            &__icon{
            align-items: center;
            margin: 0;
            width: 50px;
            }
            &__topic{
            font-size: 20px;
            padding: 4px;
            }
        }
    }
}

