* {
  margin: 0;
  padding: 0;
  font-family: "Assistant", sans-serif;
  direction: rtl;
}

body {
  background-color: black;
}

.logo {
  width: 150px;
  height: 50px;
  margin-right: 45px;
}

.logo:hover {
  cursor: pointer;
}

a {
  color: #dfdfdf;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  bottom: 17px;
  margin: 10px;
}

.icon {
  padding: 8px;
  position: relative;
  right: 320px;
  bottom: 2px;
}

.icon:hover {
  cursor: pointer;
}

.arrow {
  width: 10px;
  height: 10px;
  position: relative;
  bottom: 10px;
}

.video {
  background-size: cover;
  width: 100%;
  background-position: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -1;
}

.small {
  width: 24px;
  height: 24px;
  position: absolute;
  bottom: 360px;
  right: 70px;
}

h3 {
  color: rgb(207, 197, 197);
  position: absolute;
  bottom: 363px;
  right: 97px;
  font-size: 7px;
  font-weight: 100;
}

h1 {
  font-size: 120px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 250px;
  right: 60px;
}

.button {
  position: absolute;
  background-color: white;
  bottom: 210px;
  right: 60px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 35px;
}

button:hover {
  background-color: rgb(221, 221, 221);
  cursor: pointer;
}

.play {
  position: absolute;
  bottom: 222px;
  right: 65px;
}

.info {
  position: absolute;
  background-color: rgb(147, 145, 145);
  opacity: 70%;
  bottom: 210px;
  right: 200px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px 35px;
}

.mute {
  width: 25px;
  height: 25px;
  position: relative;
  right: 1330px;
  top: 365px;
  border: white 1px;
  border-style: solid;
  border-radius: 55px;
  padding: 10px;
}

.mute:hover {
  cursor: pointer;
  color: white;
  opacity: 80%;
}

h2 {
  font-family: "Assistant", sans-serif;
  font-weight: 100;
  font-size: 10px;
  color: white;
  background-color: rgb(46, 46, 46);
  padding: 10px;
  position: relative;
  right: 1396px;
  top: 315px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-right: solid 3px rgb(255, 255, 255);
  opacity: 60%;
  padding-left: 100px;
}

.title {
  color: white;
  font-weight: bold;
  position: relative;
  top: 400px;
  right: 30px;
  font-size: 20px;
  letter-spacing: 1px;
}

.pic {
  width: 250px;
  height: 150px;
  z-index: 1;
  position: relative;
  top: 410px;
  right: 30px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.pic:hover {
  cursor: pointer;
}

.pic:active {
  box-shadow: inset;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
    position: absolute;
    bottom: 310px;
    right: 80px;
  }
  a {
    display: none;
  }
  .video {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-size: cover;
    background-position: center;
  }
  .button {
    position: absolute;
    background-color: white;
    bottom: 210px;
    right: 60px;
    font-size: 6px;
    font-weight: bold;
    color: black;
    border: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px 35px;
  }
  button:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
  }
  .play {
    position: absolute;
    bottom: 219px;
    right: 65px;
  }
  .info {
    position: absolute;
    background-color: rgb(119, 119, 119);
    bottom: 210px;
    right: 190px;
    font-size: 5px;
    font-weight: bold;
    color: white;
    border: rgb(99, 99, 99);
    border-radius: 5px;
    padding: 10px 35px;
  }
  .icon {
    padding: 8px;
    position: relative;
    right: 50px;
    bottom: 2px;
  }
  .icon:hover {
    cursor: pointer;
  }
  .mute {
    width: 14px;
    height: 14px;
    position: relative;
    right: 350px;
    top: 335px;
    border: white 1px;
    border-style: solid;
    border-radius: 55px;
    padding: 10px;
  }
  .mute:hover {
    cursor: pointer;
    color: white;
    opacity: 80%;
  }
  h2 {
    font-family: "Assistant", sans-serif;
    font-weight: 100;
    font-size: 5px;
    color: white;
    background-color: rgb(46, 46, 46);
    padding: 10px;
    position: relative;
    right: 400px;
    top: 295px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-right: solid 3px rgb(255, 255, 255);
    opacity: 60%;
    padding-left: 100px;
  }
  .pic:hover {
    cursor: pointer;
  }
  .pic:active {
    box-shadow: inset;
  }
}/*# sourceMappingURL=style.css.map */