.header {
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 70px;

    ul {
        position: relative;
        top: 0;
        width: 100%;
        height: 70px;
        background: linear-gradient(360deg, #000000 0%, rgb(51, 47, 54) 100%);
        list-style: none;
        display: flex;
        
        align-items: center;
        transition: transform 0.5s;
        padding: 0;
        margin: 0;

        .logo {
            position: relative;
            right: 0px;
            width: 200px;
            height: 70px;
        }

        .headerRight{
            position: relative;
            justify-content: right;
            }

        li {
            display: flex;
            margin: 10px;
            list-style: none;
            width: 100px;
            height: 70px;
            align-items: center;
            justify-content: center;
            padding: auto;
            transition: transform 0.5s;

            a{
                color:white;
                text-decoration:none;
            }
        }

        li:hover{
            opacity: 0.7;
        }
    }
}