body {
    font-family: sans-serif;
    color: white;
    background-color: #141414;

    .container {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: repeat(1, 4fr);


        .header {

            // grid-area: header;
            display: flex;
            justify-content: space-between;
            grid-column: 1 / span 5;
            grid-row: 1 / span 1;


            &__main {


                span {
                    color: red;
                    margin-right: 40px;
                    font-weight: bold;
                    font-size: 25px;
                }

                a {
                    color: white;
                    text-decoration: none;
                    margin: 0 10px;
                }
            }



            &__corner {


                a {
                    color: white;
                    text-decoration: none;
                    margin: 0 5px;
                }



                img {
                    width: 25px;
                    height: 25px;
                    padding: 1px 0;
                }

            }
        }

        .big__picture {
            grid-column: 1 / span 5;
            grid-row: 2 / span 35;
            display: grid;
            // grid-template-columns: 1;
            background: url(img/big.jpg) no-repeat top center/ cover;



            span {
                color: red;
                font-weight: bold;
                font-size: 25px;
            }

            .info {
                font-size: 13px;
                color: white;
                border: 2px white solid;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                margin-right: 4px;
            }

            img {
                width: 25px;
                height: 25px;
            }



        }

        .top10 {
            grid-column: 1 / span 5;
            grid-row: 36 / span 37;
            // background: red;
            // grid-area: top;
            display: flex;
            background: red;


        }
    }
}