$topsecond: 30vh;
$topthird: 60vh;

$secondrowright: 30vw;
$thirdrowright: 60vw;
.gen{
    position: relative;
    left: 60vh;
}
.baloons{
    width: 10vw;
    height: 20vh;
    position: relative;

}
.four{
    top: $topsecond;
    right:$secondrowright;
}
.five{
    top: $topsecond;
    right:$secondrowright;
}
.six{
    top: $topsecond;
    right:$secondrowright;
}
.seven{
    top: $topthird;
    right:$thirdrowright;
}
.eight{
    top: $topthird;
    right:$thirdrowright;
}
.nine{
    top: $topthird;
    right:$thirdrowright;
}

