// size

//px: pixels in screen

//% : precentage of parent element (width)

//rem: multiply the font-size of html

//vw: % of view width
//vh: % of view height

//ch

html{
    font-size: 12px;

}

.wrapper{
    margin: auto;
    width: 75ch;
    border: 1px dashed gray;
    text-align: justify;
   
    // background-color: rgb(204, 246, 246);
    .imgBox{
        width: 100%;
        // background-color: blueviolet;
        // height: 100px;
        margin: 2px;
        font-size: 1.2rem;


        img{
            width: 0%;
        }
    }
}
