html {
    background-color: rgb(248, 218, 185);
}
#friends-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Friends {
    margin: auto;
    width: 200px;
    text-align: center;

  
}

img {
    width: 400px;
    height: auto;
    margin: .5rem;
  }