@mixin coolHover{
    cursor: pointer;
    transition: all 200ms ease-in-out;
    &:hover{
        background-color: aquamarine;
        
    }
    &::before{
        width: 100%;
        height: 0%;
        background: transparent;
        bottom: 0;
    }
    &:hover::before{
        height: 180%;
        border-radius: 0 0 50% 50%;

    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    &::-webkit-scrollbar {
        width: 0.6em;
        transition: all 0.2s ease-in-out;
    }

    &::-webkit-scrollbar-track {
        background: hsl(224, 88%, 62%);
        margin-block: 0.5em;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;


    }

    &::-webkit-scrollbar-thumb {
        background: hsla(203, 48%, 19%, 0.7);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;




    }

    &::-webkit-scrollbar-thumb:hover {
        background: hsl(247, 86%, 8%);
    }


}

.topLine {
    width: 2vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2vh;
    left: 2vw;
    background-color: aliceblue;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: beige;
        transform: scale(1.1);
    }
}

#header {
    font-size: 40px;
    font-family: fantasy;
    color: aliceblue;
}

.doneHabits{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    height: 70vh;
    background-color: transparent;
    backdrop-filter: blur(20px);
    overflow-y: scroll;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;

    &::-webkit-scrollbar {
        width: 0.6em;
        transition: all 0.2s ease-in-out;
    }

    &::-webkit-scrollbar-track {
        background: hsl(224, 88%, 62%);
        margin-block: 0.5em;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;


    }

    &::-webkit-scrollbar-thumb {
        background: hsla(203, 48%, 19%, 0.7);
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;




    }

    &::-webkit-scrollbar-thumb:hover {
        background: hsl(247, 86%, 8%);
    }
    
    &__habit{
        width: 70vw;
        height: 15vh;
        background-color: transparent;
        backdrop-filter: blur(20px);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        border: 2px solid white;
        box-shadow: 2px 2px 10px black;
        z-index: 10;
        left: 34vw;
        margin: auto;
        transition: all 200ms ease-in-out;
        @include coolHover;
        
        
    
        &__header {
            font-size: 30px;
            color: white;
            text-shadow: 0 0 10px black;
            font-family: fantasy;
        }
        &__categorie {
            font-size: 20px;
            color: white;
            text-shadow: 0 0 10px black;
            font-family: fantasy;
        }
        &__date{
            font-size: 20px;
            color: white;
            text-shadow: 0 0 10px black;
            font-family: fantasy;
        }
    }

}