* {
  padding: 0%;
  margin: 0;
}

.warraper {
  display: flex;
}
h3 {
  padding: 20px;
}
img {
  position: absolute;
  top: 6rem;
  left: 1rem;
  width: 26rem;
  height: 20rem;
&:hover{
    cursor:auto;
}}

.gallery__box:hover {
  z-index: 8;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}
