@keyframes dot1 {
    from {
        background: pink;
        transform: rotateY(90deg)
    }

    to {
        top: 50%;
        left: 50%;
        transform: rotateY(180deg) rotate(360deg);
        border: 1px solid gray;
        border-radius: 50px;
    }
}

@keyframes dot2 {
    from {
        background: pink;
        transform: rotateY(90deg)
    }

    to {
        top: 50%;
        left: 50%;
        transform: rotateY(180deg) rotate(500deg);
        border: 1px solid gray;
        border-radius: 50px;
    }
}

@keyframes dot3 {
    from {
        background: pink;
        transform: rotateY(90deg)
    }

    to {
        top: 50%;
        left: 50%;
        transform: rotateY(180deg) rotate(-450deg);
        border: 1px solid gray;
        border-radius: 50px;
    }
}

@keyframes dot4 {
    from {
        background: pink;
        transform: rotateY(90deg)
    }

    to {
        top: 50%;
        left: 50%;
        transform: rotateY(180deg) rotate(-500deg);
        border: 1px solid gray;
        border-radius: 50px;
    }
}



.wrapper {
    position: relative;
    height: 100vh;

    .item {
        height: 100%;
        width: 300px;
        margin: auto;
       
  

        &__dot {
            position: absolute;
            width: 10rem;
            height: 1.5rem;
            background: cyan;
            animation-fill-mode: forwards;
            animation-duration: 5s;

            &1 {
                background-color: black;
                left: 10%;
                top: 50%;
                animation: dot1;
                // animation-fill-mode: forwards
                animation-fill-mode: forwards;
                animation-duration: 5s;

            }

            &2 {
                background-color: blue;
                left: 50%;
                top: 0;
                animation: dot2;
                animation-fill-mode: forwards;
                animation-duration: 5s;
            }

            &3 {
                background-color: green;
                left: 90%;
                top: 50%;
                animation: dot3;
                animation-fill-mode: forwards;
                animation-duration: 5s;
            }

            &4 {
                background-color: red;
                left: 50%;
                top: 90%;
                animation: dot4;
                animation-fill-mode: forwards;
                animation-duration: 5s;
            }
        }


}
}