.box {
  width: 100px;
  height: 100px;
  background-color: teal;
  margin: 5px;
  position: absolute;
  transition: all 300ms;
}
body {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
}
