.hov{
    width: 10vw;
    height: 10vw;
    background-color: rgb(109, 235, 235);
    border-radius: 20px;
    box-shadow: 2px 2px rgb(131, 125, 125);
    cursor: pointer;
    margin: 10px;
    transition: all 0.4s ease-in-out;
    &:hover{
        background-color: rgb(247, 20, 20);
        box-shadow: 2px 2px rgb(20, 6, 170)

    }
}