.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form.ShowByDate {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  form.ShowByDate input[type="Date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  form.ShowByDate input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  form.ShowByDate input[type="submit"]:hover {
    background-color: #45a049;
  }
  