
.container{
    display:grid;
    width: 100vw;
    background-color: black;
    gap: 10px;
    grid-template-rows: repeat( 2, 200px);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "main . blue blue"
    "main . red red";

    .box{
        color: white;
    }

    .box__main{
        background-color: purple;
        grid-area: main;
    }

    .box__blue{
        background-color: blue;
        grid-area: blue;
    }

    .box__red{
        background-color: red;
        grid-area: red;
    }


}