.wrapper {
  position: absolute;
  left: 200px;
  background-color: teal;
  .box {
    width: 100px;
    height: 100px;
    background-color: wheat;
    border: 1px solid gray;
  }

  .relative {
    position: relative;
    left: 180px;
  }

  .blue {
    background-color: lightblue;
  }

  .absolute {
    position: absolute;
    left: 180px;
  }

  .wide {
    width: 300px;
  }

  .sticky{
    position: sticky;
    bottom:100px;
    top:10px;
  }
}
