body {
  background-image: url(https://img.freepik.com/free-photo/white-cloud-blue-sky_74190-2381.jpg?w=900&t=st=1680871278~exp=1680871878~hmac=c346559f5601b9f90612b010cb3e3d6c4a0bac4131d0ec68434918f06eaafbe9);
  background-size: cover;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: end;
  position: relative;
}
.wrapper .sun {
  position: absolute;
  top: 100px;
  right: 0px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-name: sun-movement;
          animation-name: sun-movement;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.wrapper .sun img {
  width: 300px;
  height: auto;
}
.wrapper a {
  cursor: url("./dist/gun.png"), crosshair;
}
.wrapper .ballon {
  position: relative;
  bottom: -150px;
  -webkit-animation-name: baloon-explode;
          animation-name: baloon-explode;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  transition: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.wrapper .ballon:hover {
  transform: scale(1.5) rotate(10deg);
}
.wrapper .ballon img {
  width: 100px;
  cursor: url(https://w7.pngwing.com/pngs/1004/336/png-transparent-telescopic-sight-reticle-computer-icons-crosshair-miscellaneous-angle-symmetry-thumbnail.png) auto;
  transition: 0.5s;
  opacity: 0;
}
.wrapper .delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.wrapper .delay-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.wrapper .delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.wrapper .delay-4 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.wrapper .delay-5 {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.wrapper .delay-15 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.wrapper .delay-25 {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}
.wrapper .delay-35 {
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.wrapper .delay-45 {
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
}
.wrapper .delay-55 {
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
}
@-webkit-keyframes baloon-explode {
  100% {
    bottom: 80vh;
  }
}
@keyframes baloon-explode {
  100% {
    bottom: 80vh;
  }
}
.wrapper img:target {
  opacity: 1;
}
.wrapper .win {
  position: absolute;
  top: 50%;
  right: 50%;
  translate: 50%;
  display: none;
  transition: 0.4s;
  -webkit-animation-name: win;
          animation-name: win;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.wrapper .win:target {
  display: block;
}
.wrapper .first-ballon {
  opacity: 1 !important;
}
.wrapper .first-ballon:target {
  opacity: 0 !important;
}
.wrapper .first-ballon:focus {
  opacity: 0;
}

@-webkit-keyframes sun-movement {
  100% {
    top: 20px;
    right: 80px;
  }
}

@keyframes sun-movement {
  100% {
    top: 20px;
    right: 80px;
  }
}
@-webkit-keyframes win {
  50% {
    scale: 2;
    rotate: -20deg;
  }
  100% {
    scale: 2;
    rotate: 360deg;
  }
}
@keyframes win {
  50% {
    scale: 2;
    rotate: -20deg;
  }
  100% {
    scale: 2;
    rotate: 360deg;
  }
}/*# sourceMappingURL=style.css.map */