.wrapper__hotballon img {
  position: absolute;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  width: 190px;
  height: 145px;
}
.wrapper__hotballon img:active {
  width: 500px;
  -webkit-animation: 1s 5s forwards;
          animation: 1s 5s forwards;
}
.wrapper__hotballon--first {
  -webkit-animation-name: firstballon;
          animation-name: firstballon;
}
.wrapper__hotballon--second {
  -webkit-animation-name: secondballon;
          animation-name: secondballon;
}
.wrapper__hotballon--third {
  -webkit-animation-name: thirdballon;
          animation-name: thirdballon;
}
.wrapper__hotballon--fourth {
  -webkit-animation-name: fourthballon;
          animation-name: fourthballon;
}
.wrapper__hotballon--fifth {
  -webkit-animation-name: fifthballon;
          animation-name: fifthballon;
}
.wrapper__hotballon--sixth {
  -webkit-animation-name: sixthballon;
          animation-name: sixthballon;
}

@-webkit-keyframes firstballon {
  0% {
    left: 10px;
    top: 600px;
  }
  50% {
    left: 20px;
    top: 350px;
  }
  80% {
    left: 30px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 40px;
    top: 0px;
    transform: rotate(-10deg);
  }
}

@keyframes firstballon {
  0% {
    left: 10px;
    top: 600px;
  }
  50% {
    left: 20px;
    top: 350px;
  }
  80% {
    left: 30px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 40px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes secondballon {
  0% {
    top: 600px;
    left: 500px;
  }
  50% {
    left: 510px;
    top: 300px;
  }
  80% {
    left: 520px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 530px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@keyframes secondballon {
  0% {
    top: 600px;
    left: 500px;
  }
  50% {
    left: 510px;
    top: 300px;
  }
  80% {
    left: 520px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 530px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes thirdballon {
  0% {
    top: 600px;
    left: 1000px;
  }
  50% {
    left: 1010px;
    top: 300px;
  }
  80% {
    left: 1020px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 1030px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@keyframes thirdballon {
  0% {
    top: 600px;
    left: 1000px;
  }
  50% {
    left: 1010px;
    top: 300px;
  }
  80% {
    left: 1020px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 1030px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes fourthballon {
  0% {
    top: 600px;
    left: 1300px;
  }
  50% {
    left: 1310px;
    top: 300px;
  }
  80% {
    left: 1320px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 1330px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@keyframes fourthballon {
  0% {
    top: 600px;
    left: 1300px;
  }
  50% {
    left: 1310px;
    top: 300px;
  }
  80% {
    left: 1320px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 1330px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes fifthballon {
  0% {
    top: 600px;
    left: 210px;
  }
  50% {
    left: 220px;
    top: 300px;
  }
  80% {
    left: 230px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 240px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@keyframes fifthballon {
  0% {
    top: 600px;
    left: 210px;
  }
  50% {
    left: 220px;
    top: 300px;
  }
  80% {
    left: 230px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 240px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@-webkit-keyframes sixthballon {
  0% {
    top: 600px;
    left: 1150px;
  }
  50% {
    left: 1160px;
    top: 300px;
  }
  80% {
    left: 1170px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 1180px;
    top: 0px;
    transform: rotate(-10deg);
  }
}
@keyframes sixthballon {
  0% {
    top: 600px;
    left: 1150px;
  }
  50% {
    left: 1160px;
    top: 300px;
  }
  80% {
    left: 1170px;
    top: 150px;
    transform: rotate(10deg);
  }
  100% {
    left: 1180px;
    top: 0px;
    transform: rotate(-10deg);
  }
}/*# sourceMappingURL=hotballon.css.map */