.wrapper {

    &__hugeballon {
        &--basket {
                width: 200px;
                position: absolute;
                height: 300px;
                top: 455px;
                left: 735px;
        }    
    }


// body > div > section > div.wrapper__image > img:hover  {
//     display: none;
        
// }
    

        &__image{
                animation-name: theballoon;
                cursor: pointer;
                position: absolute;
                animation-timing-function: linear;
                animation-delay: 3s;
                animation-duration: 4s;
                animation-direction:normal;
                animation-iteration-count: infinite;

                img {
                    width: 190px;
                    height: 220px;
                }

                
                &--natural{
                    display: block;

                }
                &:active {
                    .wrapper__image--natural {
                        display: none;

                    }
                    .wrapper__image--effect {
                        display: block;
                    }
                }
                
                &--effect{
                    display: none;
                }

            }
    }




@keyframes theballoon {
    0% {
        top: 510px;
        left: 735px;
        width: 120px;
        height: 310px;
    }

    50% {
        top: 450px;
        left: 735px;
        width: 200px;
        height: 450px;
    }

    80% {
        top: 200px;
        left: 735px;
        width: 400px;
        height: 550px;
        transform: rotate(5deg);
    }

    100% {
        top: 0px;
        left: 735px;
        width: 460px;
        height: 600px;
        transform: rotate(-10deg);
    }

}
