$header-color: #191716;
$white-color:white;
$font-size-15:15px;
$Assistant: 'Assistant', sans-serif;
$black-color:#191716;
$green-color:#34c2b2;
$blue-color:#0C2B49;

@import "./components/Headers/header.scss";
#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}


.box{
  height: 80vh;
  width:30vw;
  background-color: $black-color;
  border-radius: 15px;
}
.img{
  background-color:  $black-color;
  height: 15vh;
  
}
.heading{
  color:$white-color;
}
.par{
  color:$white-color;
}

.logo {
  height: 6em;
  padding: 1.5em;

}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.section{
  display: flex;
  flex-flow: row;
  gap: 20px;
}
:root {
  font-family: 'Assistant', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: $green-color;
}

body {
  margin: 0;
 
}
.tOumE {
cursor: pointer;
    padding-right: 1em;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: $white-color;
  border-color:  $green-color;
  color: $green-color;
  border-radius: 100px;
  border: 2px solid $green-color;
  padding: 0.6em 2.2em;
  font-size: 1em;
  margin: 0px 10px 20px ;
  font-weight: 700;
  font-family: inherit;
 
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: $blue-color;
  color: $white-color;
  border-color: $white-color;

  
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: $blue-color;
    background-color: $white-color;
  }
  a:hover {
    color: $green-color;
  }
  
 
}