#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.user-card {
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
.users-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.btn-user-name:hover {
  all: none;
  cursor: auto;
  border-color: white;
}
.btn-user-name:visited {
  all: none;
}
.btn-user-name:focus {
  all: none;
}
.btn-user-name:focus-visible {
  all: none;
}
