body {
    position: relative;

    .imagee {
        background-size: cover;
        position: absolute;
        z-index: -2;
        top: 0;
        height: 100vh;
        width: 100vh;
    }

    .images {
        z-index: 1;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 60vh;
        width: 40%;
        border: 10px darkgoldenrod double;

        position: relative;
        background: #DFF1EC;
        left: 60px;
        top: 10px;

        .balloon1 {
            position: absolute;
            top: 60px;
            left: 220px;
            mix-blend-mode: darken;

            img {

                border-radius: 100%;
                transform: rotate(-20deg);
            }
        }

        .balloon2 {
            position: absolute;

            top: 180px;
            left: 250px;
            mix-blend-mode: darken;



            img {
                border-radius: 100%;
                transform: rotate(10deg);

            }

        }

        .balloon3 {
            position: absolute;
            top: 140px;
            left: 310px;
            mix-blend-mode: darken;

            img {

                border-radius: 100%;
                transform: rotate(25deg);
            }
        }

        .balloon4 {

            position: absolute;
            top: 90px;
            left: 280px;
            mix-blend-mode: darken;

            img {

                border-radius: 100%;
                transform: rotate(-1deg);
            }

        }

        .balloon5 {
            position: absolute;
            top: 40px;
            left: 340px;
            mix-blend-mode: darken;


            img {
                border-radius: 100%;
                transform: rotate(20deg);

            }
        }

        .balloon6 {
            position: absolute;
            top: 95px;
            left: 360px;
            mix-blend-mode: darken;

            img {
                border-radius: 100%;
                transform: rotate(45deg);

            }


        }

        .balloon7 {
            position: absolute;
            top: 150px;
            left: 200px;
            mix-blend-mode: darken;

            img {

                border-radius: 100%;
                transform: rotate(-20deg);
            }
        }

        .balloon8 {
            position: absolute;

            top: 10px;
            left: 250px;
            mix-blend-mode: darken;

            img {
                border-radius: 100%;
                transform: rotate(-30deg);

            }

        }

        .balloon9 {

            position: absolute;
            top: 0px;
            left: 280px;
            mix-blend-mode: darken;

            img {

                border-radius: 100%;
                transform: rotate(-1deg);
            }

        }

        .balloon10 {
            position: absolute;
            top: 100px;
            left: 140px;
            mix-blend-mode: darken;

            img {

                border-radius: 100%;
                transform: rotate(-35deg);
            }
        }


    }


    .bow {
        position: absolute;
        transform: rotate(90deg);
        top: 320px;
        left: 340px;
        z-index: 5;

        .fa {
            color: #DFA700;
            font-size: 100px;

        }


    }

}