 .password-input-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .password-input-field {
    padding-right: 30px; /* כדי להשאיר מקום לאייקון */
  }
  
  .password-toggle-icon {
    position: absolute;
    top: 50%;
    right: 8px; /* תיאום עם padding */
    transform: translateY(-50%);
    cursor: pointer;
  }
  