body{
 
}

.AbsolutImg{
    img{
        background-size: cover;
        border-radius: 20%;
        position: fixed;
        height: 850px;
        top: 10px;
        left: 5px;
       }
}
.contianer{
    margin: auto;
    width: 80%;
    position: relative;
    top: 0px;
    left: 0px;
  
}
.main{
     height: 100%;
     cursor: url(https://cur.cursors-4u.net/mechanics/mec-2/mec110.cur), auto
}
.blue{
    position: absolute;
    left: 693px;
    bottom: 70px;
    transform: rotate(-20deg);
}
.orange{
    position: absolute;
    left: 917px;
    bottom: 120px;
    transform: rotate(-15deg);
}
.pink{
    
        position: absolute;
        left: 907px;
        bottom: 63px;
    
}
.blue2{
    position: absolute;
    left: 978px;
    bottom: 77px;
    transform: rotate(25deg);
}
.yellow{
    position: absolute;
    left: 771px;
    bottom: 84px;
    transform: rotate(-15deg);
}
.purp{
    position: absolute;
    left: 938px;
    bottom: 88px;
    transform: rotate(35deg);
}
.red{
    position: absolute;
    left: 803px;
    bottom: 95px;
       
}
.green{
    position: absolute;
    left: 1011px;
    bottom: 68px;
    transform: rotate(15deg);
       }

.green2{
        position: absolute;
        left: 530px;
    bottom: 4850px;
        transform: rotate(37deg);
        
}

.child{
    position: absolute;
    left: 1425px;
    bottom: 75px;
    width: 220px;
    height: 200px;
    cursor: url(https://cur.cursors-4u.net/mechanics/mec-2/mec110.cur), auto
 } 


.sun{
    position: absolute; // relative to the first positioned parent
    top:0px;
    right:0px;
}
