body {
    direction: ltr;
    background-image: url(https://images.pexels.com/photos/2796105/pexels-photo-2796105.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    font-size: 2vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: color-dodge;
}

hr {
    width: 80vw;
    height: 0.3vw;
    color: black;
    background-color: #ef08086b;
    border-radius: 20px;
}

.container {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.743);

    h1 {
        text-align: center;
        font-size: 5vw;
        color: gold;
    }

    &__nav {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        border-radius: 20px;
        background-color: rgba(255, 0, 0, 0.634);

        span{
            color: rgb(210, 210, 206);
        }

        a {
            font-size: 1.6vw;
            font-style: oblique;
            font-weight: 900;
            color: gold;
            text-decoration: none;
        }

        a:hover {
            color: rgba(235, 226, 226, 0.829);
            text-decoration: underline;
        }
    }

    &__Ourspecial {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        &__p1 {
            text-align: center;
            color: white;
        }
    }

    a {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        text-decoration: none;

        p {
            width: 30%;
            color: white;
            font-size: 1.2vw;
            text-align: center;
        }
    }

    img {
        background-image: url(/04-Typescript/19-PersonalProject/tomsobia/PRG-2/pro/shelf-clip-art-others-removebg-preview.png);
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 20px;
        border-radius: 20px;
        max-width: 50vw;
        background-position: 0vw 4vw;
    }


    &__ContactUs {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;

        &__form {
            width: 25vw;
            border-radius: 20px;
            display: flex;
            background-color: rgb(51 52 38 / 56%);
            align-items: center;
            flex-direction: column;

            &__btn {
                width: 50%;
                color: red;
                background-color: black;
                border: none;
                padding: 2%;
                margin: 5%;
                border-radius: 12px;
                font-size: 50%;
            }

            &__btn:hover {
                background-color: rgba(0, 128, 0, 0.274);
            }

            input {
                border-radius: 6px;
                border: none;
                padding: 0.2vw;
                width: 50%;
            }

            .hr1 {
                color: yellow;
            }

            p {
                font-size: 1.3vw;
                color: white;
            }
        }
    }
}