.wrapper{
    background-color: rgb(138, 59, 184);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    align-items: center;
    

    form{
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .cards{
        display: flex;
        flex-direction: column;
       
        justify-content: center;

        
        .card{
            text-align: center;
            width: 75%;
            margin: auto;
            img{
                width: 75%;
            }
            
            border: solid 2px;
            border-radius: 10px;
        }
    }
    
}