// general css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  direction: rtl;
  font-family: "Assistant", sans-serif;
  font-family: "Golos Text", sans-serif;
  font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif;
}

main {
  width: 988px;
  margin: 0 auto;
  position: relative;
  color: #0c0c0c;
}
// scss parents&childs
header {
  position: sticky;
  top: 0;
  z-index: 999;
  background-image: linear-gradient(268deg, #db000b, #ae0000);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  height: 57px;
  .header__wrapper {
    height: 100%;
    width: 988px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
      flex: 2;
      img {
        width: 80%;
      }
    }
    &__menu {
      display: flex;
      gap: 0.6rem;
      a:link {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        text-decoration: underline;
      }
      a {
        svg {
          width: 0.9rem;
        }
      }
    }
    &__search__bar {
      flex: 2;
      display: flex;
      align-items: center;
      justify-content: end;
      svg {
        width: 20px;
      }
    }
  }
}
