html {
    scroll-behavior: smooth;
}

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.headerSection {
    display: flex;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 4vh;
    background: rgb(217, 193, 193);
    background: linear-gradient(90deg, rgba(217, 193, 193, 0.05646008403361347) 20%, rgba(57, 179, 69, 1) 50%, rgba(86, 198, 226, 0.06206232492997199) 80%);
    padding-left: 6vw;
    align-items: center;
    gap: 1vw;

    &__logo {
        width: 2vw;
        position: absolute;
        margin: auto;
        left: 2vw;
    }

    &__searchSection {
        width: 0vw;
        height: 2vh;
        background-color: rgb(149 149 149 / 27%);
        border-radius: 10px;
        position: absolute;
        left: 8vw;
        transition: all 100ms ease-in-out;
        color: #ffffff;


    }
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hiddenn {
    opacity: 0;
    transition: all 2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.show {
    opacity: 1;
    transition: all 4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}

.hedlain {
    text-align: center;
}

.recentlyHeard {
    width: 60vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2vw;

    &__box {
        width: 12vw;
        height: 20vh;

        img {
            width: 100%;
            height: 90%;
            border-radius: 10px;
        }

        h3 {
            text-align: center;
        }
    }
}

#randomSong {
    width: 50vw;
    height: 33vh;
    background-color: rgb(51, 51, 51);
    padding: 15px;
    border-radius: 10px;

    img {
        width: 20vw;
        height: 30vh;
        border-radius: 10px;
        float: right;
    }

    h2 {
        text-align: center;
    }
}

#playlistContainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.playlistBySinger {
    position: relative;
    width: 20vw;
    height: 35vh;
    background-color: rgb(51, 51, 51);
    padding: 15px;
    border-radius: 10px;
    text-align: center;

    img {
        width: 20vw;
        height: 30vh;
        border-radius: 10px;
        float: right;
    }

    h3 {
        position: relative;
        top: 2vh;
    }

    audio {
        position: relative;
        top: -8vh;
        width: 6vw;
        height: 3vh;
    }
}

#homeLogo {
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        transform: scale(1.08);
    }
}

#searchLogo {
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        transform: scale(1.08);
    }
}