    * {
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
    }


    .box1 {
        max-width: 100%;
        height: auto;
        background-color: whitesmoke;
        margin: 0 auto;

        &__h1 {
            position: relative;
            text-align: center;
            max-width: 100%;

            h1 {
                position: relative;
                top: 1%;
                font-size: 3vw;
                color: hsl(240, 76%, 31%);
            }

            .icon0 {
                position: absolute;
                top: 16%;
                left: 30%;
                font-size: 3vw;
                font-weight: 300;
            }
        }

        &__gallery {
            margin-top: 1%;
            width: 100%;
            height: 100%;

            &__top {
                width: 100%;
                display: flex;
                justify-content: center;


                .img1 {
                    position: relative;
                    width: 40%;
                    height: 20vw;
                    border-radius: 5%;
                    margin: 0.5%;
                    background-image: url(https://images.pexels.com/photos/842711/pexels-photo-842711.jpeg?cs=srgb&dl=pexels-christian-heitz-842711.jpg&fm=jpg);
                    background-size: cover;
                    background-position: center;


                    .icon1 {
                        background-color: blue;
                        color: white;
                        font-size: 2.5vw;
                        border-radius: 50%;
                        margin-top: 25%;
                    }
                }

                .img1:active {
                    filter: grayscale(0%) brightness(119%) contrast(60%);
                }





                .img2 {
                    margin: 0.5%;
                    width: 50%;
                    height: 20vw;
                    border-radius: 5%;
                    background-image: url(https://wallpaper.dog/large/10880383.jpg);
                    background-size: cover;

                }

            }

            &__middle {
                display: flex;
                justify-content: center;

                .img3 {
                    width: 91%;
                    height: 40vw;
                    border-radius: 3%;
                    background-image: url(https://as2.ftcdn.net/v2/jpg/05/48/90/61/1000_F_548906162_0nN3ODDSL18r0VE30u9ax36DkFzedi5Q.jpg);
                    background-position: center;
                    background-size: cover;
                }
            }

            &__buttom {
                display: flex;
                justify-content: center;



                .img4 {
                    margin: 0.5%;
                    background: url(https://as2.ftcdn.net/v2/jpg/05/32/64/65/1000_F_532646544_ORJxiTZczJyd98vUvCMuZUEnlrLV4NKS.jpg);
                    background-size: cover;
                    width: 40%;
                    height: 20vw;
                    border-radius: 5%;
                }

                .img5 {
                    width: 50%;
                    height: 20vw;
                    border-radius: 5%;
                    margin-top: 0.5%;
                    background-image: url(https://as2.ftcdn.net/v2/jpg/04/39/89/01/1000_F_439890152_sYbPxa1ANTSKcZuUsKzRAf9O7bJ1Tx5B.jpg);
                    background-size: cover;
                    background-position: center;

                }

                .icon1 {

                    background-color: hsl(240, 76%, 31%);
                    color: white;
                    font-size: 2.5vw;
                    border-radius: 50%;
                    margin-top: 20%;
                }
            }

            .img5:active {
                filter: grayscale(0%) brightness(119%) contrast(60%);
            }

        }



        &__icon {
            width: 100%;
            height: 20px;
        }


        .line {
            border: 0.5vw solid gray;
            border-radius: 5px;
            width: 5vw;
            margin: 0 auto;
            margin-top: 2vw;
            margin-bottom: 2vw;
        }

        // nav icon//

        .nav {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-decoration: none;
            width: 100%;
            height: auto;
            background-color: whitesmoke;
            position: relative;
            font-size: 1.3vw;


            .icon2 {
                text-decoration: none;
                display: flex;
                margin-left: 15%;
                font-size: 2vw;
                top: 1vw;
                color: hsl(240, 76%, 31%);

            }


            .nav1 {
                margin-right: 20px;
                width: 20%;
            }

            p {
                text-decoration: none;
                color: hsl(240, 76%, 31%);
                width: 60%;
            }
        }


        // user//
        .send {
            width: 100%;
            text-align: left;
            font-size: 2vw;
            margin: 2vw;
            color: hsl(240, 76%, 31%);
        }

        &__user {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-evenly;

            .user {
                width: 7vw;

                img {
                    width: 100%;
                    height: 5vw;
                    border-radius: 50%;
                }

                .p-1 {
                    font-size: 3vw;
                }

            }


        }

        // gallery2//

        &__gallery2 {
            display: flex;
            justify-content: space-between;

            p {
                margin: 2vw;
                font-size: 2vw;
                color: hsl(240, 76%, 31%);
            }

            .p1 {
                margin: 2vw;
                color: gray;
            }
        }

        .pic {
            display: flex;
            justify-content: space-around;


            .pic2 {
                margin: 0.5%;
                background: url(https://as2.ftcdn.net/v2/jpg/05/32/64/65/1000_F_532646544_ORJxiTZczJyd98vUvCMuZUEnlrLV4NKS.jpg);
                background-size: cover;
                width: 40%;
                height: 5vw;
                border-radius: 10%;
            }
        }
    }


