.container{
    padding: 2rem;
    background-color: aquamarine;
}

.wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}

a{
    border: 1px solid red;
    size: 5px;
    background-color: aqua;
    border-radius: 5px;

    &__hover{
        background-color: chartreuse;
    }
}

.imges{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 1rem 1.5rem 3rem -0.75rem black ;
    border-radius: 0.5rem;

    img{
        flex: 1 0 100%; //1=eqel size 0=width it need 100%=full cover
        scroll-snap-align: start;
        object-fit: cover;
    }
}

.navg{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: -1.75rem;
    left:  37%;
    
}




