<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profit</title>
    <link rel="stylesheet" href="../../css/dist/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="../home-page/dist/homepage.js"defer></script>
    <script src="../../ts/dist/dashboard.js" defer></script>
    
  </head>

<body>
    <div class="allheader"> 
        <div dir="rtl" class="header">
          <img class="logo" src="../../css/dist/banky-low-resolution-logo-white-on-black-background-removebg-preview.png">
          <img class="menu-button" src="../../css/dist/more.svg" active="false" onclick="toggleMenu()">
           <nav class="nav" id="nav">
            
            <a href="../home-page/homepage.html">עמוד הבית</a>
             <a href="../home/Income.html"> הכנסות</a>
             <a href="../home/expenses.html">הוצאות</a>
             <a href="../home/profit.html">הרווח שלי</a>
             <a href="../home-page/homepage.html#about-us">קצת עלינו</a>
             <a href="../home-page/homepage.html#contact">יצירת קשר</a>
          
          </nav>
          
          <a href="../register/register.html">
            <img class="user" src="../../css/dist/user.svg" alt="">
          </a>
         
      
         
        </div>
      </div>
      <div class="popup" id="popup">
      </div>
      <div dir="rtl" class="row">
        <div class="columna">
  <h1 class="heading">מעקב אחר ההוצאות שלך בעמוד אחד </h1>
    
  <div class="label" id="revenues">
      <h2 class="h2">הכנס את ההוצאות שלך כאן</h2>
      <div class="tab">
        <button class="tablinks" onclick="openExpenses(event, 'Living_expenses')" id="defaultOpen">ניהול הכסף </button>  
        <button class="tablinks" onclick="openExpenses(event, 'regular_shopping ')">הוצאות מגורים</button>
      <button class="tablinks" onclick="openExpenses(event, 'Travel_and_car')">הוצאות מחיה</button>
      <button class="tablinks" onclick="openExpenses(event, 'Leisure_and_entertainment')">הוצאות נסיעה ורכב</button>
    
    </div>
    
    <div id="Living_expenses" class="tabcontent">
      <form id="expensesForm">
        <label for="שכר-פנסיה"> הפקדה קבועה לחיסכון או ניירות ערך:</label>
        <select class="select" id="salary-pension-frequency" name="salary-pension-frequency">
            <option value="חודשי">חודשי</option>
            <option value="אחת לחודשיים">אחת לחודשיים</option>
            <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="salary-pension-amount" name="salary-pension-amount" placeholder="הכנס סכום">
        <br><br>
        
        <label for="gov-support">הפקדה לחיסכון פנסיוני פרטי :</label>
        <select class="select" id="gov-support-frequency" name="gov-support-frequency">
            <option value="חודשי">חודשי</option>
            <option value="אחת לחודשיים">אחת לחודשיים</option>
            <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="gov-support-amount" name="gov-support-amount" placeholder="הכנס סכום">
        <br><br>
        
        <label for="rental-income">עמלות בנק וכרטיס אשראי :</label>
        <select class="select" id="rental-income-frequency" name="rental-income-frequency">
            <option value="חודשי">חודשי</option>
            <option value="אחת לחודשיים">אחת לחודשיים</option>
            <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="rental-income-amount" name="rental-income-amount" placeholder="הכנס סכום">
        <br><br>
        
        <label for="other-support"> החזר הלוואות וחובות:</label>
        <select class="select" id="other-support-frequency" name="other-support-frequency">
            <option value="חודשי">חודשי</option>
            <option value="אחת לחודשיים">אחת לחודשיים</option>
            <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="other-support-amount" name="other-support-amount" placeholder="הכנס סכום">
        <br><br>
        
        <label for="gifts-bonuses"> ריביות על המינוס:</label>
        <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
            <option value="חודשי">חודשי</option>
            <option value="אחת לחודשיים">אחת לחודשיים</option>
            <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
        <br><br>
        
        <label for="other-income">שכחנו משהו?  הכנסה בהתאמה אישית:</label>
        <input type="text" id="other-income-name" name="other-income-name" placeholder=" שם הכנסה ">
        <select class="select" id="other-income-frequency" name="other-income-frequency">
            <option value="חודשי">חודשי</option>
            <option value="אחת לחודשיים">אחת לחודשיים</option>
            <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="other-income-amount" name="other-income-amount" placeholder="הכנס סכום">
        <br><br>
        
        <input type="submit" class="submit_full" id="submitBtn" value="חשב סכום הכנסות ">
</form>
</div>
<div id="result"></div>

</div>
    
    <div id=" regular_shopping" class="tabcontent">
        <form id="expensesForm">
          <label for="שכר-פנסיה"> שכר דירה:</label>
          <select class="select" id="salary-pension-frequency" name="salary-pension-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="salary-pension-amount" name="salary-pension-amount" placeholder="הכנס סכום">
          <br><br>
          
          <label for="gov-support"> משכנתא:</label>
          <select class="select" id="gov-support-frequency" name="gov-support-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gov-support-amount" name="gov-support-amount" placeholder="הכנס סכום">
          <br><br>
          
          <label for="rental-income">  ביטוח משכנתא (חיים):</label>
          <select class="select" id="rental-income-frequency" name="rental-income-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="rental-income-amount" name="rental-income-amount" placeholder="הכנס סכום">
          <br><br>
          
          <label for="other-support">  ביטוח מבנה דירה למשכנתא:</label>
          <select class="select" id="other-support-frequency" name="other-support-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="other-support-amount" name="other-support-amount" placeholder="הכנס סכום">
          <br><br>
          
          <label for="gifts-bonuses">ועד בית / מסי ועד מקומי:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">

          <label for="gifts-bonuses">  ארנונה:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">

          <label for="gifts-bonuses">חשמל:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">

          <label for="gifts-bonuses">  מים:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br> 
          
          <label for="gifts-bonuses">גז:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br>

        
          <br><br> <label for="gifts-bonuses">טלפון נייד:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br>

          <label for="gifts-bonuses">חבילת שירותי תקשורת וטלויזיה:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br>

          <label for="gifts-bonuses">טלפון ביתי:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br>

          <label for="gifts-bonuses"> אינטרנט:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br>

          <label for="gifts-bonuses">   תיקונים ותחזוקה:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br>

          <label for="gifts-bonuses">   ניקיון הבית:</label>
          <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="gifts-bonuses-amount" name="gifts-bonuses-amount" placeholder="הכנס סכום">
          <br><br>
          <label for="other-income">שכחנו משהו?  הכנסה בהתאמה אישית:</label>
          <input type="text" id="other-income-name" name="other-income-name" placeholder=" שם הכנסה ">
          <select class="select" id="other-income-frequency" name="other-income-frequency">
              <option value="חודשי">חודשי</option>
              <option value="אחת לחודשיים">אחת לחודשיים</option>
              <option value="שנתי">שנתי</option>
          </select>
          <input type="number" id="other-income-amount" name="other-income-amount" placeholder="הכנס סכום">
          <br><br>
          
          <input type="submit" class="submit_full" id="submitBtn" value="חשב סכום הכנסות ">
  </form>
  </div>
    </div>
    
    <div id="Travel_and_car" class="tabcontent">
        <img class="img" src="https://cdn.britannica.com/57/151657-050-4443534D/Camel-caravan-desert-sand-dunes-Sahara-North.jpg?w=600&q=60">
    </div>
    <div id="Leisure_and_entertainment " class="tabcontent">
        <img class="img" src="https://www.travelandleisure.com/thmb/kkunanwydHnsdaIIUb_I62gufSk=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/victoria-falls-zambia-zimbabwe-WATERFALLS1021-253648b330744754a59a5d7721572c97.jpg">
    </div>
  </div>

    <script>
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>
    
<div id="result"></div>

</div>
</body>
</html>