<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>income</title>
    <link rel="stylesheet" href="../../css/dist/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../home-page/dist/homepage.js"defer></script>
    <script src="../../ts/dist/dashboard.js" defer></script>


    
  </head>

<body >
    <div class="allheader"> 
        <div dir="rtl" class="header">
          <img class="logo" src="../../css/dist/banky-low-resolution-logo-white-on-black-background-removebg-preview.png">
          <img class="menu-button" src="../../css/dist/more.svg" active="false" onclick="toggleMenu()">
           <nav class="nav" id="nav">
            
            <a href="../home-page/homepage.html">עמוד הבית</a>
             <a href="../home/Income.html"> הכנסות </a>
             <a href="../home/Income.html#expensesFormDiv">הוצאות</a>
             <a href="../home/Income.html#profitResult">הרווח שלי</a>
             <a href="../home-page/homepage.html#about-us">קצת עלינו</a>
             <a href="../home-page/homepage.html#contact">יצירת קשר</a>
          
          </nav>
          
          <a href="../register/register.html">
            <img class="user" src="../../css/dist/user.svg" alt="">
          </a>
         
      
         
        </div>
      </div>
      <div class="popup" id="popup">
      </div>
  
      <div dir="rtl" class="row">
        <div class="columna">
  <h1 id="heading" class="heading">מעקב אחר ההכנסות שלך   </h1>
    
  <div class="label" id="revenues">
      <h2 class="h2">הכנס את ההכנסות  כאן</h2>
      
      <form id="incomeForm" onsubmit="calculateTotalIncome(); return false;">
        <label  id="salaryPensionLabel" for="שכר-פנסיה">שכר מעבודה\פנסיה:></label>
        <select class="select" id="salary-pension-frequency" name="salary-pension-frequency">
          <option value="חודשי">חודשי</option>
          <option value="אחת לחודשיים">אחת לחודשיים</option>
          <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="salary-pension-amount" name="salary-pension-income-amount" placeholder="הכנס סכום">
        <br><br>
      
        <label id="govSupportLabel" for="gov-support">קצבאות מהממשלה:</label>
        <select class="select" id="gov-support-frequency" name="gov-support-frequency">
          <option value="חודשי">חודשי</option>
          <option value="אחת לחודשיים">אחת לחודשיים</option>
          <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="gov-support-amount" name="gov-support-income-amount" placeholder="הכנס סכום">
        <br><br>
      
        <label id="rentalIncomeLabel" for="rental-income">הכנסה משכירות:</label>
        <select class="select" id="rental-income-frequency" name="rental-income-frequency">
          <option value="חודשי">חודשי</option>
          <option value="אחת לחודשיים">אחת לחודשיים</option>
          <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="rental-income-amount" name="rental-income-amount" placeholder="הכנס סכום">
        <br><br>
      
        <label id="otherSupportLabel" for="other-support">תמיכה נוספת:</label>
        <select class="select" id="other-support-frequency" name="other-support-frequency">
          <option value="חודשי">חודשי</option>
          <option value="אחת לחודשיים">אחת לחודשיים</option>
          <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="other-support-amount" name="other-support-income-amount" placeholder="הכנס סכום">
        <br><br>
      
        <label id="giftsBonusesLabel" for="gifts-bonuses">מתנות ובנוסים</label>
        <select class="select" id="gifts-bonuses-frequency" name="gifts-bonuses-frequency">
          <option value="חודשי">חודשי</option>
          <option value="אחת לחודשיים">אחת לחודשיים</option>
          <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="gifts-bonuses-amount" name="gifts-bonusesincome-amount" placeholder="הכנס סכום">
        <br><br>
      
        <label id="otherIncomeLabel" for="other-income">שכחנו משהו?  הכנסה בהתאמה אישית:</label>
        <input type="text" id="other-income-name" name="other-income-name" placeholder=" שם הכנסה ">
        <select class="select" id="other-income-frequency" name="other-income-frequency">
          <option value="חודשי">חודשי</option>
          <option value="אחת לחודשיים">אחת לחודשיים</option>
          <option value="שנתי">שנתי</option>
        </select>
        <input type="number" id="other-income-amount" name="other-income-amount" placeholder="הכנס סכום">
        <br><br>
      
        <input type="submit" class="submit_full" id="submitBtnIncome" value="חשב סכום הכנסות ">
      </form>
      


      <div id="rootNameIncome"></div>
      <div id="resultIncome"></div>
      <div id="incomeTableIncome"></div>



<h1 id="expensesFormDiv" class="heading">מעקב אחר ההוצאות שלך     </h1>
<h2 class="h2">הכנס את ההוצאות  כאן</h2>
<form id="expensesForm" onsubmit="calculateTotalExpenses(); return false;">
    <!-- קטגוריה 1: הוצאות מגורים -->
    <label id="housingExpensesLabel" for="housing-expenses-amount">הוצאות מגורים:</label>
    <select class="select" id="housing-expenses-frequency" name="housing-expenses-frequency">
        <option value="חודשי">חודשי</option>
        <option value="אחת לחודשיים">אחת לחודשיים</option>
        <option value="שנתי">שנתי</option>
    </select>
    <input type="number" id="housing-expenses-amount" name="housing-expenses-amount" placeholder="הכנס סכום">
    <br><br>

    <!-- קטגוריה 2: הוצאות מחיה -->
    <label id="livingExpensesLabel" for="living-expenses-amount">הוצאות מחיה:</label>
    <select class="select" id="living-expenses-frequency" name="living-expenses-frequency">
        <option value="חודשי">חודשי</option>
        <option value="אחת לחודשיים">אחת לחודשיים</option>
        <option value="שנתי">שנתי</option>
    </select>
    <input type="number" id="living-expenses-amount" name="living-expenses-amount" placeholder="הכנס סכום">
    <br><br>

    <!-- קטגוריה 3: וקניות שוטפות -->
    <label id="groceryExpensesLabel" for="grocery-expenses-amount">קניות שוטפות:</label>
    <select class="select" id="grocery-expenses-frequency" name="grocery-expenses-frequency">
        <option value="חודשי">חודשי</option>
        <option value="אחת לחודשיים">אחת לחודשיים</option>
        <option value="שנתי">שנתי</option>
    </select>
    <input type="number" id="grocery-expenses-amount" name="grocery-expenses-amount" placeholder="הכנס סכום">
    <br><br>

    <!-- קטגוריה 4: הוצאות רכב -->
    <label id="carExpensesLabel" for="car-expenses-amount">הוצאות רכב:</label>
    <select class="select" id="car-expenses-frequency" name="car-expenses-frequency">
        <option value="חודשי">חודשי</option>
        <option value="אחת לחודשיים">אחת לחודשיים</option>
        <option value="שנתי">שנתי</option>
    </select>
    <input type="number" id="car-expenses-amount" name="car-expenses-amount" placeholder="הכנס סכום">
    <br><br>

    <!-- קטגוריה 5: הוצאות פנאי ובילויים -->
    <label id="entertainmentExpensesLabel" for="entertainment-expenses-amount">הוצאות פנאי ובילויים:</label>
    <select class="select" id="entertainment-expenses-frequency" name="entertainment-expenses-frequency">
        <option value="חודשי">חודשי</option>
        <option value="אחת לחודשיים">אחת לחודשיים</option>
        <option value="שנתי">שנתי</option>
    </select>
    <input type="number" id="entertainment-expenses-amount" name="entertainment-expenses-amount" placeholder="הכנס סכום">
    <br><br>

    <!-- קטגוריה 6: בריאות וביטוחים -->
    <label id="healthExpensesLabel" for="health-expenses-amount">בריאות וביטוחים:</label>
    <select class="select" id="health-expenses-frequency" name="health-expenses-frequency">
        <option value="חודשי">חודשי</option>
        <option value="אחת לחודשיים">אחת לחודשיים</option>
        <option value="שנתי">שנתי</option>
    </select>
    <input type="number" id="health-expenses-amount" name="health-expenses-amount" placeholder="הכנס סכום">
    <br><br>

    <label id="otherExpensesLabel" for="other-expenses">שכחנו משהו?  הוצאה בהתאמה אישית:</label>
    <input type="text" id="other-expenses-name" name="other-expenses-name" placeholder=" שם הכנסה ">
    <select class="select" id="other-expenses-frequency" name="other-expenses-frequency">
      <option value="חודשי">חודשי</option>
      <option value="אחת לחודשיים">אחת לחודשיים</option>
      <option value="שנתי">שנתי</option>
    </select>
    <input type="number" id="other-expenses-amount" name="other-expenses-amount" placeholder="הכנס סכום">
    <br><br>
    <input type="submit" class="submit_full" id="submitBtnExpenses" value="חשב סכום הוצאות">
</form>

<div id="rootNameExpenses"></div>
<div id="resultExpenses"></div>
<div id="incomeTableExpenses"></div>

<button class="start-button" onclick="calculateProfit()">חשב את הרווח החודשי </button>
<button class="start-button" onclick="calculateProfityearly()">חשב את הרווח השנתי </button>
<div id="profitResultYear"></div>
<div id="profitResult"></div>

  </div>

<footer class="footer">
    <div dir="rtl" class="footer-container">
      <div class="column">
        <h4>מפת האתר</h4>
        <nav class="nav Foter" id="nav">
            <a href="../home-page/homepage.html">עמוד הבית</a>
            <a href="../home/Income.html"> הכנסות </a>
            <a href="../home/Income.html#expensesFormDiv">הוצאות</a>
            <a href="../home/Income.html#profitResult">הרווח שלי</a>
            <a href="../home-page/homepage.html#about-us">קצת עלינו</a>
            <a href="../home-page/homepage.html#contact">יצירת קשר</a>
        </nav>
      </div>
      <div class="column">
        <h4>הירשמו לניוזלייטר שלנו</h4>
        <p>הצטרפו לרשימת התפוצה שלנו ותהיו מעודכנים בחידושים נוספים!</p>
        <form>
          <input type="email" placeholder="כתובת מייל" required>
          <button type="submit">תרשמו אותי!</button>
        </form>
      </div>
      <div class="column">
        <h4>"מקסם את העושר שלך  ללא מאמץ"
        </h4>
        <img class="logo fot" src="../../css/dist/banky-low-resolution-logo-white-on-black-background-removebg-preview.png">
        
      </div>
    </div>
  </footer>
  
</body>
</html>