<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profit</title>
    <link rel="stylesheet" href="../../css/dist/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="./dist/homepage.js"defer></script>
  </head>

<body>
    <div class="allheader"> 
        <div dir="rtl" class="header">
          <img class="logo" src="../../css/dist/banky-low-resolution-logo-white-on-black-background-removebg-preview.png">
          <img class="menu-button" src="../../css/dist/more.svg" active="false" onclick="toggleMenu()">
           <nav class="nav" id="nav">
            
            <a href="../home-page/homepage.html">עמוד הבית</a>
             <a href="../home/Income.html">הוצאות</a>
             <a href="../home/expenses.html">הכנסות</a>
             <a href="../home/profit.html">הרווח שלי</a>
             <a href="../home-page/homepage.html#about-us">קצת עלינו</a>
             <a href="../home-page/homepage.html#contact">יצירת קשר</a>
          
          </nav>
          
          <a href="../register/register.html">
            <img class="user" src="../../css/dist/user.svg" alt="">
          </a>
         
      
         
        </div>
      </div>
      <div class="popup" id="popup">
      </div>
   
  </div>
</div>