<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dist/style.css">
    <script src="../ts/dist/index.js" defer></script>
    <title>Game</title>
</head>
<body>
    <div id="instruction">Match the word with its meaning</div>
    <div id="score">your scor:</div>
    <div class="wrapper">
        <div class="cards" id="cards">
            <div id="c1" class="card c1"></div>
            <div id="c2" class="card c2"></div>
            <div id="c3" class="card c3"></div>
            <div id="c4" class="card c4"></div>                        
        </div>
        <br>
        <button id="finish" class="btnF" onclick="renderFinish()">Finish</button>
    </div>  
</body>
</html>