<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dist/style.css">
    <script src="../ts/dist/index.js" defer></script>
    <title>Game</title>
</head>
<body onload="renderPlay()">
    <div id="h1"></div>
    <div id="instruction"></div>
    <div class="wrapper">
        <div class="cards" id="cards"></div>
        <br>
        <button id="finish" class="btnF" onclick="renderFinish()">Finish</button>
    </div>  
</body>
</html>