<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dist/style.css">
    <script src="../ts/dist/index.js" defer></script>
    <title>Main</title>
</head>

<body id="body_index" onload="OnLoadIndex()">
    <div class="wrapper">
        <div id="h1"></div>
        <div id="root">
            <button onclick="renderNewWords()">ADD NEW WORDS</button>
            <button onclick="heandelPlay()">PLAY</button>
        </div>
    </div>
</body>

</html>