<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/dist/style.css">
    <script src="../ts/dist/index.js" defer></script>
    <title>login</title>
</head>

<body id="body_login">
    <div class="wrapper">
        <form onsubmit="handelSubmit(event)">
            <h4>plaese enter your name here</h4>
            <input type="text" id="newname" required>
            <button type="submit">Sing in</button>
        </form>
    </div>
</body>

</html>