body{
    height: 100vh;
    img{
        width: 18rem;
    }
    .baloonns{
        display: flex;
        position: relative;
        .baloonn1{
            position: absolute;
            top: 10rem;
            left: 40rem;
            z-index: 3;
        }
        .baloonn2{
            position: absolute;
            transform: rotate(-22deg);
            top: 11rem;
            left: 35rem;
            z-index: 2;
            filter: blur(2px);
        }
        .baloonn3{
            position: absolute;
            transform: rotate(22deg);
            top: 11rem;
            left: 45rem;
            z-index: 2;
            filter: blur(2px);
        }
        .baloonn4{
            position: absolute;
            top: 13rem;
            left: 50rem;
            transform: rotate(50deg);
            z-index: 1;
            filter: blur(4px);
        }
        .baloonn5{
            position: absolute;
            top: 13rem;
            left: 30rem;
            transform: rotate(-50deg);
            z-index: 1;
            filter: blur(4px);
            
        }
    }
}