

.wrapper {
    .all{
        position: absolute;
        width: 92%;
        top: 27px;
        height: 72vh;
        display: flex;
        background-image: url('https://images.pexels.com/photos/2433283/pexels-photo-2433283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-size: cover; 
    }


    

    
    
    #first:active ~ .all {
        background-image: url('https://images.pexels.com/photos/3699434/pexels-photo-3699434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
    .buttons {
        cursor: pointer;
        display: flex;
        justify-content: center;
        // align-items: flex-end;
        gap: 34px;
        margin: auto;
    }

    
}
    // .all:target {
    //     background-image: url('https://images.pexels.com/photos/2433283/pexels-photo-2433283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    // }
    // .all:target {
    //     background-image: url('https://images.pexels.com/photos/2433283/pexels-photo-2433283.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');

    // }

    // .all:target #first:active {
    //         background-image: url('https://images.pexels.com/photos/3699434/pexels-photo-3699434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    //     }

    // .buttons__first:active ~ .all{
    //     background-image: url("https://images.pexels.com/photos/1820041/pexels-photo-1820041.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    // }
            // width: 92%;
            // top: 27px;
            // height: 72vh;
            // display: flex;
            // // background-image: url('https://images.pexels.com/photos/7992270/pexels-photo-7992270.jpeg');
            // background-size: cover; 

            
            // &__second :active ~ .all{
                // background-image: url('https://images.pexels.com/photos/3699434/pexels-photo-3699434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
                // background-size: cover;
                // }
                
        
            // #first:active ~ .all{
            // background-image: url('https://images.pexels.com/photos/3699434/pexels-photo-3699434.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
            // }


    

            



