
@import "buttons";
@import "images";

.wrapper{
    display: flex;
    position: relative;
    width: 65%;
    height: 11vh;
    border: 2px solid black;
    padding: 500px 30px 2px 30px;
    text-align: center;
    margin: 0 auto;
}