$wrapper: 100ch;
.brief {
  margin: auto;
  width: $wrapper;
  height: 200px;
  display: flex;
  gap: 10px;

  &__article {
    flex: 1;
    display: flex;
    flex-direction: column;
    &__video {
      background-image: url("./soccer.png");
      background-size: cover;
      height: 100%;
    }
    &__text {
      background-color: black;
      color: white;
      text-align: center;
      padding: 4px;
    }
  }
}
//block
.btns {
  width: $wrapper;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
//element
  &__btn {
    border: none;
    margin: 5px;
    padding: 10px;
    // modifiers
    &--ok {
      background-color: green;
    }

    &--cancel {
      background-color: orange;
    }

    &--delete {
      background-color: red;
    }
  }
}
