.buttons {
    width: 80%;
    height: 50px;
    position: relative;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    background-color: rgb(200, 200, 200);
    border-radius: 25px;
    z-index: 0; //test after giving exam...to check git

    .buttonsContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .button-1,
    .button-2 {
        transition: transform 0.5s ease-in-out;
        background-color: rgb(200, 200, 200);
        color: rgb(100, 100, 100);
        width: 50%;
        height: 50px;
        border: none;
        border-radius: 25px;
    }

    .button-1:focus {
        color: white;
        border-radius: 25px;
        background: linear-gradient(90deg, #0303fa 0%, rgb(43, 226, 180) 100%);
    }

    .button-2:focus {
        color: white;
        border-radius: 25px;
        background: linear-gradient(90deg, #0303fa 0%, rgb(43, 226, 180) 100%);
    }
}