tr {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;

    td{
        border: 2px solid black;
        gap: 3px;
    }
}


.dish-container {
    display: flex;

    img{
        width: 290px;
        margin-right: 14px;
        margin-top: 10px;
    }
    
    button {
        margin-bottom: 20px;
    }
}