$wrapper: 100ch;

.brief {
    margin: auto;
    width: $wrapper;
    height: 200px;
    display: flex;
    gap: 10px;
    direction: rtl;

    &__article {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__nadlan {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-real-estate.png&w=256&q=75");
            background-size: cover;
            height: 100%;

        }

        &__car {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-vehicles.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__yad2 {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-second-hand.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }


        &__jobs {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-drushim.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__pet {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-pets.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__hands {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-professional.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__bsn {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-business.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }



        &__video {
            background-image: url("./soccer.png");
            background-size: cover;
            height: 100%;
        }

        &__text {
            background-color: black;
            color: white;
            text-align: center;
            padding: 4px;
        }
    }
}

    // &__search {
    //     flex: 1;
    //     display: flex;
    //     flex-direction: column;
    //     height: 10px;
    //     width: 10px;
    //     background-color: aqua;
    // }

    //block
    .btns {
        width: $wrapper;
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 1rem;

        //element
        &__btn {
            border: none;
            margin: 5px;
            padding: 10px;

            // modifiers
            &--ok {
                background-color: green;
            }

            &--cancel {
                background-color: orange;
            }

            &--delete {
                background-color: red;
            }
        }
    }
