.nav-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display:flex;
    justify-content: center;
    bottom: 10%;

    .manual-btn{
        width: 15px;
        height: 15px;
        border: 2px solid black;
        padding: 5px;
        border-radius: 10px;
        background-color: darkorange;
        margin: 0 5px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;

        &:hover{
            transform: scale(1.2);
            opacity: 0.5;
        }

        .manual-btn:not(:last-child){
            margin-right: 30px;
        }
    }
}