.slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;

    .slide{
        width: 500%;
        height: 500px;
        display: flex;

        input{
            display: none;
        }
    }
}