body {
    background-color: beige;
}

.wrapper {
    position: relative;
    top: 10vh;
    background-color: aliceblue;
    width: 380px;
    height: 70vh;
    margin: auto;
    border-radius: 30px;
    border: 2px solid rgb(228, 90, 228);

    .imgPROFAIL {
        position: relative;
        background: rgb(131, 58, 180);
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
        top: 6vh;
        left: 15em;
        width: 7em;
        height: 12vh;
        border-radius: 50%;

        img {
            position: relative;
            top: 0.3em;
            left: 1vh;
            width: 6em;
            height: 11vh;
            border-radius: 50%;
            // margin: auto;
        }
    }

    .folowers {
        position: relative;
        width: 4em;
        top: -5vh;
        left: 4em;
        // flex-wrap: wrap;

        p {
            // position: relative;
            font-size: large;
        }
    }

    .imgArray {
        position: relative;
        display: flex;
        width: 380px;
        height: 30vh;
        flex-wrap: wrap;
        justify-content: end;
        gap: 2px;
        margin: auto;
        top: 18vh;

        img {
            width: 125px;
            height: 14vh;
            // margin: auto;
        }
    }
}