body{
    background-color: beige;
}

// .imgURL{

//     img{
//         width: 200px;
//         height: 200px;
//     }
// }

.imgArray {
    position: relative;
    display: flex;
    width: 1100px;
    flex-wrap: wrap;
    gap: 15px;
    margin: auto;
    top: 30vh;

    img {
        width: 200px;
        height: 200px;
    }
}

// .imgContainer{
//     width: 200px;
//     height: 200px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }