// .imgURL{

//     img{
//         width: 200px;
//         height: 200px;
//     }
// }

.imgArray {
    width: 1000px;
    display: flex;

    img {
        width: 200px;
        height: 200px;
    }
}

// .imgContainer{
//     width: 200px;
//     height: 200px;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
// }