@import "MyBottuns";
@import "images";


.wapper{
    padding-top: 50px;
    border-radius: 10px;
    width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    background-color: rgb(183, 218, 118);
}