@import "button";
@import "Picture";

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(140deg, #C5CAE9, #92697e);
}


.wrapper {
    width: 1000px;
    height: 100%;
    margin: auto;
    position: relative;
}
