.registers  .LoggedUser{
    display: flex;
    justify-content: center;
   width: 99vw;
   height: 99vh;
   align-items: center;
    background-image: url(https://st2.depositphotos.com/1464196/6515/v/450/depositphotos_65157829-stock-illustration-abstract-grey-and-white-pattern.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.register{
    display: block;
    gap: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h2{
    height: 0vh;
    padding: 0px;
    margin: 0px;
}

