.App {
  text-align: center;
  padding-bottom: 40px;

  .circle{
    margin: auto;
    width: 100px;
    height: 100px;
    border: black 1px solid;
    border-radius: 50%;
  }

  
}

.Photo img{
  margin-right: 12px;
}

.UserInfo {
  text-align: center;
  margin: auto;
  background: linear-gradient(#e66465, #9198e5);
  width: 70%;

  
}

.UserInfo p {
  color: rgb(241, 201, 228);
}

.UserInfo h2, h1 {
  font-family: fantasy;
  color: rgb(29, 20, 12);
}

.Practice {
  padding-top: 290px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
