@import "styleimg_new";
@import "style_btn_new";

.wapper{
    position: relative;
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
    border: 1px solid darkblue  ;
    background-image: linear-gradient(red, yellow);
}


