.img1{
    background-image: url(https://www.companyfolders.com/blog/media/2017/07/jaws.jpg);
}
.img2{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/pulpfiction.2436_500x749.jpg?v=1620048742);
}
.img3{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/108b520c55e3c9760f77a06110d6a73b_e97cf224-d57f-44e3-8477-4f5479cd746b_500x749.jpg?v=1573616089);
}
.img4{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/interstellar5_500x749.jpg?v=1585846879);
}
.img5{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/wolfofwallstreet_500x749.jpg?v=1620229322);
}
.img6{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/the-mandalorian_erhl3wzw_500x749.jpg?v=1676485578);
}
.img7{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/fbeeb788df4295f076aa72d15ea2bf43_221e2f9d-ed07-4fab-8969-aed16bff3c71_500x749.jpg?v=1573587263);
}
.img8{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/JOKER.PW.REP_500x749.jpg?v=1574965207);
}
.img9{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/hatefuleight.24x36_500x749.jpg?v=1615396690);
}
.img10{
    background-image: url(https://cdn.shopify.com/s/files/1/0057/3728/3618/products/cd207768748fca315901a1a5503bfd14_79f33f7e-573e-4a47-82c2-419fe8d67357_500x749.jpg?v=1573617241);
}