.grid__row__span{
    grid-column: span 6;
    margin-top: 7em;
    
}



*{ margin: 0; padding: 0;}
body{
height: 100vh;
background: #141414;
h1,h2,p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

    .navbar{
        height: 3.5em;
        width: 100%;
        background-color: rgb(6, 6, 6);
        display: flex;
        position: fixed;
        align-items: center;
        z-index: 99;
        img{ 
            height: 1.5em; 
            width: 6em;
            margin-left: 2.9em;
            margin-right: 2.9em;
            cursor: pointer;

        }
        &__catego{
            color: rgb(119, 116, 116);
            margin-left: .5em;
            margin-right: .5em;
            cursor: pointer;
            &__R{
                color: white;
                margin: 0 1em;
                cursor: pointer;
            }
            &--white{
                color: white;
            }
        }
        &__catego:hover{
           color: white;
           font-weight: bolder;
        }
        .fa-magnifying-glass{
           margin-left: 39em;
           cursor: pointer;
           
        }
        &__userImg{
            height: 2em;
            width: 2em;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: .5em;
            margin-left: 1em;
            cursor: pointer;

        }
        .fa-caret-down{
            margin-left: 1em;
            cursor: pointer;
        }
        .fa-caret-down:hover{
                 transition:  .5s;
                transform: rotate(180deg);
            
        }
    }


    .wrapper{
        
        
        
      
        .recomended{
            height: 100vh;
            background-image: url(https://i.gifer.com/B1E2.gif);
            box-shadow: inset 18rem 18rem 18rem 5rem rgba(15, 15, 15, 0.622);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            &__movieLogo{
                margin-top: 12rem;
                margin-right: 13rem;
                
            }
            &__Nlogo{
                height: 3em;
                width: 3em;
                position: absolute;
                top: 9.9rem;
                left: 3.7rem;
            }
            &__MovieText{
                position: absolute;
                bottom: 34.5rem;
                left: 6.5rem;
                color: white;
            }
            &__bottomText{
                width: 30rem;
                margin-left: 4.8rem;
                
                position: relative;
                &__top10{
                    height: 2rem;
                    width: 2rem;
                   position: absolute;
                   
                }
                h2{ 
                    margin-left: 3rem;
                    color: white;
                }
                p{
                    color: white;
                    margin-top: 1em;
                }
                &__Btns{
                    padding: .3em 1.5em;
                    border-radius: .3em;
                    margin: .5em;
                    &--play{
                        border: none;
                        .fa-play{
                            margin-right: .3em;
                            width: 1.1em;
                            height: 1.1em;
                            border: 3px solid rgba(255, 255, 255, 0);
                        }
                    }
                    &--info{
                        background-color: grey;
                        color: white;
                        border: none;
                        .fa-info{
                            border: 3px solid white;
                            width: 1.1em;
                            height: 1.1em;
                           color: white;
                            border-radius: 50%;
                        }
                    }
                }

            }
            &__PG{
                color: white;
                background-color: rgba(43, 42, 42, 0.386);
                margin-left: 93rem;
                padding: .5rem;
                border-left: 4px solid white;
            }


        }
        .grid{
            display: grid;
            grid-template-columns: repeat(6,15rem);
            grid-template-rows:repeat(6,14rem) ;
            grid-template-rows: auto;
            height: 40em;
            padding: 1em;
            padding-left: 3em;
            
            z-index: 1;
            
            
            &__title{
                h1{color: white;}
                margin-top: 0em;

            }
            &__item{

                height: 8rem;
                width: 14rem;
                margin-top: -3em;
               
                
                &__coverImg{
                    height: 100%;
                    background-color: aqua;
                    border-radius: .5em .5em 0 0;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-clip: border-box;
                }
                &__text{
                    background-color:#222222;
                    height: 7em;
                    opacity: 0;
                    position: relative;
                    .fa-solid{
                        position: absolute;
                        background-color: white;
                        padding: .5em;
                        border-radius: 50%;
                        left: .5em;
                        top: .5em;
                        font-size: 1em;
                    }
                    .fa-regular{
                        position: absolute;
                        color: white;
                        padding: .5em;
                        border-radius: 50%;
                        border: 1px solid rgba(255, 255, 255, 0.686);
                        left: 2.5em;
                        top: .5em;
                        font-size: 1em;
                      
                    }
                    .fa-plus{
                        
                        left: 2.5em;
                        top: .5em;
                       
                    }

                    .fa-thumbs-up{
                                      
                        top: .5em;
                        left: 4.8em;                       
                    }
                    .fa-chevron-down{
                        left: 11.3em;
                        border: 1px solid rgba(255, 255, 255, 0.686);
                        background-color: #14141400;
                        color: white;
                       
                    }
                    &__freetext{
                        display: flex;
                        padding-left: 5px;
                        position: absolute;
                        top: 5em;
                        
                        .match{
                            color: rgb(19, 211, 19);
                            margin-left: 8px;
                        }
                        .age{
                            margin-left: 8px;
                            color: white;
                            border: 1px solid white;
                            padding: 0 5px 0 5px;
                        }
                        .time{
                            margin-left: 8px;
                            color: white;
                        }

                    }
                }
                
                
            }
            &__item:hover{
                transform: scale(1.5) translateY(-40%) ;
                transform-origin: center;
                transition:  1.5s ; 
                
                
            }
            &__item:hover .grid__item__text  {
                
                opacity: 1;
            }
           
            .transRight:hover{
               transform: scale(1.5) translateY(-40%) translateX(15%);
            }
        }


    }





}