.grid__row__span {
  grid-column: span 6;
  margin-top: 7em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: #141414;
}
body h1, body h2, body p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body .navbar {
  height: 3.5em;
  width: 100%;
  background-color: rgb(6, 6, 6);
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 99;
}
body .navbar img {
  height: 1.5em;
  width: 6em;
  margin-left: 2.9em;
  margin-right: 2.9em;
  cursor: pointer;
}
body .navbar__catego {
  color: rgb(119, 116, 116);
  margin-left: 0.5em;
  margin-right: 0.5em;
  cursor: pointer;
}
body .navbar__catego__R {
  color: white;
  margin: 0 1em;
  cursor: pointer;
}
body .navbar__catego--white {
  color: white;
}
body .navbar__catego:hover {
  color: white;
  font-weight: bolder;
}
body .navbar .fa-magnifying-glass {
  margin-left: 39em;
  cursor: pointer;
}
body .navbar__userImg {
  height: 2em;
  width: 2em;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5em;
  margin-left: 1em;
  cursor: pointer;
}
body .navbar .fa-caret-down {
  margin-left: 1em;
  cursor: pointer;
}
body .navbar .fa-caret-down:hover {
  transition: 0.5s;
  transform: rotate(180deg);
}
body .wrapper .recomended {
  height: 100vh;
  background-image: url(https://i.gifer.com/B1E2.gif);
  box-shadow: inset 18rem 18rem 18rem 5rem rgba(15, 15, 15, 0.622);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
body .wrapper .recomended__movieLogo {
  margin-top: 12rem;
  margin-right: 13rem;
}
body .wrapper .recomended__Nlogo {
  height: 3em;
  width: 3em;
  position: absolute;
  top: 9.9rem;
  left: 3.7rem;
}
body .wrapper .recomended__MovieText {
  position: absolute;
  bottom: 34.5rem;
  left: 6.5rem;
  color: white;
}
body .wrapper .recomended__bottomText {
  width: 30rem;
  margin-left: 4.8rem;
  position: relative;
}
body .wrapper .recomended__bottomText__top10 {
  height: 2rem;
  width: 2rem;
  position: absolute;
}
body .wrapper .recomended__bottomText h2 {
  margin-left: 3rem;
  color: white;
}
body .wrapper .recomended__bottomText p {
  color: white;
  margin-top: 1em;
}
body .wrapper .recomended__bottomText__Btns {
  padding: 0.3em 1.5em;
  border-radius: 0.3em;
  margin: 0.5em;
}
body .wrapper .recomended__bottomText__Btns--play {
  border: none;
}
body .wrapper .recomended__bottomText__Btns--play .fa-play {
  margin-right: 0.3em;
  width: 1.1em;
  height: 1.1em;
  border: 3px solid rgba(255, 255, 255, 0);
}
body .wrapper .recomended__bottomText__Btns--info {
  background-color: grey;
  color: white;
  border: none;
}
body .wrapper .recomended__bottomText__Btns--info .fa-info {
  border: 3px solid white;
  width: 1.1em;
  height: 1.1em;
  color: white;
  border-radius: 50%;
}
body .wrapper .recomended__PG {
  color: white;
  background-color: rgba(43, 42, 42, 0.386);
  margin-left: 93rem;
  padding: 0.5rem;
  border-left: 4px solid white;
}
body .wrapper .grid {
  display: grid;
  grid-template-columns: repeat(6, 15rem);
  grid-template-rows: repeat(6, 14rem);
  grid-template-rows: auto;
  height: 40em;
  padding: 1em;
  padding-left: 3em;
  z-index: 1;
}
body .wrapper .grid__title {
  margin-top: 0em;
}
body .wrapper .grid__title h1 {
  color: white;
}
body .wrapper .grid__item {
  height: 8rem;
  width: 14rem;
  margin-top: -3em;
}
body .wrapper .grid__item__coverImg {
  height: 100%;
  background-color: aqua;
  border-radius: 0.5em 0.5em 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}
body .wrapper .grid__item__text {
  background-color: #222222;
  height: 7em;
  opacity: 0;
  position: relative;
}
body .wrapper .grid__item__text .fa-solid {
  position: absolute;
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
  left: 0.5em;
  top: 0.5em;
  font-size: 1em;
}
body .wrapper .grid__item__text .fa-regular {
  position: absolute;
  color: white;
  padding: 0.5em;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.686);
  left: 2.5em;
  top: 0.5em;
  font-size: 1em;
}
body .wrapper .grid__item__text .fa-plus {
  left: 2.5em;
  top: 0.5em;
}
body .wrapper .grid__item__text .fa-thumbs-up {
  top: 0.5em;
  left: 4.8em;
}
body .wrapper .grid__item__text .fa-chevron-down {
  left: 11.3em;
  border: 1px solid rgba(255, 255, 255, 0.686);
  background-color: rgba(20, 20, 20, 0);
  color: white;
}
body .wrapper .grid__item__text__freetext {
  display: flex;
  padding-left: 5px;
  position: absolute;
  top: 5em;
}
body .wrapper .grid__item__text__freetext .match {
  color: rgb(19, 211, 19);
  margin-left: 8px;
}
body .wrapper .grid__item__text__freetext .age {
  margin-left: 8px;
  color: white;
  border: 1px solid white;
  padding: 0 5px 0 5px;
}
body .wrapper .grid__item__text__freetext .time {
  margin-left: 8px;
  color: white;
}
body .wrapper .grid__item:hover {
  transform: scale(1.5) translateY(-40%);
  transform-origin: center;
  transition: 1.5s;
}
body .wrapper .grid__item:hover .grid__item__text {
  opacity: 1;
}
body .wrapper .grid .transRight:hover {
  transform: scale(1.5) translateY(-40%) translateX(15%);
}/*# sourceMappingURL=style.css.map */