.doctors-carousel {
  overflow: hidden;
  display: flex;
  padding: 0 2% 0 2%;
  gap: 4%;
}
.card {
  margin-bottom: 5rem;
  border-radius: 10px;
  position: relative;
  background-color: #fff;
  // height: auto;
  min-width: 25%;
  padding: 2%;
  &__title {
    color: #1c7ed6;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }
  &__desc {
    color: #555;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  &__click-me-corner {
    cursor: pointer;
    background-image: linear-gradient(to left, #1c7ed6, #1864ab);
    position: absolute;
    border-radius: 20px;
    right: -12%;
    bottom: -12%;
    padding: 7%;
    display: flex;
    // max-width: 25%;
    align-self: center;
    justify-content: center;
    &--chevron-right {
      stroke: #fff;
      height: 22px;
      width: 22px;
    }
  }
}
