.wrapper{
    width: 100vh;
    height: 100vh;
    .userCard{
        display: flex;
        justify-content: space-between;
        width: 25rem;
        margin-top: 2rem;
        margin-left: 5rem;
        height: 5rem;
        background-color: beige;
        .cardimgs{
            display: flex;
            .cardimg{
               margin-left: .5rem;
                background-size: cover;
                height: 5rem;
               
                width: 5rem;
            }
        }
       
    }
}
