body {

    overflow: hidden;

    .board {
        position: absolute;
        width: 700px;
        height: 700px;
        margin: 20px 350px;
        z-index: -5;
    }

    .player {
        width: 50px;
        height: 100px;
        position: absolute;
        z-index: 1;
    }

    #player1 {
        top: 20px;
        left: 550px;


    }

    #player2 {
        top: 20px;
        left: 455px;
    }

    #player3 {
        top: 20px;
        left: 370px;
    }
}