$borderradus: 20px;

.header{
    position: sticky;
    display: flex;
    inline-size: 100vh;
    text-align: center;
   

    button{
        border-radius: 15px;

    }

    svg{
        size: 15px; 
    }
}

.conteiner{
        display: flex;

    
    .column1{
       gap: 10px;
       display: flex;
       flex-direction: column;

       .imgsize1{
        border-radius: $borderradus;
        height: 200px;
       }

       .imgsize2{
        height: 150px ;
       }

       .imgsize3{
        height: 250PX;
       }

    }

}

