body { margin:20px; background:hsl(70, 31%, 85%); text-align:center; }

.wrapper {

    .balloon {
        position: absolute;
        box-sizing: border-box;

        .gold {
     
            position: relative;
            left: 410px;
            top: -1880px;
            transform: rotate(20deg);
         }

        .pink {
        
            position: relative;
            left: 250px;
            top: -980px;
            transform: rotate(-25deg);
           
        }

        .lightpink {
            
            position: relative;
            left: 310px;
            top: -1400px;
            transform: rotate(-15deg);
           
        }

       .green { 
        position: relative;
        left: 500px;
        top: -2750px;
        transform: rotate(15deg);
        
    }

    .lightgreen {

        position: relative;
        left: 580px;
        top: -2320px; 
        transform: rotate(35deg);
    }
      
       
       .blue {
        position: relative;
        left: 555px;
        top: 780px;
        transform: rotate(10deg);
       }

       .lightblue {
        position: relative;
        left: 100px;
        top: 210px;
        transform: rotate(-30deg);
       }

       .red {
        position: relative;
        left: 210px;
        top: -3100px;
        transform: rotate(-30deg);
    }
    
    .redheart {
        position: relative;
        left: 600px;
        top: -3600px;
        transform: rotate(32deg);
     }
       .orange {
        position: relative;
        left: 330px;
        top: -450px;
        transform: rotate(-5deg);
        
        
     }



    }
}
