$width: 200px;
$height: 200px;

body{
    width: 100%;
    height: 100%;
}
.container {
    width: 100px;
    height: 600px;
}

.row {
    width: 100%;
    height: 200px;

    .blue {
        position: relative;
        left: 50px;

        img {
            width: $width;
            height: $height;
        }
    }

    .yellow {
        position: relative;
        left: 220px;
        top: -195px;

        img {
            width: $width;
            height: $height;
        }
    }

    .brown {
        position: relative;
        left: 400px;
        top: -395px;

        img {
            width: $width;
            height: $height;
        }
    }

    .green {
        position: relative;
        left: 590px;
        top: -590px;

        img {
            width: 180px;
            height: 180px;
        }
    }

    .red {
        position: relative;
        right: -800px;
        top: -770px;

        img {
            width: 140px;
            height: 180px;
        }
    }
}


.shortRow {
    width: 100%;
    height: 200px;
    position: relative;
    left: 100px;

    .blue {
        position: relative;
        left: 50px;

        img {
            width: $width;
            height: $height;
        }
    }

    .yellow {
        position: relative;
        left: 220px;
        top: -195px;

        img {
            width: $width;
            height: $height;
        }
    }

    .brown {
        position: relative;
        left: 400px;
        top: -395px;

        img {
            width: $width;
            height: $height;
        }
    }

    .green {
        position: relative;
        left: 590px;
        top: -590px;

        img {
            width: 180px;
            height: 180px;
        }
    }

    .red {
        position: relative;
        left: 800px;
        top: -770px;

        img {
            width: 140px;
            height: 180px;
        }
    }
}