body {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #6467d4;
    font-size: 40px;
  }

  form {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    input {
      height: 40px;
    }

    button {
      color: #fff;
      background-color: #6467d4;
      border-radius: 5px;
    }
  }
}
