body {
  background-color: wheat;
  
  .articles {
   width: 100vw;
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 0.5rem;

    img {
      width: 200px;
      height: 80px;
    }

    .card {
      padding: 1.5rem;
      height: 400px;
      width: 200px;
      color: white;
      border-radius: 15px;
      background-color: rgb(39, 38, 38);
    }
   
  }
}
