body {
    text-align: left;
    display: flex;
    gap: 60px;
    background-color: #eff8ff;
    &.index{
        background-color: #ffffff;
    }
    &.regis{
        background-color: #ccd9f9;
    }
}


h1 {
    margin-top: 10vh;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 50px;
    text-align: left;
    margin-left: 20px;
}

.art {
    margin-top: -20px;
    font-size: 80px;
    font-family: 'Carter One', cursive;
    font-style: italic;

    &:hover {
        text-shadow: 2px 2px 6px rgb(122, 121, 121);
    }

    transition: all 0.2s;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.img {
    position: absolute;
    width: 95vw;
    height: 95vh;
    background-image: url("https://www.rosh-hanikra.com/wp-content/uploads/2021/06/DSC01978-min.jpg");
    background-size: cover;
    overflow: hidden;
    background-position: top;
    z-index: -1;
}

.log, .reg{
    width: 45vw;
    background-image: url("https://unpaper.com/wp-content/uploads/2019/05/7.-improve-productivity-at-workplace-2048x1024.png");
background-size: cover;
background-position: center;
margin-top: 6vh;
h2{
    font-size: 50px;
}
h3{
    font-size: 36px;
    font-style: normal;
    font-weight: 100;
    text-shadow: 0 0 10px #eff8ff, 0 0 20px #50b0ed, 0 0 30px #50b0ed, 0 0 40px #3d7dde, 0 0 50px #3d7dde;
color: #1b345b;
}
}
.reg{
    background-image: url("https://www.247software.com/hs-fs/hubfs/blog-11-task-management.png?width=880&length=880&name=blog-11-task-management.png");
    // width: 80vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.login,
.register {
    gap: 20px;
    display: flex;
    justify-content: right;
    align-items: center;

    a,
    button {
        background-color: rgb(51, 94, 205);
        color: #ffffff;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        text-decoration-line: none;
        width: fit-content;
        padding: 8px 8px;
        border: 1px gray solid;
        border-radius: 14px;
        cursor: pointer;
&.back{
    font-size: 13px;
    margin-right: 15px;
}
        &:hover {
            background-color: rgb(255, 255, 255);
            color: #335ecd;
        }

        transition: all 0.2s;
    }

    input {
        background-color: rgb(255, 255, 255);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        width: fit-content;
        padding: 8px 8px;
        border: 2px #335ecd solid;
        border-radius: 14px;
    }

    ::placeholder {
        color: #335ecd;
    }

}

.loginForm {
    margin-left: 15vw;
    margin-right: 10vw;

    h1 {
        font-size: 80px;

        &:hover {
            text-shadow: 2px 2px 6px rgb(122, 121, 121);
        }

        transition: all 0.2s;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}