$font-family: 'Poppins', sans-serif;
$font-size-heading: 3em;
$font-size-sub-heading: 1.3em;
$font-size-big-heading:2.2em;
$font-size-text: 1.0em;
$color-site-blue: #8BA4F9; 
$color-site-dark-blue: #6467D4;
$color-site-black:#000000 ;
$color-site-white: #ffff;
.loginDiv{
    display: flex;
    flex-direction: column;
  background-color:$color-site-white;
    height: 65vh;
    width: 25vw;
    justify-content: space-evenly;
    padding: 0em 1em;
    .appName{
        display: flex;
    align-items: initial;
        font-family: $font-family;
        font-size: $font-size-text;
        font-weight: 500;
        color:#BCBFCB;
        padding: 0em 0.5em;


    }
    .loginHeader{
        display: flex;
    align-items: initial;
        font-family: $font-family;
        font-size: $font-size-sub-heading;
        font-weight: 600;
        color:$color-site-dark-blue;
        padding: 0em 0.5em;

    }
    .notCorrect{
        font-family: $font-family;
        font-size: 0.8em;
    }
  .loginForm{
    display: flex;
    flex-direction: column;
    padding: 0px 20px 0px 10px;
    

  }
  }
  .inputPassword{
    width: 96%;
margin-bottom: 2%;
padding: 12px 5px;
border: 1px solid lightgray;
box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
border-radius: 3px;

font-family: $font-family;
color: #6467D4;


  }
  .inputLogin {
    width: 96%;
    margin-bottom: 2%;
    padding: 12px 5px;
    border: 1px solid lightgray;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.11);
    border-radius: 3px;
    font-family: $font-family;
    color: $color-site-blue;

  }
  
  .viewPassword {
    position: absolute;
    right: 39vw;  
    top: 41.5vh;     
    transform: translateY(-50%);  
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .match{
    font-family: $font-family;
    color: $color-site-blue;
    margin: 5px 0px 10px 0px;
  }
  .forgetPassword{
    font-family: $font-family;
    color:#7f8084;
    text-decoration: none;
    font-size: 0.8em;
  }
  .loginBtn{
    background-color: $color-site-dark-blue;
    color: $color-site-white;
    font-size: $font-size-text;
    font-family: $font-family;
    border: 1px solid $color-site-dark-blue;
    border-radius: 5px;
    padding: 10px ;
    font-weight: 600;
    cursor: pointer;
    
  }
  .signupBtn{
    background-color: $color-site-white;
    color: $color-site-dark-blue;
    font-size: $font-size-text;
    font-family: $font-family;
    border: 1px solid $color-site-dark-blue;
    border-radius: 5px;
    padding: 10px ;
    font-weight: 600;
    cursor: pointer;

  }
  @media screen and (max-width: 800px) {
    .loginDiv {
        width: 70vw;
    }
    .viewPassword {
        position: absolute;
        right: 22vw;  
        top: 41.5vh;     
        transform: translateY(-50%);  
        
}}