* {
  box-sizing: border-box;
}

.header {
  position: relative;
  top: -8px;
  margin-left: -8px;
  margin-right: -8px;
  display: flex;
  color: white;
  background-color: black;
  justify-content: center;
  height: 67;
  margin-bottom: 10px;
  padding: 0px 20px;
}
.header .nav {
  display: flex;
  gap: 3px;
  align-items: center;
}
.header .nav .left {
  display: flex;
  gap: 3px;
}
.header .nav .left .bbc {
  display: flex;
  gap: 8px;
}
.header .nav .left .bbc .letter {
  border: 2px solid white;
  background-color: white;
  color: black;
  margin: 11px 0px;
  width: 26px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 2px 2px;
  font-weight: 900;
  text-transform: uppercase;
}
.header .nav .left .sign-in {
  display: flex;
  gap: 2px;
  align-items: center;
  position: relative;
  left: 20px;
  font-size: small;
}
.header .nav .left .sign-in img {
  position: relative;
  height: 30px;
}
.header .nav .right {
  display: flex;
  margin-left: 70px;
}
.header .nav .right .line {
  border-left: 1px solid rgb(68, 66, 66);
  padding-left: 27px;
}
.header .nav .right ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: small;
  align-items: center;
}
.header .nav .right .dots {
  padding: 10px 25px;
}
.header .nav .search {
  display: flex;
  border: 0px solid gray;
  background-color: #28292b;
  padding: 4px 45px;
  height: 27px;
  margin-top: 12px;
  font-size: small;
  padding-left: 9px;
  padding-right: 95px;
  align-items: center;
}
.header .nav .search img {
  height: 25px;
}

.media.media .media-image {
  position: relative;
}
.media.media .media-content {
  position: absolute;
  width: 30px;
}
.media.media .media-content h3 {
  position: absolute;
}
.media.media .media-content p {
  position: absolute;
}

.main {
  padding: 0px 120px;
}
.main .module-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .module-header h3 {
  color: gray;
  font-weight: 100;
  font-size: 24px;
}
.main .module-promo .module-content {
  display: flex;
  height: 52vh;
  width: 100%;
  justify-content: space-between;
}
.main .module-promo .source {
  margin-left: 12px;
  color: rgb(205, 205, 205);
  font-size: 11px;
  padding: 0px 6px;
  font-weight: 900;
  text-shadow: 1px 1px 2px black;
  border-left: 2px solid red;
}
.main .module-promo .left {
  display: flex;
  box-sizing: border-box;
  width: 50%;
}
.main .module-promo .left .media-image {
  width: 100%;
  position: relative;
  background-image: url("https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/97F8/production/_129140983_bakhmut.jpg");
  background-size: 640px;
}
.main .module-promo .left .media-content {
  position: absolute;
  color: rgb(248, 245, 245);
  top: 306px;
  padding: 0px 19px;
  font-weight: 900;
}
.main .module-promo .left .media-content h1 {
  width: 70%;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  font-weight: bold;
  margin-bottom: -5px;
  text-shadow: 1px 1px 2px black;
  margin-top: 40px;
}
.main .module-promo .left .media-content p {
  width: 70%;
  color: rgb(205, 205, 205);
  text-shadow: 1px 1px 2px black;
}
.main .module-promo .right {
  height: 100%;
  width: 50%;
  position: relative;
}
.main .module-promo .right .media-media {
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 640px;
  height: 341px;
  overflow: hidden;
}
.main .module-promo .right .media-media .title {
  padding: 0px 17px;
  font-size: 17px;
  margin-top: 85px;
  margin-bottom: -2px;
  color: white;
  font-weight: 900;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  text-shadow: 1px 1px 2px black;
}
.main .module-promo .right .media-media .image-article {
  position: absolute;
  background-size: cover;
  box-sizing: border-box;
}
.main .module-promo .right .media-media .one {
  width: 47%;
  height: 49%;
  left: 17px;
  top: 0;
  background-image: url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/7A48/production/_129140313_gettyimages-1249286538.jpg");
}
.main .module-promo .right .media-media .two {
  top: 0;
  right: 0;
  width: 48%;
  height: 49%;
  background-image: url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/65F8/production/_129140162_gettyimages-1243370310.jpg");
}
.main .module-promo .right .media-media .two .top-right {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .module-promo .right .media-media .three {
  bottom: 0;
  left: 17px;
  width: 47%;
  height: 49%;
  background-image: url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/FC66/production/_129141646_38d285125f07513e5aca27c1bbcc798435bbee66371_143_2810_15821000x563.jpg");
}
.main .module-promo .right .media-media .four {
  bottom: 0;
  right: 0;
  border: green;
  width: 48%;
  height: 49%;
  background-image: url("https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/8A4C/production/_129140453_antoinegriezmannandkylianmbappe.jpg");
}
.main .module-promo .right .text {
  position: relative;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.main .module-promo .right .text .top-right {
  position: absolute;
  top: 13px;
  width: 60%;
  left: 75%;
}
.main .module-promo .right .text .top-left {
  width: 46%;
  position: absolute;
  left: 4%;
  top: 220px;
  left: 27px;
  top: 73px;
}
.main .module-column .title {
  padding: 0px 6px;
  width: 7px;
  height: 19px;
  margin-top: 30px;
  font-size: 17px;
  display: flex;
  align-items: center;
  border-left: 4px solid red;
}
.main .module-column .media-image {
  display: flex;
  width: 50%;
  height: 154px;
  gap: 16px;
  margin-top: 18px;
}
.main .module-column .world {
  display: flex;
}
.main .module-column .source {
  color: rgb(125, 121, 121);
  font-size: 14px;
  padding: 0px 6px;
  text-transform: uppercase;
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
}
.main .module-column .module-news .title {
  padding: 0px 6px;
  width: 7px;
  height: 19px;
  margin-top: 30px;
  font-size: 17px;
  display: flex;
  align-items: center;
  border-left: 3.5px solid red;
}
.main .module-column .module-news .world {
  gap: 222px;
}
.main .module-column .module-news .source {
  border-left: 2px solid red;
}
.main .module-column .module-sport .title {
  padding: 0px 6px;
  width: 7px;
  height: 19px;
  margin-top: 30px;
  font-size: 17px;
  display: flex;
  align-items: center;
  border-left: 3.5px solid yellow;
}
.main .module-column .module-sport .world {
  gap: 121px;
}
.main .module-column .module-sport .world :nth-child(2) {
  margin-right: 80px;
}
.main .module-column .module-sport .source {
  border-left: 2px solid yellow;
}
.main .module-column .module-weekend .title {
  padding: 0px 6px;
  width: 206px;
  height: 19px;
  margin-top: 30px;
  font-size: 17px;
  display: flex;
  align-items: center;
  border-left: 3.5px solid rgb(90, 90, 241);
}
.main .module-column .module-weekend .world {
  gap: 216px;
}
.main .module-column .module-weekend .source {
  border-left: 2px solid rgb(4, 4, 173);
}
.main .module-column .content {
  display: flex;
  width: 100%;
  padding-right: 119px;
}
.main .module-column .content h1 {
  font-size: 23px;
  padding-right: 17px;
  width: 267px;
}
.main .module-column .content p {
  width: 289px;
  padding-right: 17px;
}
.main .weather {
  display: flex;
  align-items: center;
  gap: 18px;
  padding-top: 33px;
}
.main .weather h2 {
  font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
  font-size: 19px;
  color: #4a4a4a;
}
.main .weather a {
  border: 2px solid rgb(230, 229, 229);
  font-style: none;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 7px;
  font-size: 12px;
  color: gray;
  background-color: rgb(230, 229, 229);
}
.main .this-week {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 15px;
}
.main .this-week img {
  height: 50px;
}
.main .this-week .degrees {
  line-height: 0px;
  text-transform: uppercase;
}
.main .this-week .day {
  font-size: 12px;
}
.main .this-week .high {
  margin-top: 14px;
  margin-bottom: 1px;
  font-size: 19px;
  font-weight: 900;
}
.main .this-week .low {
  color: gray;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */