.Menubtn{

border:none ;
color: white;

background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
   
   
    &:hover {
       
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.491);
     
        transform: scale(1.05);
}

.Infobtn{
    background-color: transparent;
    background-repeat: no-repeat;
    border:none ;
    color: white;
    cursor: pointer;

}

}