$cellSize: 120px;

.Container{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //align-items: center;
  
}

// Define the board style
.board{
    width: 10*$cellSize;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); 
   
  
  // Define the board cell style
  &__cell {
     // Set the size cells
    width: $cellSize;
    height: $cellSize;
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
 

    img{
      width:$cellSize ;
      height: $cellSize;
    }
  }
  
}
.optionsBtns{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__Button{
      margin: 10px;
      padding: 8px 16px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    
    
    &__Button:hover {
      background-color: #45a049;
    }
    
    &__Button:active {
      background-color: #3e8e41;
    }
    }
}

.RovaA{

  background-image: url('./rovaA1.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}
.RovaBet{

  background-image: url('./rovabet.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}
.RovaGimel{

  background-image: url('./rovaGimel.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}
.RovaDaled{

  background-image: url('./RovaDaled.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}

.RovaCITY{

  background-image: url('./RovaCITY.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}
.RovaTetVav{

  background-image: url('./RovaTetVav.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}
.RovaYudBet{

  background-image: url('./RovaYudBet.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}
.RovaYudAlef{

  background-image: url('./RovaYudAlef.jpg');
  background-size: cover;
  background-position: center;
  width:$cellSize ;
  height: $cellSize;
  
}

.player{
  width: 35px;
  height: 35px;
  //background-image: url("6.png");
  background-size: cover;
  background-position: center;

}
#cubeButton {
  width: 175px;
  height: 175px;
  background-image: url("./cube.png");
  background-size: cover;
  background-position: center;
  border: none;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate-animation {
  animation: rotate 2s;
  position: relative;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(180deg) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg) scale(1);
  }
}

.close {
  color: #d70b0b;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.begin{
  width: 75px;
  height: 75px;
  background-image: url("./start.png");
  background-size: cover;
  background-position: center;
}