:root {
  --cellSize: 120px;
  --playerSize: 35px;
  --fontsize: 20px;
}

@media only screen and (max-width: 900px) {
  :root {
    --cellSize: 75px;
    --playerSize: 25px;
    --fontsize: 15px;
  }
}

@media only screen and (max-width: 600px) {
  :root {
    --cellSize: 40px;
    --playerSize: 20px;
    --fontsize: 10px;
  }
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.board {
  width: calc(10 * var(--cellSize));
  margin: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.board__cell {
  width: var(--cellSize);
  height: var(--cellSize);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--fontsize);
}

.board__cell img {
  width: var(--cellSize);
  height: var(--cellSize);
}

.optionsBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.optionsBtns__Button {
  margin: 10px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.optionsBtns__Button:hover {
  background-color: #45a049;
}

.optionsBtns__Button:active {
  background-color: #3e8e41;
}

.RovaA {
  background-image: url('./rovaA1.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.RovaBet {
  background-image: url('./rovabet.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.RovaGimel {
  background-image: url('./rovaGimel.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.RovaDaled {
  background-image: url('./RovaDaled.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.RovaCITY {
  background-image: url('./RovaCITY.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.RovaTetVav {
  background-image: url('./RovaTetVav.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.RovaYudBet {
  background-image: url('./RovaYudBet.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.RovaYudAlef {
  background-image: url('./RovaYudAlef.jpg');
  background-size: cover;
  background-position: center;
  width: var(--cellSize);
  height: var(--cellSize);
}

.player {
  width: var(--playerSize);
  height: var(--playerSize);
  background-size: cover;
  background-position: center;

}

#cubeButton {
  width: var(--cellSize);
  height: var(--cellSize);
  background-image: url('./cube.png');
  background-size: cover;
  background-position: center;
  border: none;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate-animation {
  animation: rotate 2s;
  position: relative;
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) rotateY(180deg) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg) scale(1);
  }
}

.close {
  color: #d70b0b;
  float: right;
  font-size: var(--fontsize);
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.begin {
  width: 100%;
  height: 100%;
  background-image: url('./start.png');
  background-size: cover;
  background-position: center;
}

.cityDialog {
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 20px;
  width: 400px;
  border-radius: 5px;
  border: none;
}

.cityDialog__cityCardForm {
  display: flex;
  flex-direction: column;
}

.cityDialog .closeCityDialog {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #b10606;
  font-size: var(--fontsize);
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.cityDialog h1 {
  margin-top: 0;
  font-size: calc(var(--fontsize) * 2);
  font-weight: bold;
}

.cityDialog h2 {
  margin: 10px 0;
  font-size: calc(var(--fontsize) * 1.5);
}

.cityDialog .buyBtn,
.cityDialog .payBtn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: var(--fontsize);
  text-align: center;
  margin-top: 10px;
}

.cityDialog .buyBtn:hover {
  background-color: #0056b3;
}

.goodS {
  width: var(--cellSize);
  height: var(--cellSize);
  background-image: url('./GoodSurprises.jpg');
  background-size: cover;
  background-position: center;
}

.BadS {
  width: var(--cellSize);
  height: var(--cellSize);
  background-image: url('./Bads.jpg');
  background-size: cover;
  background-position: center;
}

.BadThings {
  border: none;
  width: var(--cellSize);
  height: var(--cellSize);
  background-image: url('./penalty.jpg');
  background-size: cover;
  background-position: center;
}

.GoodThings {
  border: none;
  width: var(--cellSize);
  height: var(--cellSize);
  background-image: url('./happyS.jpg');
  background-size: cover;
  background-position: center;
}
