.Container{
  width: 97vw;
  height: 98vh;
  margin: auto;
  background: linear-gradient(to bottom right, #333, #615e5e);
}
.players {
  display: flex;
  flex-wrap: wrap;
  

&__player {
  width: 35px;
  height: 35px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

}