// body{
//     width: 99vw;
//     margin: auto;
//     align-content: center;
//     background-color: antiquewhite;
//     display: flex;
//     flex-direction: column;

//     #main{
//         text-align: center;

//         input{
//             margin-left: 15px;
//             border-radius: 10px;
//         }
//     }
// }

body{
    width: 99vw;
    margin: auto;
    align-content: center;
    background-color: black;

    

    #main{
        text-align: center;
        background-image: url(./background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        margin: auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        input{
            margin-left: 15px;
            border-radius: 10px;
            width: 100px;
            height: 100px;
        }
    }
}