.redball {
    border-radius: 50%;
    background-color: red;
    border-color: red;
    height: 19px;
    width: 19px;
    position: absolute;
    top: 93%;
    left: 50%;
    animation: jump .5s linear alternate infinite;
}

//----------------------
.brick {
    height: 20px;
    width: 100px;
    background-color: rgba(225, 49, 70, 0.483);
    position: absolute;
}

.bricks_solid {
    top: 488px;
}

.bricks_simulated {
    z-index: 1;
    left: 250px;
    top: 400px;
}

//----------------------
.errow {
    background-color:brown;
    position: absolute;
    height: 20px;
    width: 35px;

}

.errows_rightToLeft {
    clip-path: polygon(52% 11%, 39% 37%, 100% 41%, 100% 57%, 39% 65%, 50% 90%, 0% 50%);
    top: 50%;
    animation: moveRight 5s linear infinite;
}

.errows_leftToRight {
    clip-path: polygon(0 47%, 58% 43%, 49% 18%, 100% 50%, 51% 89%, 59% 66%, 0 65%);
    animation: moveLeft 5s linear infinite;
    top: 33%;
}
//------------------------------
.bomb {
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
}

//--------------------------------
.shalve{
    width: 40px;
    height: 10px;
    background-color: burlywood;
    position: absolute;
}

.shelves_solid {
    top: 150px;
}

.shelves_disapear{
    top:250px;
    animation: blink 5s infinite;
}

.colorBall {
    clip-path: circle(50% at 50% 50%);
    background-color: green;
    height: 20px;
    width: 20px;
    position: absolute;
}

.coins {
    clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
    background-color: gold;
    height: 20px;
    width: 20px;
    position: absolute;
}

.endStage{
    position: absolute;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    background-color: cadetblue;
    height: 20px;
    width: 20px;
}

//---------------------------------------------
//animations
@keyframes jump {

    // 0% { transform: translate(-50%, -50%) scale(1.25, 0.75); }
    0% {
        transform: translate3d(0, 0, 0)
    }

    40% {
        transform: translate3d(0, 30%, 0)
    }

    100% {
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes moveRight{
    0% {
        transform: translateX(66vh);
      }
      100% {
        transform: translateX();
      }
}

@keyframes moveLeft {
    0% {
      transform: translateX(); //start outside the screen
    }
    100% {
      transform: translateX(66vh); //finish outside the screen
    }
  }
   

@keyframes blink{
    0% {
        opacity: 1;
     }
     50%{
        opacity: 0;
     }
     100%{
        opacity: 1;
     }

}