@import '../style/dist/background';
@import '../style/dist/element';

#h1{
    font-size: 100px;
    text-align: center;
}

.gameArea{
    height: 80%;
    width: 33%;
    margin: auto;
    background-color: bisque;
    border-radius: 10%;
}

