@import '../style/dist/background';
@import '../style/dist/element';

#h1{
    font-size: 25px;
    text-align: center;
}

canvas{
    margin: auto;
    background-color: bisque;
    border-radius: 10%;
}


