body {
    position: relative;
    background-color: rgb(150, 255, 255);
}

.register {
    position: relative;
    top: 30vh;
    margin: auto;
    // background-color: white;
    width: 11vw;
    padding: 10px;

    form {
        position: relative;
        margin: auto;
        font-style: italic;
        font-size: large;

        input {
            display: block;
            margin-bottom: 15px;
            width: 10vw;
            height: 3vh;
            font-size: medium;
            font-style: italic;
            border-radius: 5px;
            border: 1px solid rgb(175, 247, 255);
        }
    }
}