body {
    position: relative;
    background-color: rgb(150, 255, 255);
    font-style: italic;
}

#register {
    position: relative;
    top: 30vh;
    margin: auto;
    width: 11vw;
    padding: 10px;
}

form {
    position: relative;
    margin: auto;
    font-size: large;
    width: 11vw;

    input {
        display: block;
        margin-bottom: 15px;
        width: 10vw;
        height: 3vh;
        font-size: medium;
        font-style: italic;
        border-radius: 5px;
        border: 1px solid rgb(175, 247, 255);
    }
}

#MovmentWorker{
    position: relative;
    top: 30vh;
}

.workwrDitels {
    position: relative;
    // top: 30vh;
    margin: auto;
    border: 1px solid rgb(175, 247, 255);
    width: 12vw;

    h2 {
        text-align: center;
        font-size: x-large;
        border-bottom: 2px solid white;
    }

    .ditels {
        position: relative;
        // display: flex;
        font-size: large;

        p {
            border: 1px solid white;
        }
    }
}