<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../scss/dist/home.css" />
    <link rel="stylesheet" href="../scss/dist/edit.css" />
    <link rel="stylesheet" href="../scss/dist/gameS.css" />
    <link rel="stylesheet" href="../scss/dist/gameE.css" />
    <script src="../js/dist/home.js" defer></script>
    <script src="../js/dist/edit.js" defer></script>
    <script src="../js/dist/gameS.js" defer></script>
    <script src="../js/dist/gameE.js" defer></script>
    <title>Edit page</title>
  </head>
  <body>
    <div class="background">
      <div class="edit-page">
        <form>
          <h1>Select User</h1>
          <div class="edit-page__all-characters"></div>
          <div class="edit-page__doneBtn">
            <a id="doneBtn" href="../view/home.html">Done</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
