.articales{
    margin: auto;
    height: 200px;
    // display: flex;
    // gap: 10px;

    &__article{
        // flex: 1;
         display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 400px;
        height: 300px;
        // position: relative;
        // top: 0px;
        // left: 0px;
        &__video{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-image: url(./img/ValeriaMithatenet2.jpg);
            width: 400px;
            height: 300px;
            padding-top: 190px;
           
        }
        &__purpeleText {
            background-color: rgb(158, 13, 127);
            color: white;
            text-align: center;
            padding: 4px;
            width: fit-content;
            // position: absolute;
            // top: 262px;
            // left: 216px;
        }
        &__whiteText {
            background-color: rgb(100, 224, 17);
            color: white;
            text-align: center;
            padding: 4px;
            width: fit-content;
            // position: absolute;
            // top: 262px;
            // left: 216px;
        }
        &--big{
            border: 2px dashed orange;
            
        }
    }


    
       
    }

