$purp: rgb(158, 13, 127);
$grey: rgba(0, 0, 0, .25);;


.articales{
    margin: auto;
    height: 300px;
    display: flex;
    flex-direction: row-reverse;
    gap: 3px;

    &__article{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 300px;
        // position: relative;
        // top: 0px;
        // left: 0px;
        &__video{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            background-image: url(./img/ValeriaMithatenet2.jpg);
            background-size:cover;
            padding-top: 203px;
            width: 598px;
        }
        &__purpeleText {
            background-color:$purp;
            color: white;
            text-align: center;
            padding: 4px;
            width: fit-content;
        }
        &__greyText {
            background-color:$grey;
            color: white;
            padding: 6px;
            font-weight: bold;
            font-size: 22px;
            width:586px;
            display: flex;
            flex-direction: row-reverse;
        }
        &__articleText{
            padding: 2px;
            display: flex;
            align-items: flex-end;
            word-wrap: break-word;
            width:586px;
            font-size: 20px;
            
        }
    }

    &__smallContaner{
        margin: auto;
        height: 300px;
        display: flex;
        flex-direction: column;
        &__article{

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 300px;

            &__video{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                background-image: url(./img/yuda.jpg);
                background-position: right top;
                background-size:cover;
                width: 298px;
                height: 120px;
              
                &__purpeleText {
                    background-color:$purp;
                    color: white;
                    text-align: center;
                   padding: 4px;
                   width: fit-content;
                   margin-top: 92px;
               }
            }
            &__first{
                display: flex;
                flex-direction: row;
              
            }
            &__split{
                display: flex;
                flex-direction: row-reverse;
                gap: 1px;
                justify-content:space-around;
                
                &__video{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    &__purpeleText {
                        background-color:$purp;
                        color: white;
                        text-align: center;
                       padding: 4px;
                       width: fit-content;
                       margin-top: 92px;
                   }
   
                }
                &--first{
                    background-image: url(./img/yuda.jpg),url(./img/yuda.jpg);
                    background-position: right top;
                    background-size:cover;
                    width: 148px;
    
                }
                &--sec{
                    background-image: url(./img/yuda.jpg),url(./img/yuda.jpg);
                    background-position: right top;
                    background-size:cover;
                    width: 148px;
    
                }
                
                 
            }
            &__Text{
                height: 26px;
               // text-align: center;
                padding: 2px;
                display: flex;
                align-items: flex-end;
                font-size: 18px;

            } 
          
       
        }

    }
    }

