// ad block

.ad{
    display: flex;
    gap: 10px;
    margin: auto;

    &__ad1{
        background-image: url();
    }
           
    &__ad2{
        background-image: url();
    }
}

.saied_ad{
    background-image: url();
}
