.wrapper{
    background-color: aliceblue;
    margin: auto;
 }
 
 .main{
     width: 100px;
     height: 100px;
 }
 
 .moved{
     position: relative;
     bottom:40px;
     right: 40px;
 }
 
 .fixed{
     position: fixed; 
     top:0px;
     left: 0px;
     background-color: tomato;
 }
 
 .absolute{
     position: absolute; // relative to the first positioned parent
     top:0px;
     left:0px;
     background-color: navy;
 }
 .greenfixed{
    background-color: green;
    position: fixed; 
     top:0px;
     left: 200px;
 }
 .redfixed{
    background-color: red;
    position: fixed; 
     top:0px;
     left: 400px;
 }
 .yellowfixed{
    background-color: yellow;
    position: fixed; 
     top:0px;
     left: 600px;
 }
 .bluefixed{
    background-color: blue;
    position: fixed; 
     top:0px;
     left: 800px;
 }
 .greenmoved{
    background-color: green;
    position: relative;
    bottom:-23px;
    right: -498px;
 }
 .redmoved{
    background-color: red;
    position: relative;
    bottom: -123px;
    right: -289px;
 }
 .yellowmoved{
    background-color: yellow;
    position: relative;
    bottom: 178px;
    right: -888px;
 }
 .bluemoved{
    background-color: blue;
    position: relative;
    bottom: 78px;
    right: -693px;
 }

 .greenabsolute{
    background-color: rgb(89, 151, 89);
    position: absolute; // relative to the first positioned parent
    top: 251px;
    left: 797px;
 }
 .redabsolute{
    background-color: rgb(139, 57, 57);
    position: absolute; // relative to the first positioned parent
    top: 251px;
    left: 399px;
 }
 .blueabsolute{
    background-color: rgb(100, 100, 241);
    position: absolute; // relative to the first positioned parent
    top: 251px;
    left: 192px;
 }
 .yellowabsolute{
    background-color: rgb(253, 253, 150);
    position: absolute; // relative to the first positioned parent
    top: 251px;
    left: 597px;
 }