
// @import "imgs";
@import "bottuns";

.wrapper{
    position: relative;
    border: 2px solid rgb(83, 138, 169);
    width: 800px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}