
.wrapper {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    //    margin: 50px 50px 0px 50px;
    column-count: 7;
    column-gap: 15px;

    @media screen and (max-width:768px) {
        column-count: 2;

    }

    @media screen and (max-width:360px) {
        column-count: 1;

    }

    img {
        padding-bottom: 15px;
        border-radius: 20px;
        height: 180%;
        cursor: zoom-in;
        transition: transform .2s;

    }

    img:hover {
        opacity: 0.8;
        transform: scale(1.2);
    }
}

.navbar {
    position: sticky;
    top: 0;

    img {
        width: 100%;
        height: 10vh;
    }
}

.column {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    align-items: stretch;


}