body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: antiquewhite;
}
.images {
  margin: auto;
  width: fit-content;
  h1 {
    text-align: center;
    display: block;
  }
  img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 6px black;
    border-radius: 3px;
  }
  button,
  a {
    background-color: aquamarine;
    color: brown;
    font-size: 24px;
    border-radius: 40px;
    user-select: none;
    cursor: pointer;
  }
  button {
    width: fit-content;
    padding: 15px 20px;
  }
  a:link {
    cursor: pointer;
  }
}
