.wrapper {
  width: 50vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px black solid;
  align-items: stretch;
  justify-content: space-evenly;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 12.5%;
}

.box {
  width: 12.5%;
  height: 100%;


}

.wrapper div:nth-child(odd) .box:nth-child(odd),
.wrapper div:nth-child(even) .box:nth-child(even) {
  background-color: black;
}

#pawn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: auto;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin: auto;
  position: absolute;
  left: 38.7vw;
  top: 2vh;
  background-color: red;

  &:hover{
    transform: scale(1.2);
  }
}
