@keyframes big {
    from {
        padding: 3px 6px;

    }

    to {
        padding: 4px 8px;
    }
}



body {
    background-color: white;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

.nav {
    width: 98vw;
    height: 70px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0px 0px 20px 20px;

    @media only screen and (max-width: 600px) {
        position: fixed;
        bottom: 0px;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 30px);
        list-style: none;
        color: rgb(0, 0, 0);
        text-align: center;

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, 30px);
        }

        li {
            &:nth-child(4) {
                position: relative;

                .nav__notfications {
                    position: absolute;
                    background-color: rgb(74, 74, 249);
                    color: rgb(255, 255, 255);
                    font-size: 8px;
                    border-radius: 50%;
                    padding: 3px 6px;
                    top: -3px;
                    left: 52%;
                    animation-name: big;
                    animation-duration: 0.3s;
                    animation-delay: 0.5s;
                    animation-direction: alternate;
                    animation-iteration-count: infinite;
                }
            }

            &:nth-child(6n+6) {
                @media only screen and (max-width: 600px) {
                    display: none;
                }
            }
        }
    }

}

.head {
    width: 98vw;
    height: 280px;
    background: linear-gradient(to right, #5f80f6, #3db3ee, #4ff6b9);
    border-radius: 0px 0px 20px 20px;

    @media only screen and (max-width: 600px) {
        height: 240px;
    }

    .main {
        display: flex;
        padding: 90px 5px 10px 5px;
        text-align: center;

        @media only screen and (max-width: 600px) {
            text-align: left;
            padding: 30px 5px 10px 5px;
        }

        &__txt {
            font-size: 20px;
            color: white;
            flex: 4;

        }

        &__search {
            color: #5987f6;
            background-color: white;
            border-radius: 50%;
            padding: 6px 6px;
            box-shadow: 0px 0px 4px gray;
            display: none;

            @media only screen and (max-width: 600px) {
                display: block;
                margin-right: 20px;
            }
        }

    }

    .types {
        display: flex;
        justify-content: space-around;

        .type1,
        .type2,
        .type3 {
            width: 30vw;
            height: 100px;
            background-color: white;
            border-radius: 15px;
            position: relative;

            &__txt {
                padding: 10px;
                color: grey;
                font-size: smaller;

                &--bold {
                    font-weight: bold;
                    font-size: large;
                    color: #5c82f5;
                }
            }

            &__arrow {
                width: 15%;
                height: 30%;
                text-align: right;
                padding-top: 15px;
                padding-right: 10px;
                border-radius: 0px 0px 15px 0px;
                font-size: 14px;
                color: rgb(255, 255, 255);
                background-color: #5c82f5;
                clip-path: polygon(69% 99%, 57% 100%, 39% 56%, 100% 0, 100% 99%);
                position: absolute;
                right: 0px;
                bottom: -1px;
            }

        }

    }

    .tel {
        width: 85vw;
        height: 70px;
        margin: auto;
        margin-top: 30px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 8px grey;
        display: flex;

        &__logo {
            padding: 10px;
            font-size: 40px;
            color: #4ef3ba;
        }

        &__txt {
            padding: 10px 0px 0px 3px;
            color: grey;
            font-size: smaller;

            &--bold {
                font-weight: bold;
                color: #5c82f5;
                font-size: large;

            }
        }
    }
}

.actions {
    width: 98vw;
    margin: auto;

    &__btns {
        display: flex;
        margin: auto;
        margin-top: 60px;
        width: 40%;
        height: 35px;
        border-radius: 15px;
        background-color: #dde6f8;


        &--srv,
        &--dr {
            border: none;
            background-color: #dde6f8;
            border-radius: 15px;
            padding: 0px 20%;
            transition: all 1s;

            &:focus {
                color: white;
                background: linear-gradient(to right, #4f64cf, #647efc);

            }
        }
    }

    &__choose {
        width: 98vw;
        padding: 10px 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);

        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(6, auto);
        }

        &--drs,
        &--analyses,
        &--ip,
        &--diag,
        &--exam,
        &--dentistry {
            display: flex;

            .logo {
                font-size: 40px;
                padding-right: 10px;
            }

            .txts {
                .stLine {
                    display: flex;

                    .txt__bold {
                        font-size: large;
                        font-weight: bold;
                    }

                    .green {
                        color: #4ef3ba;

                    }
                }

                p {
                    color: grey;
                    font-size: smaller;

                }

            }
        }
    }
}