.wrapper {
    position: relative;
    width: 450px;
    height: 90vh;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

    #addPost {
        position: relative;
        margin: auto;
        width: 400px;
        height: 100%;
    }

    .addPost {
        position: relative;
        top: 20vh;
        left: 25%;
        margin-top: 10vh;
        width: 400px;
        
            input {
                position: relative;
                height: 10vh;
                border-radius: 20px;
                text-align: center;
                font-size: 15px;
                font-weight: bold;
            }
        
    }
}