.wrapper {

    position: relative;

    img {
        width: 200px;
        height: auto;
    }
}

.baloon1 {
    position: absolute;
    // top:100px;
    // left:300px;
    top: 100px;
    left: 200px;
    transform: rotate(5deg);
    z-index: 7;
}

.baloon2 {
    position: absolute;
    // bottom:70px;
    top: 130px;
    left: 240px;
    transform: rotate(20deg);
    z-index: 6;

}

.baloon3 {
    position: absolute;
    top: 140px;
    left: 185px;
    transform: rotate(-20deg);
    z-index: 5;

    img {
        width: 180px;
    }

}

.baloon4 {
    position: absolute;
    top: 200px;

    left: 260px;

    z-index: 4;
    filter: blur(2px);

    img {
        width: 150px;
    }

}

.baloon5 {
    position: absolute;
    top: 200px;
    left: 200px;
    transform: rotate(-10deg);
    z-index: 4;
    filter: blur(2px);

    img {
        width: 90px;
    }

}

.baloon6 {
    position: absolute;
    top: 110px;
    left: 200px;
    transform: rotate(-10deg);
    z-index: 3;
    filter: blur(2px);

    img {
        width: 100px;
    }

}
.baloon7 {
    position: absolute;
    top: 90px;
    left: 330px;
    transform: rotate(30deg);
    z-index: 3;
    filter: blur(2px);

    img {
        width: 60px;
    }

}