
*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;   
}

html {
    height: 100%;

body {
  
    display: flex;
    flex-direction: column;
    min-height: 100%;

    img {
        margin-top: 1rem;
    }

    nav {
        height: 4rem;
        width: 100vw;
        display: flex;
        position: fixed;
        z-index: 10;
        background-color: #03a1a1;
        box-shadow: 0 3px 20px rgba(0,0,0,0.2);

    

    .logo {
        padding: -2vh 7vw;
        width: 20vw;

        img {
            height: 12rem;
            width: 20rem;
        }
    }

    .nav__links {
        width: 60vw;
        display: flex;
        pad: 0 0.7vw;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-weight: bold;
        font-size: larger;

    }

    .nav__links li a {
        margin: 0 0.7vw;
        text-decoration: none;
        transform: all ease-in-out 350ms;
        padding: 10px;

        &:hover {
            background-color: #5cc4c4;
            padding: 10px;
            border-radius: 50px;

        }

        &:hover::before {
            width:80%;
        }

    }

    .nav__links li {
        position: relative;


        &:nth-child(1){
            transition: all 0.5s ease 0.2s;
        }
        &:nth-child(2){
            transition: all 0.5s ease 0.4s;
        }
        &:nth-child(3){
            transition: all 0.5s ease 0.6s;
        }
        &:nth-child(4){
            transition: all 0.5s ease 0.7s;
        }
        &:nth-child(5){
            transition: all 0.5s ease 0.8s;
        }
        &:nth-child(6){
            transition: all 0.5s ease 1s;
        }

    }

    .hamburger div{
        width: 30px;
        height: 3px;
        background: #fff;
        margin: 5px;
        transform: all 0.3s ease;
    }

    .hamburger {
        display: none;
    }

    @media (max-width:800px) {
        nav{
            position: fixed;
            z-index: 3;
        }
    
        .hamburger {
            display: block;
            position: absolute;
            cursor: pointer;
            right: 5%;
            top: 50%;
            transform: translate(-5%, -50%);
            z-index: 2;
            transition: all 0.7s ease;
        }

        .nav__links {
            background: #03a1a1;
            position: fixed;
            opacity: 1;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(50px at 90% -20%);
            transition: all 1s ease-out;
            pointer-events: none;
            padding-top: 1.3rem;

        }

        .nav__links.open {
            clip-path: circle(1000px at 90% -10%);
            pointer-events: all;
            gap: 7rem;
        }
    
}
}

.container {
    &__img {
        width: 100vw;
        height: auto;
    }
}

.main {
    
    &__img {
       
        width: 100vw;
        padding-top:7rem;
    }
}

footer {

    background-color: darkgray;
    width: 100vw;
    height: 10px;
    padding-bottom: 15px;
    margin-top: auto;

    i {
        padding-left: .4rem;
    }
   
}
   
}
}
