body {
  background-color: lightblue;

  .card {
    background-color: rgb(254, 245, 227);
    border-radius: 12px;
    margin: auto;
    margin-top: 3rem;
    font-weight: 600;

    .alert {
      width: 12.7rem;
    }
  }
}
