.article {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    flex-wrap: wrap;
    display: flex;
    
  }

  img{
    border-radius: 20px;
    width: 100%;
    height: 50%;
  }

  .subBox{
    float:left;
    width: 100%;
    padding: 10px;

  }
  .subBox h2 {
    color: black;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .subBox p {
    color: gray;
    padding: 5px;
    line-height: 1.6;
  }