body{
    background-color: rgb(218, 226, 105);
}
table, th, td {
    border: 1px solid rgb(185, 87, 87);
    border-collapse: collapse;
    margin: auto;
    margin-top: 10vh;
}
  td, th{
    padding: 10px;
  }
  th{
    align-items: center;
  }
  td{
    align-items: left;
  }
  tr:nth-child(even){
    background-color: rgb(142, 236, 119);
  }

  td:nth-child(even){
    background-color: rgb(179, 247, 247);
  }
  
  tr:nth-child(1){
    background-color: rgb(152, 214, 183);
  }
  td{
    cursor: pointer;
    transition: transform 100ms ease-in;
    &:hover{
        opacity: 0.7;
        color: red;
        background-color: beige;
        transform: scale(1.6);
    }
  }