*{
    margin: 0%;
}

.hero{
    display:grid;
    margin: auto;
    justify-content: center;
    .h1{
        margin-bottom: 20px;
    }
    .input{
        padding: 5px;
        margin: 10px;
    }
    .button{
        padding: 5px;
        margin: 10px;
        background-color: black;
        color: white;
        
    }
}
.imageUrl{
    height: 100vh;
    border: solid 1px black;
}