$mainColor: white;

html {
  height: 100%;


}
body{
margin: 0;
padding: 0;

}

.wrapper {}

.player {

  // background-color: darken($color: $mainColor, $amount: 30);
  color: $mainColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: relative;
  // background-image: url('https://www.metalcallout.com/sites/default/files/img/cradledarklycover2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  


  // backdrop-filter: blur(10px);
  // filter: blur(10px);
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    /* Adjust the blur amount as needed */
    z-index: -1;
    /* Ensure the overlay is behind the foreground content */
  }

  &__collapse {
    font-size: 2rem;
    color: darken($color: $mainColor, $amount: 15);
  }

  width: 100vw;
  // height: 100%;
  height: 100vh;

  &__image {
    margin-top: 50px;
    // margin: 0 auto;
    position: relative;
    /* Add this to make the padding trick work */
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 0;
    /* Set initial height to 0 */

    /* Set the aspect ratio here (e.g., 16:9, 4:3, etc.) */
    padding-bottom: 70%;
    /* 16:9 aspect ratio (divide 9 by 16 and multiply by 100 to get the percentage) */

    /* If you want a different aspect ratio, you can adjust the padding-bottom value accordingly */
    border-radius: 10px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;

  }

  &__title {
    font-size: 1.5rem;
    // padding-bottom: 50px;
    justify-content: start;
    white-space: nowrap;


    &-song {
      width: 100%;
      font-weight: bold;


    }

    &-thumb {
      background-position: center;
      background-size: contain;
      height: 5rem;
      width: 5rem;
    }
  }

  &__controls {
    position: relative;
    top: -70px;
    width: 100%;
    

    span {
      position: absolute;
      right: 5px;
    }

    .buttons {
      font-size: 3rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 20px;
      color: $mainColor;
      background-color: rgba($color: #000000, $alpha: .2);
      
     
    

      .playBtn {
        font-size: 6rem;
        
      }

    }

  }
}





#time {
  width: 100%;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  // z-index: 2;
  position: relative;
  // top: 1.2vh;
  // margin-top: 2vh;
  background-color: darken($color: $mainColor, $amount: 50);
  bottom: 0;
  opacity: .6;
  // border: 1px solid rgb(0, 0, 0);


}

#progress {
  
  // width: 100%;
  height: 3vh;
  // background: black;
  // background: linear-gradient(0deg, rgba(71, 146, 218, 1) 14%, rgba(236, 75, 102, 1) 92%);
  position: relative;
  transition: all 200ms ease-in-out;
  // border-radius: 10px;
  bottom: -21px;
  z-index: 1;
  opacity: .6;
  border-right: 20px solid black;
  border-inline-end-style: dotted; writing-mode: horizontal-tb;

 

}


