body {
  #tasks {
    width: 80%;
    padding: 20px;
    margin: 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .task {
      border: 1px black solid;
      border-radius: 10px;
      padding: 10px;
      .todo {
        color: red;
      }
      .done {
        color: green;
      }
      button {
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #ffffff;
        cursor: pointer;
        display: inline-block;
        font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        margin: 5px;
      }
      /* CSS */
      .button-24 {
        background: #ff4742;
        border: 1px solid #ff4742;
      }
      .button-28 {
        background: #1a1a1a;
        border: 1px solid #3b3b3b;
      }

      .button-24:hover,
      .button-24:active {
        background-color: initial;
        background-position: 0 0;
        color: #ff4742;
      }
      .button-28:hover,
      .button-28:active {
        background-color: initial;
        background-position: 0 0;
        color: #1a1a1a;
      }

      button:active {
        opacity: 0.5;
      }
    }
  }
}
