* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
body .row {
  width: 92%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .row img {
  min-width: 100%;
}
body .row .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 80%;
  padding: 4px;
}
body .row .box .text {
  flex-wrap: wrap;
  width: 100%;
}
body .container {
  font-family: sans-serif;
}
body .container header {
  padding-left: 85px;
  background: black;
  color: white;
  height: 60px;
  width: 100%;
  display: flex;
  font-weight: bold;
}
body .container header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
body .container header .logo div {
  background: white;
  color: black;
  margin: 2px;
  height: 30px;
  width: 30px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container header .user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}
body .container header .user i {
  font-size: 30px;
}
body .container header ul {
  margin-left: 75px;
  justify-content: space-between;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .container header ul a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight: bold;
}
body .container header ul li:last-child {
  font-size: 30px;
  padding-top: 6px;
  height: 60px;
}
body .container header ul li:first-child {
  color: silver;
  font-size: 25px;
  font-weight: 10px;
}
body .container header .Search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #5E5E62;
  margin: 13px 60px;
  height: 35px;
  width: 230px;
}
body .container header .Search i {
  padding: 0 6px;
}
body .container .strip {
  padding: 0 90px;
}
body .container .strip .Welcome {
  justify-content: space-between;
  display: flex;
  font-size: 20px;
  height: 60px;
  display: flex;
  align-items: center;
}
body .container .strip .Welcome .bold {
  font-weight: bold;
}
body .container .strip .images {
  width: 100%;
  height: 45vh;
  color: white;
  display: flex;
}
body .container .strip .images .image {
  width: 50%;
  height: 310px;
  background: url(images/fire.jpg) no-repeat center center/cover;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 15px;
  padding-left: 2px;
}
body .container .strip .images .image span:first-child {
  font-size: 40px;
}
body .container .strip .images .image span:last-child {
  font-size: 14px;
}
body .container .strip .images .four {
  flex-wrap: wrap;
  display: flex;
  width: 50%;
}
body .container .strip .images .four .back {
  margin: 5px;
  margin-left: 15px;
  padding-left: 2px;
  width: 40%;
  height: 140px;
  font-size: 13px;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
body .container .strip .images .four .back span {
  font-size: 22px;
}
body .container .strip .images .four .back1 {
  background: url(images/explosion.jpg) no-repeat center center/cover;
}
body .container .strip .images .four .back2 {
  background: url(images/soldiers.jpg) no-repeat center center/cover;
}
body .container .strip .images .four .back3 {
  background: url(images/ball.jpg) no-repeat center center/cover;
}
body .container .strip .images .four .back4 {
  background: url(images/bi.jpg) no-repeat center center/cover;
}
body .container .strip .taital {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
body .container .strip .taital p {
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  font-size: 13px;
  height: 20px;
  display: flex;
}
body .container main .Photos {
  width: 100%;
  height: 500px;
  background: red;
  padding: 0 120px;
  background: url(images/View.jpg) no-repeat center center/cover;
}
body .container main .Photos .taitel_box {
  display: flex;
  justify-content: space-between;
  color: white;
}
body .container main .Photos .taitel_box h1 {
  font-size: 50px;
  padding-bottom: 0;
  margin-bottom: 0;
}
body .container main .Photos .taitel_box h2 {
  border: solid 4px green;
  padding: 15px;
  width: 195px;
}
body .container main .Photos .taitel_box .button {
  font-size: 20px;
  margin-top: 25px;
  border: 2px white solid;
  border-radius: 20px;
  height: 33px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
  justify-content: space-around;
  display: flex;
  padding: 7px;
}
body .container main .Photos .taitel_box .button i {
  margin-left: 4px;
}
body .container main .Photos .boxes {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
body .container main .Photos .boxes .box_Photos {
  background: white;
}
body .container main .Photos .boxes .box_Photos img {
  width: 410px;
}
body .container main .Photos .boxes .box_Photos h2 {
  padding: 4px;
  background: white;
  color: black;
  width: 410px;
  height: 40px;
  margin-top: 0;
  padding-top: 0;
}
body .container main .pag2 {
  display: flex;
  padding: 50px;
  margin-left: 50px;
  height: 1450px;
}
body .container main .pag2 .box_dark {
  width: 330px;
  background: #262626;
  color: white;
  height: 650px;
}
body .container main .pag2 .box_dark p {
  padding: 50px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
body .container main .pag2 .box_dark p span {
  background: red;
  border-radius: 100%;
  width: 125px;
  height: 45px;
  margin: 0 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
body .container main .pag2 .box_dark h3 {
  background: red;
  color: white;
  height: 30px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .container main .pag2 .box_dark p:nth-of-type(2n) {
  background-color: #191919;
}
body .container main .pag2 .rows {
  width: 70%;
  height: 400px;
  margin-right: 20px;
}
body .container main .pag2 .rows .img {
  width: 885px;
  height: 400px;
  color: white;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
  background: url(images/house3.jpg) no-repeat center center/cover;
  font-size: 20;
  margin: 60px;
  margin-top: 10px;
}
body .container main .pag2 .rows .img span {
  font-size: 40px;
  font-weight: 40px;
}
body .container main .pag2 .rows .row {
  margin-top: 105px;
  margin-left: 50px;
}/*# sourceMappingURL=style.css.map */