body {
    margin: 0;
    direction: rtl;
    background-color: black;
   
}


.background {
    background-image: url(./dist/bg-image.jpg);
    width: 100%;
}

.logo {
    float: right;
    width: 100px;
}

.topnav {
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: black;
    opacity: 75%;
    padding-right: 2%;
    user-select: none;
    

    &__link {
        float: right;
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        margin: 20px;

        &:hover {
            color: rgb(223, 218, 218);
        }

    }
    
    .home {
        font-weight: 600;
    }
  
}

.watched {
    display: flex;
    height: auto;
    border-radius: 7%;
    margin-right: 0;
   
    

    &__item {
        
        width: 300px;
        margin-left: 3%;
        
        

}

}