.numwrapper {

    font-family: 'Open Sans', sans-serif;
    // padding:50px;
    // background-color: aqua;
    width: 98%;
    height: 220px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 19.7%);
    // grid-template-rows: 100px 100px 100px;
    // gap: 30px 8px;
    align-content: space-evenly;
    justify-content: space-between;
}

.topMovie {
    display: flex;
    align-items: center;
    height: 280px;
    position: relative;

    @media only screen and (max-width: 900px) {
        img {
            height: 100px;
        }
    }
}

.open {


    opacity: 0;

    &__btns {

        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(6, 10%);
        grid-template-areas:
            "btn1 btn2 btn3 .  . btn4";

        &--btn1,
        &--btn2,
        &--btn3,
        &--btn4 {

            background-color: rgba(0, 0, 0, 0);

            button {
                transition: all 0.2s;
                font-size: 16px;
                padding-left: 3px;

                border: 1.5px solid rgb(166, 164, 164);
                background-color: rgba(255, 0, 0, 0);
                border-radius: 50%;
                color: rgb(184, 184, 184);
                width: 25px;
                height: 25px;
            }
        }

        &--btn3 {
            button {
                font-size: 11px;
                padding: 5px;

            }
        }
    }

    &__txts {
        display: flex;
        padding: 0px 5px;
        font-size: 12px;

        &--new {
            color: rgb(1, 189, 1);
        }

        &--age {
            border: 1px solid rgb(166, 164, 164);
            height: fit-content;
        }

        &--type {}

        &--quality {
            font-size: 10px;
            border: 1px solid rgb(166, 164, 164);
            border-radius: 2px;
            height: fit-content;
        }

        @media only screen and (max-width: 900px) {
            font-size: x-small;

        }
    }

    &__last {
        font-size: 12px;
        padding: 0px 8px;
        margin-top: 0px;

        @media only screen and (max-width: 900px) {
            font-size: x-small;

        }
    }
}

&:hover {
    .open {
        opacity: 1;
        position: absolute;
        bottom: 30px;
        background-color: rgb(23, 22, 22);
        width: 240px;
        border-radius: 0px 0px 5px 5px;
        padding-top: 5px;
        height: 87px;
        @media only screen and (max-width: 900px) { 
        
            width: 120px;
               }

    }

    img {
        opacity: 0;
        width: 180px;
        height: 80px;
    }

    box-shadow: 0px 0px 20px 8px black;
    border-radius: 5px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM9fer_HyPxDcgPTKbkpKcldDJ6CI5yAfLkQ&usqp=CAU);
    background-repeat: no-repeat;

    .number--num1,
    .number {
        z-index: -1;
    }

    // padding-bottom: 120px;
}


.num1 {
    margin-left: -50px;

}

img {
    height: 160px;
    width: 120px;
    margin-left: -25px;
    margin-top: -2px;
    // border: 1px solid red;
    border-radius: 3px;

    @media only screen and (max-width: 900px) {

        height: 100px;
    }

}




.number {
    font-family: 'Roboto', sans-serif;
    font-size: 220px;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 3.5px rgb(81, 81, 81);

    @media only screen and (max-width: 900px) {

        font-size: 110px;
    }

    &--num1 {
        font-family: 'Roboto', sans-serif;
        font-size: 220px;
        color: rgba(0, 0, 0, 0);
        -webkit-text-stroke: 3.5px rgb(81, 81, 81);
        margin-left: 20px;
    }
}