    // #addPost {
    //     position: relative;
    //     margin: auto;
    //     width: 450px;
    //     height: 100%;
    //     border-radius: 10px;
    //     box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    // }

    .addPost {
        position: relative;
        top: 20vh;
        width: 450px;
        height: 40vh;

        &__select {
            position: relative;
            left: 35%;
            width: 100px;
            height: 6vh;
            border-radius: 10px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            background: -webkit-linear-gradient(#cc4af0, #f3f06e);
        }

        &__input {
            position: relative;
            top: 12vh;
            height: 10vh;
            border-radius: 20px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            // background: -webkit-linear-gradient(#cc4af0, #f3f06e);
        }

        &__enterNewImage {
            position: relative;
            top: 25vh;
            left: -35%;
            width: 100px;
            height: 50px;
            border-radius: 20px;
            background: -webkit-linear-gradient(#cc4af0, #f3f06e);
        }
    }