.wrapper {
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
  height: 200vh;
  direction: rtl;
}
.header  {
display: flex;
justify-content:space-between;

    .headerright{
        .logo {
            width: 15%;
        }
        display: flex;
        color: white;
        gap: 15px;
        align-items: center;
        font-weight: lighter;
    }
 .headerleft{
    position: relative;
    top: 40px;
    left: 250px;
    background-color: initial;
    img{
        width: 30px;

    }
    button{
        background-color: black;
        border: none;
        color: white;
        &:hover{
            cursor: pointer;
        }
    }
 }   
}
.underheader {
  color: white;
  font-size: 25px;
  margin-right: 30px;
}
.underheader:hover{
    font-weight: bolder;
}


.navi{
    background-color: inherit;
    color: white;
    border: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;

    &:hover{
        font-weight: bold;
    }

}
.movies {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
//   grid-template-areas: "one two three four five";
  // grid-template-columns:repeat(4, 1fr);
  // grid-template-rows: repeat(5, 1fr);
  // grid-template-areas:
  // "underheader underheader underheader underheader underheader underheader"
  // "one two three four one"
  margin-bottom: 20px;
  border-radius: 5px;
  width: 300px;
  height: 150px;
  margin-right: 30px;


.movie{
    width: 300px;
    height: 150px;
    z-index: 2;
    position: relative;
    
    &:hover{
        transform: scale(1.5) translateY(-40%) ;
        transform-origin: center;
        transition:  1.5s ; 
    }
}
}
.movies__topten{
    gap: 40px 0;

}
.number{
    position: absolute;
    left: -140px;
    bottom: -31px;
    height: 140%;
}

.top{
    position:relative;


}

.topmovies {
gap: 120px;

}

// .stam{
//     display: grid;
//     grid-template-rows: repeat(1, 100px);
//     grid-template-columns: repeat(5, 250px);

//     img{
//         width: 300px;
//         height: 150px;
//     }


    // &__yellow{
    //     background-color: yellow;
    // }

    // &__blue{
    //     background-color: blue;
    // }

    // &__red{
    //     background-color: red;
    // }

    // &__black{
    //     background-color: purple;
    // }
// }
