.wrapper{
    background-color: black;
    height: 100vh;
}
.header{
    .logo{
        width: 6%;
    }
    display: flex;
    direction: rtl;
    color: white;
    gap: 15px;
    align-items: center;
    font-weight:lighter;
}
.underheader{
    color: white;
    font-size: 25px;
    
}
.movies{
    direction: rtl;
    gap: 10px;
display: grid;
grid-template-columns:repeat(4, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-template-areas:
"underheader underheader underheader underheader underheader underheader"
"one two three four one"
;
.movie{
    margin-bottom: 20px;
        border-radius: 5px;
        width: 300px;
        height: 150px;
    }
}