#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper{
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 90vh;
  justify-content: space-around;
}
.first{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 100%;
  border: 1px gray solid;
  border-radius: 10px;
  gap: 10px;
}

.form{
  margin-top: 10px;
  border-radius: 10px;
  border: 1px black solid;
  padding: 10px;
}

.second{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  width: 35vw;
  height: 95vh;
  border: 1px black solid;
  background-color: aquamarine;
  box-shadow: 2px 2px gray;
  border-radius: 20px;
}