body{
    width: 100%;
    height: 100%;
}

.container{
    position: relative;
    top: 200px;
}

.car{
    width: 200px;
    height: 100px;
}

.roadOne{
    width: 800px;
    height: 100px;
    border: 2px solid black;
}

.one{
    animation-name: move;
    animation-duration: 3s;
    position: relative;
    animation-fill-mode: forwards;
    animation-delay: 6s;
}

.two{
    animation-name: move;
    animation-duration: 4s;
    position: relative;
    animation-fill-mode: forwards;
    animation-delay: 6s;
    margin-top: 50px;
}

@keyframes move{
    0% {
        left: 0px;
    }
    50%    {
        left: 800px;
    }
    100%{
        left: 0px;
        transform: rotate(180deg);
    }
}





/*counter*/
.counterMain{
    display:flex;
}
.counterOne{
    animation-name: counter;
    animation-duration: 2s;
    animation-delay: 4s;
    font-size: 30px;
    width: 50px;
    height: 50px;
    position: relative;
    right: 100px
}

.counterTwo{
    animation-name: counter;
    animation-delay: 2s;
    animation-duration: 2s;
    font-size: 30px;
    width: 50px;
    height: 50px;
    position: relative;
    right: 100px
    
}


.counterThree{
    animation-name: counter;
    animation-duration: 2s;
    font-size: 30px;
    width: 50px;
    height: 50px;
    position: relative;
    right: 100px
}

@keyframes counter{
    from {
        right: 100px;
    }
    to {
        right: -500px;
    }
}

// animation-name: example;
// animation-duration: 4s;
// animation-iteration-count: infinite;
// animation-direction: alternate;
// animation-timing-function: linear;
// animation-fill-mode: forwards;