$wrapper: 100ch;
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100ch;
    margin: auto;
    direction: rtl;


    .rec {
        font-family: "open sans";

    }

    .foryou {
        font-family: "open sans";
        margin: auto;
        width: $wrapper;
        height: 100px;
        display: flex;
        gap: 10px;
        background-size: cover;

        &__polo {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: 0.1px solid rgb(235, 235, 235);
            border-radius: 10px;

            &__photo {
                background-image: url("./171838_volkswagen-polo70tsilife-variant-jun22-hqn.jpg");
                background-size: cover;
                height: 100px;
                width: 200px;

            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                text-align: right;
                font-size: 10px;
                padding: 4px;


                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    padding-right: 4px;
                }

            }
        }

        &__i10 {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 0.1px solid rgb(235, 235, 235);

            &__photo {
                background-image: url("./Hyundai-Grand-i10-Nios-200120231541.jpg");
                background-size: cover;
                width: 200px;
                height: 80%;

            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                text-align: right;
                font-size: 10px;
                padding: 4px;

                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    padding-right: 4px;
                }

            }
        }

        &__seat {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 0.1px solid rgb(235, 235, 235);

            &__photo {
                background-image: url("./seat-ibiza-xcellence-colour-sapphire-blue.avif");
                background-size: cover;
                height: 80%;
                width: 200px;
            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                text-align: right;
                font-size: 10px;
                padding: 4px;


                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    padding-right: 4px;
                }
            }
        }

        &__chevi {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 10px;
            border: 0.1px solid rgb(235, 235, 235);

            &__photo {
                background-image: url("./color-Mystic-Blue.jpg");
                background-size: cover;
                height: 80%;
            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                text-align: right;
                padding: 4px;
                font-size: 10px;


                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    padding-right: 4px;
                }
            }
        }

    }

    .pop {
        margin-top: 100px;
        font-family: "open sans";

    }

    .popular {
        font-family: "open sans";
        margin: auto;
        width: $wrapper;
        height: 60px;
        display: flex;
        gap: 10px;
        background-size: cover;
        direction: rtl;

        &__doron {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: 0.1px solid rgb(235, 235, 235);
            border-radius: 10px;


            &__photo {
                background-image: url("/02-SCSS/07-BEM/puzzles/ROOM7/Tamar/dist/doeon.png");
                background-size: cover;
                height: 20px;
                width: 20px;
                position: relative;
                float: right;
            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                font-weight: bold;
                text-align: right;
                font-size: 10px;
                padding: 4px;


                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    float: left;
                }

            }
        }

        &__price {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: 0.1px solid rgb(235, 235, 235);
            border-radius: 10px;

            &__photo {
                background-image: url("/02-SCSS/07-BEM/puzzles/ROOM7/Tamar/dist/price.png");
                background-size: cover;
                height: 20px;
                width: 20px;
                position: absolute;
                float: left;
                max-width: 100%;
            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                font-weight: bold;
                text-align: right;
                font-size: 10px;
                padding: 4px;

                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    padding-right: 4px;
                }

            }
        }

        &__cal {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: 0.1px solid rgb(235, 235, 235);
            border-radius: 10px;


            &__photo {
                background-image: url("/02-SCSS/07-BEM/puzzles/ROOM7/Tamar/dist/cal.png");
                background-size: cover;
                height: 20px;
                width: 20px;
                position: absolute;
                float: left;

            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                font-weight: bold;
                text-align: right;
                font-size: 10px;
                padding: 4px;

                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    padding-right: 4px;
                }

            }
        }

        &__yzer {
            flex: 1;
            display: flex;
            flex-direction: column;
            border: 0.1px solid rgb(235, 235, 235);
            border-radius: 10px;

            &__photo {
                background-image: url("/02-SCSS/07-BEM/puzzles/ROOM7/Tamar/dist/yzer.png");
                background-size: cover;
                height: 50px;
                width: 50px;
                position: relative;
                right: -10px;
                top: 10px;
                float: right;
            }

            &__text {
                background-color: rgb(255, 255, 255);
                color: rgb(0, 0, 0);
                font-weight: bold;
                text-align: right;
                font-size: 10px;
                padding: 4px;

                &__subtext {
                    background-color: rgb(255, 255, 255);
                    color: rgb(0, 0, 0);
                    text-align: right;
                    font-size: 10px;
                    padding-right: 4px;
                }

            }
        }
    }
}

.searchheadline {
    font-family: "open sans";
    margin-top: 20px;
}

.search {
    font-family: "open sans";
    margin: auto;
    margin-top: 20px;
    width: $wrapper;
    height: 150px;
    display: flex;
    gap: 10px;
    background-size: cover;

    &__car {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 0.1px solid rgb(235, 235, 235);
        border-radius: 10px;

        &__photo {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fpopular-searches%2Fvehicles.png&w=256&q=75");
            background-size: cover;
            height: 100px;
            width: 200px;
        }

        &__text {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            text-align: right;
            font-size: 10px;
            padding: 4px;
        }
    }

    &__home {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 0.1px solid rgb(235, 235, 235);
        border-radius: 10px;

        &__photo {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fpopular-searches%2Freal-estate.png&w=256&q=75");
            background-size: cover;
            height: 100px;
            width: 200px;
        }

        &__text {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            text-align: right;
            font-size: 10px;
            padding: 4px;
        }
    }

    &__buy {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 0.1px solid rgb(235, 235, 235);
        border-radius: 10px;

        &__photo {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fpopular-searches%2Fproducts.png&w=256&q=75");
            background-size: cover;
            height: 100px;
            width: 200px;
        }

        &__text {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            text-align: right;
            font-size: 10px;
            padding: 4px;
        }
    }

    &__mag {
        flex: 1;
        display: flex;
        flex-direction: column;
        border: 0.1px solid rgb(235, 235, 235);
        border-radius: 10px;

        &__photo {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fpopular-searches%2Fdrushim.png&w=256&q=75");
            background-size: cover;
            height: 100px;
            width: 200px;
        }

        &__text {
            background-color: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            text-align: right;
            font-size: 10px;
            padding: 4px;
        }
    }
}
.container {
    direction: rtl;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .header__container {
        display: flex;
        position: relative;

    }

    .logo {

        width: 50px;
    }

    .nav {
        display: flex;
        position: absolute;
    }

    .banner__banner {
        background-color: aqua;

        gap: 20px;
        position: relative;
        margin-top: 120px;
    }
}

.brief {
    margin: auto;
    width: $wrapper;
    height: 200px;
    display: flex;
    gap: 10px;
    direction: rtl;

    &__article {
        flex: 1;
        display: flex;
        flex-direction: column;

        &__nadlan {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-real-estate.png&w=256&q=75");
            background-size: cover;
            height: 100%;

        }

        &__car {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-vehicles.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__yad2 {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-second-hand.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }


        &__jobs {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-drushim.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__pet {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-pets.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__hands {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-professional.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }

        &__bsn {
            background-image: url("https://www.yad2.co.il/home/_next/image?url=https%3A%2F%2Fassets.yad2.co.il%2Fhomepage%2Fleading-category-business.png&w=256&q=75");
            background-size: cover;
            height: 100%;
        }



        &__video {
            background-image: url("./soccer.png");
            background-size: cover;
            height: 100%;
        }

        &__text {
            background-color: black;
            color: white;
            text-align: center;
            padding: 4px;
        }
    }
}



// YBO part of SCSS
.link-tabs {
    background-color: #F8F8F8;
    margin: auto;
    width: $wrapper;
    height: 200px;
    display: flex;
    gap: 10px;
    direction: rtl;

    .klicks {
        width: $wrapper;
        margin: auto;
        justify-content: center;
        padding: 1rem;

        //element
        &__btn {
            border: none;
            margin: 5px;
            padding: 10px;

            // modifiers
            &--ok {
                background-color: #363636;
            }

            &--cancel {
                background-color: orange;
            }

            &--delete {
                background-color: red;
            }
        }
    }
}

.footer {
    background-color: #363636;
    margin: auto;
    width: $wrapper;
    height: 200px;
    display: flex;
    gap: 10px;
    direction: rtl;
}