@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');

@media only screen and (max-width: 1000px) {
    .signIn {
        width: 50vw;
    }
}

@media only screen and (min-width: 1001px) {
    .signIn {
        width: 20vw;
    }
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.video-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    background-color: rgb(16, 18, 19);
}

.signIn {
    height: 50vh;
    background: transparent;
<<<<<<< Updated upstream:04-Typescript/20-general/Room4-Spotify/login+register/Login/style.scss
    backdrop-filter: blur(4.5px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    font-family: 'Tektur', cursive;
    color: rgb(255, 252, 252);
    gap: 10px;
    transition: all 100ms ease-in-out;

=======
    backdrop-filter: blur(4px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(241, 236, 236, 0.418);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: flex-start;
    font-family: fantasy;
    color: rgb(252, 255, 254);
    gap: 10px;
    transition: all 100ms ease-in-out;
    font-size: 30px;
    gap: 20px;

    
>>>>>>> Stashed changes:04-Typescript/20-general/Room4-Spotify/login+register/style.scss

    &:hover {
        transform: scale(1.02);
    }

    &__logo{
        position: absolute;
        width: 10vw;
        top: -8vh;
    }

    &__userName {
        width: 15vw;
        height: 2vh;
        border-radius: 10px;
        cursor: pointer;
        font-family: 'Tektur', cursive;
        transition: all 100ms ease-in-out;
        background-color: rgba(240, 255, 255, 0.719);

        &:focus {
            transform: scaleX(1.1) scaley(1.1);

        }
    }

    &__password {
        width: 15vw;
        height: 2vh;
        border-radius: 10px;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        background-color: rgba(240, 255, 255, 0.719);
        font-family: 'Tektur', cursive;

        &:focus {
            transform: scaleX(1.1) scaley(1.1);


        }

    }

    &__submit {
        border-radius: 10px;
        cursor: pointer;
        font-family: fantasy;
        background-color: rgba(240, 255, 255, 0.719);



    }

    &__register {
        cursor: pointer;
        border-radius: 10px;
        cursor: pointer;
        font-family: fantasy;
        position: relative;
        bottom: 20vh;
        background-color: rgba(240, 255, 255, 0.719);

    }

}
<<<<<<< Updated upstream:04-Typescript/20-general/Room4-Spotify/login+register/Login/style.scss
=======
#logo{
margin: 0;
width: 100px;
height: 100px;
position: absolute;
top: 62vh;

}
>>>>>>> Stashed changes:04-Typescript/20-general/Room4-Spotify/login+register/style.scss
