.wrapper {
    max-width: 500px;
    height: 60vh;
    margin: auto;
    // background-color: aqua;

    form {
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        flex-flow: column;
        max-width: 200px;
        gap: .5rem;
    }

    .cards {
        display: flex;
        margin: auto;
    }

    .card{
        width: 150px;
        height: 20vh;
        text-align: center;
        font-size: small;
        font-style: italic;
        border-radius: 10px;
        padding: 2px;
        margin: auto;

        .img {
            width: 140px;
            height: 15vh;
            border-radius: 10px;
            margin-top: 2px;
        }
    }
}