.wrapper {
    max-width: 800px;
    height: 60vh;
    margin: auto;
    // background-color: aqua;

    form {
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        flex-flow: column;
        max-width: 400px;
        // height: 60vh;
        gap: .5rem;
    }

    .cards {
        display: flex;
        margin: auto;
    }

    .card {
        width: 16vw;
        height: 25vh;
        text-align: center;
        font-size: small;
        font-style: italic;
        border-radius: 10px;
        padding: 2px;
        margin: auto;

        .img {
            width: 16vw;
            height: 20vh;
            border-radius: 10px;
            margin-top: 2px;
        }
    }

    #imgsDIV {
        width: 400px;
        height: 200px;

        img {
            width: 200px;
            height: 200px;
        }
    }
}