* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 95vh;

  margin: 20px;

  .flex-item {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
  }

  .flex-item .img1 {
    border-radius: 20px;
    max-width: 250px;
    margin-bottom: 10px;
  }
  .flex-item .img2 {
    max-width: 200px;
    object-fit: cover;

    border-radius: 20px;
    margin-bottom: 10px;
  }
}
