.wrapper{
   background-color: aliceblue;
   position: relative;
   left:300px;
   top:300px;
}

.main{
    width: 100px;
    height: 100px;
    background-color: beige;
    border: 1px dashed gray;
}

.moved{
    position: relative;
    bottom:40px;
    right: 40px;
}

.fixed{
    position: fixed; 
    top:0px;
    left: 0px;
    background-color: tomato;
}

.absolute{
    position: absolute; // relative to the first positioned parent
    top:0px;
    left:0px;
    background-color: navy;
}