* {
  padding: 0%;
  margin: 0%;
}

nav {
  background-color: rgb(255, 255, 255);
  //   align-items: center;
  display: flex;
  height: 80px;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #b1b1b1;
  justify-content: space-around;
  div {
    display: flex;
    a {
      height: 60px;
      padding: 40px 10px 0px 10px;
      text-decoration: none;
      color: #b1b1b1;
      &:hover {
        // background-color: rgb(198, 198, 198);
        color: rgb(71, 71, 71);
      }
    }
    img {
      height: 100px;
      padding: 0px 10px 0px 0px;
      text-decoration: none;
      color: #b1b1b1;
    }
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  .fid {
    // border: 1px solid gray;
    width: 50%;
    padding: 15px 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__prodDiv {
      margin: 10px;
      text-align: center;
      border: 1px solid #b1b1b1;
      padding: 10px 0px;
      img {
        width: 90%;
      }
    }
  }
}
