$font-family: 'Assistant', sans-serif;
$font-size-heading: 3em;
$font-size-sub-heading: 1.3em;
$font-size-text: 1.0em;
$color-site-red: #FF4F5A;
$color-site-black:#000000 ;
$color-site-white: #ffff;
.register{
    display: flex;
    margin: auto;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;
    background-color: $color-site-red;
    align-content: center;
    align-items: center;


    .coloum1{
        background-color: #FF4F5A;
        width: 50vw;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        flex-direction: column;
        align-items: center;

       
        width: 50vw;
        .registerHead{
            font-size: $font-size-heading;
            color: $color-site-white;
            font-family: $font-family;
        }
        .formRegister{
            font-size: $font-size-heading;
            color: $color-site-white;
            font-family: $font-family;
            display: grid;
            margin: auto;
            width: 50%;
            
        }
    }
   
     }
    .coloum2{
        background-color: $color-site-red;
        width: 50vw;

      


}
.img{
    width: 50vw;
    height: 99.48vh;  
    }


    input[type="text" i] {
   padding: 5px;
   margin-left: 5px;
   font-family: $font-family;
   width: 100%;
   margin: 2% 0%;
   padding: 10px 10px ;
   border-radius: 5px;



   
 }
 input[type="email" i] {
padding: 5px;
margin-left: 5px;
font-family: $font-family;
width: 100%;
margin: 2% 0%;
padding: 10px 10px ;
border-radius: 5px;





}
input[type="password" i] {
padding: 5px;
margin-left: 5px;
font-family: $font-family;
margin: 2% 0%;
padding: 10px 10px ;
border-radius:5px;


width:100%;


}
.submit[type="submit" i] {
    padding: 5px 0px;
    font-family:$font-family;
    width: 105%;
    background-color: $color-site-black;
    color: $color-site-white;
    margin: 2% 0%;
    padding: 20px 0px ;
    border-radius:5px;



    border: none;
    cursor: pointer;}
 