body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr{
    width: 500px;
}

#title{
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board{
  width: 350px;
  height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;

}


.tile {
    // box
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    // Text
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}


.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color: white;
}


  .looser{
    font-size: 36px;
    position: absolute;
    bottom: 20vh;
  }


  .keyboard-row{
    width: 400px;
    margin: 5px auto;
    display: flex;
    flex-wrap: wrap;
  }

  .key-tile{
    cursor: pointer;
    border: 1px solid rgb(125, 119, 119);
    width: 36px;
    height: 40px;
    margin: 1px;

    // Text
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .enter-key-tile{
    cursor: pointer;
    border: 1px solid rgb(144, 139, 139);
    width: 76px;
    height: 40px;
    margin: 1px;

    // Text
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
    form{
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
      max-width: 300px;
      // position: relative;
      // left: 45vw;
     
      
      input {
        border-radius: 20px;
        height: 20px;
        text-align: center;
        font-size: 15px;
      }
  }
  
  
  