.wrapper{
    background-color: rgb(233, 230, 230);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 99vw;
    align-items: center;
    

    form{
        margin: 20px 0;
        width: 100%;
        display: flex;
        justify-content:space-around;

    }

    .cards{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        
        .card{
            text-align: center;
            height: 500px;
            width: fit-content;
            border: solid 2px;
            border-radius: 10px;
            align-items: center;

            img{
                width: 100%;
            }   
            
        }
    }
    
}