.wrapper{
    position: relative;
}

.baloon1{
    img{
        width: 220px;
        height: auto;
    }
    position: absolute;
    left: 500px;
    top: 200px;
    transform: rotate(5deg);
    z-index: 1;
}

.baloon2{
    img{
        width: 220px;
        height: auto;
    }
    position: absolute;
    left: 530px;
    top: 225px;
    transform: rotate(20deg);
}

.baloon3{
    img{
        width: 220px;
        height: auto;
    }
    position: absolute;
    top: 240px;
    left: 465px;
    transform: rotate(-12deg);
}

.baloon4{
    img{
        width: 80px;
        height: auto;
    }
    position: absolute;
    left: 620px;
    top: 200px;
    transform: rotate(20deg);
    z-index: -1;
    filter: blur(1.2px);

}

.baloon5{
    img{
        width: 140px;
        height: auto;

    }
    position: absolute;
    transform: rotate(-12deg);
    top: 202px;
    left: 485px;
    z-index: -1;
    filter: blur(2px);
}

.baloon6{
    img{
        width: 100px;
    }
    position: absolute;
    transform: rotate(-9deg);
    left: 498px;
    top: 308px;
    z-index: -1;
    filter: blur(1.2px);
}

.baloon7{
    img{
        width: 150px;
        height: auto;

    }
    position: absolute;
    left: 550px;
    top: 300px;
    z-index: -1;
    transform: rotate(10deg);
    filter: blur(2.7px);
}
