.wrapper {
  width: 800px;
  height: 600px;
  position: relative;
  margin: auto;
  background-color: #ff7dfd;
  // background-image: url(https://t3.ftcdn.net/jpg/02/96/05/52/240_F_296055218_RXc721N9fSYIz3sEV7QALYquMVP31jdJ.jpg);
  // background-size: cover;
}
.balloon {
  // width: 450px;
  // height: 500px;
  position: absolute;
}

img {
  scale: 0.75;
  // height: 80px;
  // width: 80px;
}
.base {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
}
// .balloon-test {
//   width: 100px;
//   height: 100px;
//   border-radius: 40%;
// }
.red {
  // color: #e40704;
  bottom: -60px;
  right: -170px;
  transform: rotate(-16deg);
}
.orange {
  // color: #da6408;
  bottom: -62px;
  right: -140px;
  transform: rotate(-23.5deg);
}
.blue {
  // color: #0e37c4;
  bottom: -68px;
  right: -110px;
  transform: rotate(-31deg);
}
.left_green {
  // color: #03cd31;
  bottom: -79px;
  right: -80px;
  transform: rotate(-38.5deg);
}
.purple {
  // color: #e15ade;
  bottom: -93px;
  right: -51px;
  transform: rotate(-46deg);
}
.pink {
  // color: #e7528f;
  bottom: -110px;
  right: -24px;
  transform: rotate(-53.5deg);
}
.olive {
  // color: #68a803;
  bottom: -62px;
  right: -202px;
  transform: rotate(-8.5deg);
}
.right_pink {
  // color: #e41b6f;
  bottom: -70px;
  right: -238px;
  transform: rotate(0.5deg);
}

.green {
  // color: #03cd31;
  bottom: -85px;
  right: -275px;
  transform: rotate(10deg);
}

.yellow {
  // color: #d1b303;
  bottom: -109px;
  right: -315px;
  transform: rotate(20.5deg);
}
// .string {
//   height: 1px;
//   width: 350px;
//   background-color: grey;
//   position: absolute;
//   top: 1px;
//   right: calc(50% - 50px);
// }
