.wrapper{
    display: flex;
}
.table{
    width: 100px;
    height: 100px;
    border: 2px solid green;
    text-align: center;
    position: relative;
    border-radius: 50%;
}

#table1{
    left: 150px;
    top: 150px;
}

#table2{
    left: 300px;
    top: 150px;
}

#table3{
    left: 150px;
    top: 300px;
}

#table4{
    left: 300px;
    top: 300px;    
}