#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 20px;
    width: 400px;
    background: linear-gradient(180deg, rgb(52, 177, 230) 35%, rgb(161, 204, 212) 100%);
    height: 100vh;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffffff;
    border-radius: 10px;



    h1 {
        text-align: center;
    }

    #panel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            /* Button background color */
            color: #ffffff;
            /* Text color */
            border: none;
            border-radius: 5px;
            /* Rounded corners */
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;
            /* Smooth hover effect */


        }

        #userUI {
            display: flex;

            button {
                width: 50%;
                padding: 5px;
                border-radius: 5px;
                background: linear-gradient(180deg, rgb(52, 177, 230) 35%, rgb(161, 204, 212) 100%);
                color: #ffffffb3;
                border: none;
                outline: none;
                font-size: 1.2rem;
                font-weight: bold;
            }

            button:hover {
                background: linear-gradient(0deg, rgb(52, 177, 230) 35%, rgb(161, 204, 212) 100%);
                color: #ffffffff;
                cursor: pointer;
            }
        }

        #form,
        .loginForm,.addNoteForm {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: space-around;



            input,
            select {
                width: 200px;
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
            }

            button {
                width: 50%;
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
            }
        }


    }
}