#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 20px;
    width: 450px;
    background: linear-gradient(180deg, rgb(52, 177, 230) 35%, rgb(161, 204, 212) 100%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffffff;
    border-radius: 10px;

    h1 {
        text-align: center;
    }

    #panel {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            /* Button background color */
            color: #ffffff;
            /* Text color */
            border: none;
            border-radius: 5px;
            /* Rounded corners */
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s ease;
            /* Smooth hover effect */


        }

        #userUI {
            display: flex;

            button {
                width: 50%;
                padding: 5px;
                border-radius: 5px;
                background: linear-gradient(180deg, rgb(52, 177, 230) 35%, rgb(161, 204, 212) 100%);
                color: #ffffffb3;
                border: none;
                outline: none;
                font-size: 1.2rem;
                font-weight: bold;
            }

            button:hover {
                background: linear-gradient(0deg, rgb(52, 177, 230) 35%, rgb(161, 204, 212) 100%);
                color: #ffffffff;
                cursor: pointer;
            }
        }

        #form,
        #loginForm,#addNoteForm,#registerForm{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: space-around;



            input,
            select {
                width: 200px;
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
            }

            button {
                width: 50%;
                padding: 10px;
                border-radius: 5px;
                border: none;
                outline: none;
            }

            .note{
                width: 80%;
                display: flex;
                flex-direction: column;
                align-items: left;
                gap: 5px;
                justify-content: space-around;
                background: linear-gradient(180deg, rgb(163, 210, 231) 35%, rgb(210, 215, 215) 100%);
                border-radius: 10px;
                text-align: left;

                p,h3{
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: black;
                    margin-left: 5px;
                }

                #noteButtons{
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 5px;

                    button{
                        width: 33%;
                        height: 50px;
                    }

                    button:hover{
                        cursor: pointer;
                        background: linear-gradient(0deg, rgb(35, 167, 224) 35%, rgb(141, 205, 216) 100%);
                    }
                }
            }
        }


    }
}