body {}

.wrapper {
    position: relative;
    font-family: 'Roboto', sans-serif;
    max-width: 1200px;
    height: 95vh;
    border: 2px solid black;
    margin: auto;
    border-radius: 20px;
    padding: 20px;

    .ombre {
        position: relative;
        background: linear-gradient(to left, #99ffcc 14%, #3399ff 100%);
        max-width: 1160px;
        height: 30vh;
        border-radius: 20px;
        color: white;
        display: flex;
        padding: 20px;


        h1 {
            position: relative;
            top: 3vh;
        }

        .glass {
            position: relative;
            top: 5vh;
            left: 820px;
            color: #3399ff;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: rgb(255, 255, 255);

        }


    }

    .galil {
        position: absolute;
        display: flex;
        gap: 15px;
        top: 12vh;
        color: #3399ff;
        animation-name: galil;
        animation-duration: 4s;
        animation-delay: 2ms;
        animation-iteration-count: 5;
        animation-direction: normal;

        &__box {
            position: relative;
            background-color: white;
            width: 160px;
            height: 110px;
            padding: 8px;
            border-radius: 10px;
            cursor: pointer;

            h3 {
                position: relative;
                top: -5px;
            }

            p {
                position: relative;
                top: -5px;
            }

            .arrow {
                position: absolute;
                top: 7vh;
                left: 6em;
                color: white;
                background-color: #3399ff;
                border-radius: 10px;
                padding: 5px;
            }
        }
    }

    .telemedicine {
        position: absolute;
        top: 410px;
        left: 40px;
        width: 1150px;
        height: 90px;
        background-color: #ffffff;
        color: #3399ff;
        border-radius: 10px;
        box-shadow: 4px 4px 8px rgba(155, 155, 155, 0.818);
        cursor: pointer;

        .icon {
            position: absolute;
            left: 30px;
            top: 30px;
            color: green;
        }

        &__text {
            position: absolute;
            left: 90px;

            p {
                position: relative;
                top: -10px;
                color: rgb(113, 113, 113);
            }
        }
    }

    .select {
        position: relative;
        top: 80px;
        display: flex;
        text-align: center;
        background-color: rgb(222, 229, 255);
        width: 400px;
        height: 40px;
        border-radius: 20px;
        margin: auto;

        &--div1 {
            position: relative;
            width: 200px;
            height: 40px;
            border-radius: 20px;
            color: gray;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;

            h4 {
                position: relative;
                top: -10px;
            }

            &:focus {
                position: relative;
                background-color: rgb(81, 118, 255);
                width: 200px;
                height: 40px;
                border-radius: 20px;
                color: rgb(255, 255, 255);

                h4 {
                    position: relative;
                }
            }
        }

        &--div2 {
            position: relative;
            width: 200px;
            height: 40px;
            border-radius: 20px;
            color: gray;
            border: none;
            background-color: rgba(255, 255, 255, 0);
            cursor: pointer;

            h4 {
                position: relative;
                top: -10px;
            }

            &:focus {
                position: relative;
                background-color: rgb(81, 118, 255);
                width: 200px;
                height: 40px;
                border-radius: 20px;
                color: rgb(255, 255, 255);

                h4 {
                    position: relative;
                }
            }
        }
    }

    .toors {
        position: relative;
        top: 100px;
        flex-wrap: wrap;
        width: 1200px;
        display: flex;
        gap: 10px;

        &__line {
            position: relative;
            // background-color: #99ffcc;
            padding-left: 20px;
            height: 8vh;
            width: 360px;
            cursor: pointer;

            .icon {
                position: relative;
                top: 40px;
                color: rgb(81, 118, 255);
            }

            &--text {
                position: relative;
                top: -20px;
                left: 50px;
            }
        }
    }

    .menu {
        position: absolute;
        top: 92vh;
        display: flex;
        width: 1185px;
        justify-content: space-between;
        text-align: center;
        padding: 0 1em;
        color: gray;
        border-radius: 5px;

        &--object {
            cursor: pointer;

            &__animation {
                position: absolute;
                top: -1.3vh;
                left: 910px;
                background-color: rgb(81, 118, 255);
                color: white;
                padding: 2px 3px;
                border-radius: 50%;
                font-size: small;
                animation-name: namber;
                animation-duration: 4s;
                animation-delay: 1s;
                animation-iteration-count: infinite;
            }
        }
    }

    @keyframes namber {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes galil {
        from {
            left: 2em;
        }

        to {
            left: -20em;
        }
    }

    @media only screen and (max-width: 1024px) {
        .wrapper {
            max-width: 1024px
        }

        .ombre {
            max-width: 900px;

            .glass {
                position: relative;
                left: 700px;
            }
        }

        .telemedicine {
            max-width: 880px;
        }

        .toors {
            width: 1000px;
        }

        .menu {
            width: 900px;

            &--object {

                &__animation {
                    position: absolute;
                    left: 700px;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .wrapper {
            max-width: 600px
        }

        .telemedicine {
            max-width: 470px;
        }

        .toors {
            width: 600px;
        }

        .menu {
            width: 500px;

            &--object {

                &__animation {
                    position: absolute;
                    left: 400px;
                }
            }
        }
    }

}