$wrapper: 100ch;
.category {
  margin: auto;
  width: $wrapper;
  height: 200px;
  display: flex;
  gap: 10px;

  // &__article {
  //   flex: 1;
  //   display: flex;
  //   flex-direction: column;
    &__img {
      background-image: url("./soccer.png");
      background-size: cover;
      height: 100%;
    }
    &__text {
      background-color: black;
      color: white;
      text-align: center;
      padding: 4px;
    }
  }
}
