body {
  background-color: rgb(252, 248, 237);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  margin: 0.3rem;
  outline: none;
}

.start {
  background-color: green;
}

.stop {
  background-color: red;
}

.resume,
.reset {
  background-color: rgb(161, 195, 214);
}

button.no-outline:focus {
  outline: none;
}
