$mainColor:#181818;

.wrapper {
    background-color: $mainColor;

    h2 {
        color: white;
    }

    display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr;

    .rows {
        background-color: $mainColor;

        &__items {
            width: 75ch;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 10px;

            @media only screen and (max-width: 900px) {
                // max-width: 750px;
                grid-template-columns: repeat(3, 1fr);
            }

            @media only screen and (max-width: 600px) {
                // max-width: 600px;
                grid-template-columns: repeat(1, 1fr);
            }

            .item {
                border-radius: 10px;

                // height: 100%;


                background-color: $mainColor;
                color: #fff;

                // &__img {

                //     height: fit-content;
                //     min-width: 100px;
                //     background-size: contain;
                //     background-repeat: no-repeat;
                //     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVH45eMzAif0pJhRTAnWJx_5EKoiSn-9bR6A&usqp=CAU");
                // }



                &__control {
                    position: relative;
                    display: inline-flexbox;
                    // padding: 10px;

                    // grid-template-columns: repeat(4,20px);
                    // grid-template-rows: 1fr;
                    // grid-column: 3 / span 2;
                    svg {
                        font-size: 2em;
                        padding: 5px;
                    }

                    svg:last-child {
                        position: absolute;
                        right: 0;
                    }
                }

                &__title {
                    display: inline-flex;
                    gap: 10px;


                    // grid-template-rows: frepeat(1, 1fr);
                    p {
                        margin: 0;
                    }

                    span {
                        border: 1px solid white;
                    }

                    .green {
                        color: green;
                        font-weight: bold;
                    }
                }

                &__cat {
                    display: inline-flex;
                    gap: 5px;
                    margin-bottom: 10px;

                    p {
                        margin: 0;
                    }

                    p:after {
                        padding-left: 5px;
                        content: "•";




                    }

                    p:last-child:after {
                        content: "";
                    }

                    ;


                }

                &__control,
                &__title,
                &__cat {
                    padding: 5px 20px;
                    margin: 0;

                }

                .text {
                    position: absolute;
                    display: none;

                    // opacity: 0;
                }

                &:hover {
                    cursor: pointer;
                    transform: scale(1.5);
                    border-radius: 0;

                    .text {
                        display: block;
                        background-color: $mainColor;
                        border-radius: 0 0 10px 10px;


                    }




                }

            }
        }
    }
}