.mainPageRoot {
    margin: auto;
    width: 1600px;
    height: 1200px;
    background-image: url(https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-lukas-616401.jpg&fm=jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__tablesTitle {
        font-size: 80px;
        position: absolute;
        color: rgb(18, 20, 20);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        text-decoration: underline;
        top: 80px;
    }

    &__tablesGrid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(5, 1fr);
        width: 1200px;
        height: 800px;
        row-gap: 10px;
        column-gap: 10px;
        position: absolute;
        top: 300px;

        &__table {

            border-radius: 10px;
            background: rgb(207, 238, 210);
            background: linear-gradient(0deg, rgba(207, 238, 210, 1) 15%, rgba(176, 233, 241, 1) 85%);
            box-shadow: 1px 1px gray;
            transition: all 100ms ease-in-out;
            cursor: pointer;
            font-size: 80px;
            text-align: center;
            text-shadow: 2px gray;
            &:hover{
                box-shadow: 2px 2px rgb(0, 0, 0) ;
                transform: scale(1.04);
            }
            

        }
    }
}



.secondPageRoot{
    margin: auto;
    width: 1600px;
    height: 1200px;
    background-image: url(https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-lukas-616401.jpg&fm=jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    &__3ops{
        display: flex;
        flex-direction: column;
        width: 1000px;
        height: 1000px;
        gap: 40px;
        align-items: center;
        position: absolute;
        bottom: 100px;
        &__op{
            height: 20%;
            width: 80%;
            background-color: aquamarine;
            border-radius: 10px;
            cursor: pointer;
            font-size: 80px;
            text-align: center;
            text-shadow: 2px gray;
            color: rgb(75, 55, 31);
            &:hover{
                box-shadow: 2px 2px rgb(0, 0, 0) ;
                transform: scale(1.04);
            }
            
        }
    }
}
.newOrderPageRoot{
    margin: auto;
    width: 1600px;
    height: 1200px;
    background-image: url(https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-lukas-616401.jpg&fm=jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foodPageRoot {
    margin: auto;
    width: 1600px;
    height: 1200px;
    background-image: url(https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?cs=srgb&dl=pexels-lukas-616401.jpg&fm=jpg);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__foodTitle {
        font-size: 80px;
        position: absolute;
        color: rgb(18, 20, 20);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: 900;
        text-decoration: underline;
        top: 80px;
    }

    &__foodGrid {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(4, 1fr);
        width: 1200px;
        height: 800px;
        row-gap: 10px;
        column-gap: 10px;
        position: absolute;
        top: 300px;

        &__food {

            border-radius: 10px;
            background: rgb(207, 238, 210);
            background: linear-gradient(0deg, rgba(207, 238, 210, 1) 15%, rgba(176, 233, 241, 1) 85%);
            box-shadow: 1px 1px gray;
            transition: all 100ms ease-in-out;
            cursor: pointer;
            font-size: 80px;
            text-align: center;
            text-shadow: 2px gray;
            &:hover{
                box-shadow: 2px 2px rgb(0, 0, 0) ;
                transform: scale(1.04);
            }
            &__foodHeader{
                font-size: 40px;

            }
            &__foodImg{
                width: 100%;
                height: 60%;
            }
            

        }
    }
}