.breed-card {
    border: 1px solid #ddd;
    overflow: hidden;
    margin: 10px;
    width: 25vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .breed-image {
    width: 25vw;
    height: 20vw;
    object-fit: cover;
  }
  
  .breed-info {
    text-align: left;
    padding-left: 2vw;
  }
  
  h3 {
    margin: 0;
    font-size: 18px;
    color: #767676;
  }
  
  p {
    margin: 10px 0;
    font-size: 14px;
    color: #b8b6b6;
  }