
*{
   margin: 0;
}
 html {
    background-color: rgb(15, 215, 215);
}

.wrapper {
    i {
        padding-right: 10px;
    }


    .header {
        display: block;
        text-align: right;
        background-color: #03a1a1;
        width: 100%;
        height: 25px;
        font-size: 22px;
       
    }
    

    .navigation {
   display: block;
   text-align: center;
   justify-content: space-between;
    width: 100%;
    color: rgb(86, 86, 86);
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #bcbcbc;

   
    
}

#paw {
    width: 40px;
    height: 40px;
}

}