body{
    background-image: url(https://www.pexels.com/photo/1103970/download/);
}
#header{
    font-size: 40px;
    color: rgb(61, 61, 71);
    width: 10vw;
}
.wrapper{
    margin: auto;
    width: 40vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginBox{
    width: 30vw;
    height: 20vh;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 2px 2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    &__txt{
        font-size: 20px;
        color: rgb(50, 83, 83);
    }
}
.userBlock{
    margin-top: 1vh;
    height: 60vh;
    width: 30vw;
    border-radius: 10px;
    background-color: rgb(177, 193, 194);
    box-shadow: 2px 2px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    transition: all 100ms ease-in-out;

}
#headLil{
    font-size: 20px;
    color: black;
    text-align: center;
    text-decoration: underline;
}