body {
    background-color: rgba(159, 133, 246, 0.594);
}

.wrapper {
    width: 380px;
    height: 600px;
    margin: auto;
    margin-top: 100px;
    position: relative;
    border-radius: 40px;
    background: linear-gradient(rgb(33, 33, 108), (rgb(51, 51, 122)));
    box-shadow: -5px -5px 200px 5px black;
}

.top {
    color: white;

    &__arrow {
        span {
            padding: 5px;
            border-radius: 50%;
            background-color: rgba(57, 11, 223, 0.573);
            position: relative;
            left: 20px;
            top: 20px;
        }
    }

    &__profile {
        img {
            width: 25%;
            margin-left: 37.5%;
            margin-top: 40px;
        }
    }

    &__txt {
        display: block;
        text-align: center;
        padding: 5px;

        &--name {
            font-size: 25px;
            font-weight: bold;
        }

        &--type {
            font-size: 14px;
        }

        &--role {
            font-size: 13px;
            background-color: rgba(11, 40, 255, 0.84);
            padding: 4px;
            border-radius: 8px;
            width: 100px;
            margin: auto;
        }
    }

    &__details {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 30px 15px;
        gap: 20px 10px;
        text-align: center;
        font-variant: small-caps;
        margin-left: 40px;
        margin-right: 40px;

        p {

            &:nth-child(1n) {
                // font-weight: bold;
                color: rgb(140, 140, 142);
                font-size: 12px;
            }

            &:nth-child(n+5) {
                font-weight: bold;
                color: white;
                font-size: 14px;
            }
        }
    }
}