$top:180px;
$left:280px;
body{
    background-color: rgba(145, 248, 214, 0.352);
}
.wrapper {
   h1{
    color: #130080;
    padding: 100px 610px 0px 0px;
   } 
   img{

   position: absolute;
    top: 20px;
    left: 80px;
    border: 6px dotted;
    border-radius: 50%;
    z-index: -1;
}
}
.bln {
    img{
        position: absolute;
        
    }
  
}
.yellow {
    img {
        height: 140px;
        width: 80px;
        left: $left+35;
        top: $top+40;
        z-index: 1;
}
}

.red {
    img {
        height: 120px;
        width: 90px;
        left: $left;
        top: calc( 50vw + 40px);
        transform: rotate(-17deg);
}
}
.purple {
    img {
        height: 140px;
        width: 80px;
        left: $left+30;
        transform: rotate(5deg);
        top: $top;
        
}
}
.pink {
    img {
        height: 160px;
        width: 70px;
        left: $left+75;
        transform: rotate(15deg);
        top: $top;
}
}
.orange {
    img {
        height: 120px;
        width: 80px;
        left: $left+85;    
        top: $top+40;
        transform: rotate(15deg);
 }
}
.green2 {
    img {
       
        height: 120px;
        width: 85px;
        left: $left+75;
        top: $top+40;
        transform: rotate(45deg);
}
}
.green {
    img {
        height: 140px;
        width: 80px;
        left: $left+15;
        top: $top+23;
        transform: rotate(-35deg);
        
}
}
.gold {
    img {
        height: 120px;
        width: 50px;
        left: $left+70;
        top: $top+40;
        transform: rotate(15deg);
        z-index: 1;
}
}.blue2 {
    img {
        height: 140px;
        width: 95px;
        left: $left+35;
        top: $top+12;
        transform: rotate(3deg);
        z-index: 0;
       
        
}
}.blue {
    img {
        height: 140px;
        width: 80px;
        left: $left+25;
        top: $top+35;
        transform: rotate(-7deg);
        
}
}