body {
    background: palevioletred;
}

.boxes {
    display: flex;
    width: 1000px;

    .box {
        width: 200px;
        height: 200px;
        margin: 5px;
        background: white;
    }
}

@media only screen and (max-width: 900px) {
    .boxes {
        flex-direction: column;


        .box {

            background: orange;
        }
    }
}

@media only screen and (max-width: 600px) {
    .boxes {
        flex-direction: row;


        .box {
            width: 150px;
            height: 150px;
            background: black;
        }
    }
}