.box__btn{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 87%;


    .button {
        display: flex;
        border-radius: 50%;
        padding: 20px;
        background-color: rgb(161, 150, 150);
        color: rgb(58, 8, 8);
    }

    button:hover {
        transition: 2s;
        background-color: burlywood;
        color: rgb(178, 31, 31);
        background-image: url(https://images.pexels.com/photos/1535421/pexels-photo-1535421.jpeg?auto=compress&cs=tinysrgb&w=800);
        background-size: cover;
    }

    button:active{
        transform: 1s;
        border:gold 2px solid;
        background-color: rgba(255, 217, 0, 0.459);
        transform: rotate(25deg);
    }

    a {
        text-decoration: none;
    }

}