$h_color: rgb(0, 149, 255);
$t_color: lightgray;
$s_color: rgb(99, 248, 119);
$b_color: white;


body {
    background-color: beige;
    font-family: 'Lalezar';
}

.wrapper {
    width: 90vw;
    height: 100%;
    background-color: $b_color;
    margin: auto;
    // border: 1px solid none;
    border-radius: 1.2rem;
    padding: 20px;

}

.conteiner {
    background-image: linear-gradient(to right, $h_color, $s_color);
    width: 90vw;
    border-radius: 10px;
    margin-left: -20px;
}

@media only screen and (min-width: 1024px) {
    .categories {
        &__links {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 1024px) {
    .categories {
        &__links {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 600px) {
    .categories {
        &__links {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
        }
    }

    .wrapper {
        flex-direction: column;
    }
}

.header {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    padding: 17px;


    grid-template-areas:
        "first-row"
        "secend-row";

    &__1st {
        grid-area: first-row;
        display: flex;
        margin-top: 0;
        padding-top: 0;
        width: 80vw;
        color: $b_color;

        &__icons {
            display: inline-flex;
            align-self: flex-end;
            padding-left: 100%;

            i {
                padding-left: 2px;
                padding-right: 2px;
            }
        }
    }

    &__2nd {
        grid-area: secend-row;
        margin-top: 0;
        padding-top: 0;
        width: 70vw;
        display: flex;
        white-space: nowrap;

        &__stert {
            display: flex;
            align-items: center;
            color: $b_color;

            h3 {
                margin-left: 5px;
            }
        }

        &__end {
            display: inline-flex;
            align-self: flex-end;
            padding-left: 92%;

            i {
                margin-right: 3px;
                margin-left: 3px;
                color: black;
                background-color: white;
                border: 10px solid white;
                border-radius: 100%;
            }
        }

    }
}

.slideshow {
    text-align: left;
    font-size: 40px;
    overflow: hidden;
    width: 99%;
    margin: 0 auto;
}

.slide-wrapper {
    width: 2912px;
    animation: slide 18s ease infinite;
}

.slide {
    float: left;
    height: 250px;
    width: 250px;
    background-color: $b_color;
    border: 1px solid $b_color;
    border-radius: 10px;
    margin-left: 30px;

    &__h4 {
        color: $h_color;
    }

    &__p {
        color: $t_color;
    }
}

@keyframes slide {
    20% {
        margin-left: 0px;
    }

    30% {
        margin-left: -728px;
    }

    50% {
        margin-left: -728px;
    }

    60% {
        margin-left: -1456px;
    }

    70% {
        margin-left: -1456px;
    }

    80% {
        margin-left: -2184px;
    }

    90% {
        margin-left: -2184px;
    }
}

.post {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 6fr;
    padding: 17px;
    color: $b_color;
    background-color: $b_color;
    width: 80vw;
    margin-left: 5%;
    border-radius: 10px;
    position: relative;
    top: 53px;
    box-shadow: 10px 10px 5px lightblue;

    grid-template-areas:
        "icon h"
        "icon p";

    i {
        grid-area: icon;
        // margin-top: 0;
        // padding-top: 0;
        color: $s_color;
        align-self: center;
        font-size: 50px;
    }

    &__h {
        grid-area: h;
        color: $h_color;
    }

    &__p {
        grid-area: p;
        color: $t_color;
    }

}

.categories {
    margin-top: 100px;

    &__header {

        &__services{
            border: 1px solid gray;
            border-radius: 20px; 
            width: 200px;
        }

        &__Doctors{
            border: 1px solid gray;
            border-radius: 20px;
            width: 200px;
            position: absolute;
            left: 190px;
        }


        &__services:focus {
            border: 1px solid $h_color;
            border-radius: 20px;
            background-color: $h_color;
            color: $b_color;
            position: absolute;
            z-index: 1;
        }

        &__Doctors:focus {
            border: 1px solid $h_color;
            border-radius: 20px;
            background-color: $h_color;
            color: $b_color;
            position: absolute;
            z-index: 1;
        }

    }

    &__links {

        display: grid;

        &__block {
            display: grid;
            align-items: center;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 6fr;
            padding: 17px;

        }
    }
}

.footer {
    display: grid;
    position: fixed;
    bottom: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "i1 i2 i3 i4 i5"
    "text1 text2 text3 text4 text5";

    .i1{
        grid-area: i1;
    }

    .text1{
        grid-area: text1;
    }
}