.wrapper {
  height: 20vh;
  margin: auto;
  display: grid;
  width: 70vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5px;
  grid-template-areas:
  " red red green yellow"
  " red red purple blue";
// .div{
//   width: 150px;
//   height: 100px;

// }
  .red {
    background-color: red;
    grid-area: red;
  }
  .blue {
    background-color: blue;
    grid-area: blue;
  }
  .purple{
    background-color: purple;
    grid-area: purple;
  }
  .green{
    background-color: greenyellow;
    grid-area: green;
  }
  .yellow{
    background-color: yellow;
    grid-area: yellow;
  }
  @media only screen and (max-width: 900px) {
    max-width: 600px;
    height: 200px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "red red "
    "red red "
    "green yellow"
    "purple blue";
    
  }
}