body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100vh;
    background: linear-gradient(0deg, rgb(200, 10, 10) 30%, rgb(50,50,50) 70%);
}
h1{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 2.9em;
    color: lightgray;
}