$bodyW: 100%;
$bodyH: 100%;
body{
    width: $bodyW;
    height: $bodyH;
    line-height: 1;
    direction: rtl;
    font-family: arial;  
    list-style: none;
}

/*@@@@@ - Neve Homework - @@@@@*/



/*@@@@@ - Doriel Homework - @@@@@*/  
.blockBig{
    width: 100%;
    position: flex;
    justify-self: center;
    align-items: center;
} 
.block .main{
    width: $bodyW;
    position: relative;
    left: 50%;
    right: 50%;
    justify-content: center;

    img{
        width: 100%;
        max-height: 540px;
        direction: rtl;
        overflow: clip;
        margin-left: -50vw;
        margin-right: -50vw;

        h2{
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        p{

        }
    }
}

/*@@@@@ - Tom Homework - @@@@@*/
