* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.checkers-board {
  width: min(100vw, 900px);
  height: min(100vh, 900px);
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  border: black 1px solid;
  box-sizing: content-box;

  .box {
    position: relative;
    width: max(calc(900px / 8), 100%);
    height: max(calc(900px / 8), 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    .pawn {
      position: absolute;
      width: 70%;
      height: 70%;
      border-radius: 50%;
      z-index: 1000;
    }
    .white-pawn {
      background-color: #fff;
      border: 3px solid #000;
      box-sizing: content-box;
    }
    .black-pawn {
      background-color: #000;
      border: 3px solid #fff;
      box-sizing: content-box;
    }
  }
  .row {
    display: flex;
  }
  .first {
    .box {
      &:nth-child(even) {
        background-color: black;
      }
    }
  }
  .second {
    .box {
      &:nth-child(odd) {
        background-color: black;
      }
    }
  }
  .third {
    .box {
      &:nth-child(even) {
        background-color: black;
      }
    }
  }
  .fourth {
    .box {
      &:nth-child(odd) {
        background-color: black;
      }
    }
  }
  .fifth {
    .box {
      &:nth-child(even) {
        background-color: black;
      }
    }
  }
  .sixth {
    .box {
      &:nth-child(odd) {
        background-color: black;
      }
    }
  }
  .seventh {
    .box {
      &:nth-child(even) {
        background-color: black;
      }
    }
  }
  .eighth {
    .box {
      &:nth-child(odd) {
        background-color: black;
      }
    }
  }
}
