
.wapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
 
  .balloon
  {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &:focus {
        animation: pop 0.5s cubic-bezier(0.16, 0.87, 0.48, 0.99) forwards;
        } 
   
  }

 .blue{
    background: radial-gradient(
        circle at 75% 30%,
        white 5px,
        aqua 8%,
        darkblue 60%,
        aqua 100%);
 }
 .yellow{
    background: radial-gradient(
        circle at 75% 30%,
        white 5px,
        rgb(250, 178, 119) 8%,
        yellow 60%,
        rgb(99, 114, 2) 100%); 
           
  }
 .red{
 
    background: radial-gradient(
        circle at 75% 30%,
        white 5px,
        rgb(220, 6, 124) 8%,
        rgb(164, 2, 2) 60%,
        red 100%);  
 }
 .green{
    background: radial-gradient(
        circle at 75% 30%,
        white 5px,
        rgb(14, 88, 11) 8%,
        rgb(43, 170, 53) 60%,
        rgb(152, 250, 155) 100%);
 }
  .dance{
    animation: dance 25s ;
    animation-direction: alternate-reverse;
     animation-iteration-count:infinite;
     animation-fill-mode: initial;
     transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .dance2{
    animation: dance2 20s ;
    animation-direction: alternate-reverse;
     animation-iteration-count:infinite;
     animation-fill-mode: initial;
     transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  .dance3{
    animation: dance3 15s ;
    animation-direction: alternate-reverse;
     animation-iteration-count:infinite;
     animation-fill-mode: initial;
     transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  }
@keyframes pop
{
    from{
        opacity:1;
        transform: translateZ(0) scale(1,1);
    }

    to{
        opacity:0;
        transform: translateZ(0) scale(1.5,1.5);
    }
}
@keyframes dance
{
 0% {
    //display: block;
    transform: translateX(-10vh) translateY(-10vh) rotateZ(0deg)  translateZ(0)
    }

15% {
transform: translateX(50vh) translateY(50vh) rotateZ(180deg)  translateZ(100vh)
}

40% {
transform: translateX(-10vh) translateY(30vh) rotateZ(-180deg) translateZ(50vh)
}

65% {
transform: translateX(50vh) translateY(80vh) rotateZ(0deg) translateZ(200vh)
}

100% {
transform: translateX(10vh) translateY(20vh) rotateZ(180deg) translateZ(100vh)
}
}

@keyframes dance2
{
 0% {
    //display: block;
    transform: translateX(-20vw) translateY(20vh) rotateZ(0deg)
    
    }

15% {
transform: translateX(10vw) translateY(10vh) rotateZ(180deg)
}

40% {
transform: translateX(10vw) translateY(80vh) rotateZ(-180deg)
}

65% {
transform: translateX(50vw) translateY(40vh) rotateZ(0deg)
}

100% {
transform: translateX(10vw) translateY(20vh) rotateZ(180deg) 
}
}
@keyframes dance3
{
 0% {
    //display: block;
    transform: translateX(-70vw) translateY(40vh) rotateZ(0deg)
    
    }

15% {
transform: translateX(100vw) translateY(70vh) rotateZ(180deg)
}

40% {
transform: translateX(10vw) translateY(120vh) rotateZ(-180deg)
}

65% {
transform: translateX(60vw) translateY(70vh) rotateZ(0deg)
}

100% {
transform: translateX(10vw) translateY(40vh) rotateZ(180deg) 
}
}







