<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scss/dist/style.css">
    <script src="../ts/dist/gameItself.js" defer></script>
    <script src="../ts/dist/script.js" defer></script>
</head>

<body>
    <div class="container">
        <div id="container__player"></div>
        <div id="container__shoot"></div>
        <div class="container__ball"></div>
    </div>

</body>

</html>