.wraper{
    width: 200px;
    height: 400px;
    margin: auto;
    display: flex;
    background-color: aquamarine;
    box-sizing: border-box;
    &__baloon{
        box-sizing: border-box;
        &:hover{
            box-shadow: 30px 50px 100px black;
            transform: rotate(20deg);
        }
    }
}