button,
input, ::placeholder {
    text-align: center;
    padding: 8px 8px 8px 2px;
    margin: 10px;
    border-radius: 15px;
    color: aliceblue;
    background:linear-gradient(rgb(1, 170, 255),rgb(0, 38, 250));
    font-family: 'Annie Use Your Telescope', cursive;
font-weight: bolder;
font-size: larger;
min-width: 180px;
}