.img{
    border: 3px solid gray;
    display: block;
    // margin-top: -70px;
    // margin-left: 150px;
    width: 600px;
    height: 200px;
    position: absolute;
    box-shadow: 4px 4px 12px rgba(36, 35, 35, 0.426);
    background-size: cover;
}

.hidden {
    display: none;
}