$color: rgb(149, 148, 148);


* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: whitesmoke;
}


.wrapper {
    background-color: white;
    margin: 0 auto;
    max-width: 100%;

    &__main12 {
        background-color: #db000b;
        width: 100%;

        &__mako {
            margin-right: 12%;
            height: 80px;
        }
    }

    .nav {
        background-color: whitesmoke;

        :nth-last-child(-n+3) {
            display: flex;

            img {
                width: 20px;
            }
        }

        &__menu {
            display: flex;
            justify-content: center;

            a {
                font-weight: 600;
                margin: 12px;
                text-decoration: none;
                color: black;
            }

            a:hover {
                cursor: pointer;
                text-decoration: underline;
            }

            .political {
                color: red;
            }

            .Search {
                margin-right: 30px;
            }
        }
    }


    span {
        margin-right: 15%;
        font-weight: 700;
        color: red;
        font-size: 30px;
    }


    &__ads {
        img {
            margin-right: 13%;
            max-width: 70%;
            margin-bottom: 20px;
        }
    }

    &__ads-1 {

        img {
            float: right;
            margin-right: 1%;
            max-width: 10%;
        }

    }

    &__ads-2 {
        display: flex;
        flex-direction: column;
        float: left;
        align-items: center;

        img {
            max-width: 44%;
            float: left;
            margin-left: 26%;

        }

        h2 {
            margin-left: 52%;
        }

        &__more {
            display: flex;
            padding: 2px;

            img {
                width: 25%;
                margin: 0;
                margin-right: 6%;
            }

            p {
                width: 248px;
                margin: 6px;
                font-weight: 700;
                text-align: justify;
            }

        }

    }

    &__text {
        background-color: white;
        max-width: 50%;
        margin-right: 8%;


        &__h1 {
            margin-top: 2%;
            margin-right: 14%;
            font-size: 46px;
        }

        &__h2 {
            text-align: justify;
            font-size: 20px;
            margin-top: 1%;
            margin-right: 14%;

        }

    }

}

.mainads {
    display: flex;
    align-items: flex-end;

    &__img {
        margin: 0;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 7.5%;
        width: 4%;
    }

    &__p {
        font-size: large;
        color: $color;
        font-size: 15px;
    }

    &__spam {
        color: $color
    }

}

.spam2 {
    margin-right: 4%;
    font-size: 23px;
    color: red;
}

.wrapper__text {

    img {
        margin-top: 2%;
        margin-right: 8%;
        width: 84%;
    }

    .img-2 {
        float: right;
        width: 15%;
        margin-right: 14%;
    }

    &__p2 {
        padding: 4px;
        margin-right: 14%;
        color: $color;
        font-size: 75%;
    }

    &__p3 {
        text-align: justify;
        margin-top: 2%;
        font-size: 1.125rem;
    }


    &__moreads {
        display: flex;
        float: left;

        h2 {
            display: flex;
        }
    }
}