$color: rgb(149, 148, 148);


* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: whitesmoke;
}


.wrapper {
    background-color: white;
    margin: 0 auto;
    max-width: 100%;

    &__main12 {
        background-color: red;
        width: 100  %;
    }

   
    span {
        margin-right: 15%;
        font-weight: 700;
        color: red;
        font-size: 30px;
    }


    &__ads {
        img {
            margin-right: 13%;
            max-width: 70%;
            margin-bottom: 20px;
        }
    }

    &__ads-1 {

        img {
            float: right;
            margin-right: 1%;
            max-width: 10%;
        }

    }

    &__ads-2 {
        img {
            margin-left: 17%;
            max-width: 20%;
            float: left;
        }
    }

    &__text {
        background-color: white;
        max-width: 50%;
        margin-right: 8%;

        &__h1 {
            margin-top: 2%;
            margin-right: 14%;
            font-size: 40px;
        }

        &__h2 {
            text-align: justify;
            font-size: 20px;
            margin-top: 0.1%;
            margin-right: 14%;

        }

    }

}

.mainads {
    display: flex;
    align-items: flex-end;

    &__img {
        margin: 0;
        margin-top: 1%;
        margin-left: 1%;
        margin-right: 7.5%;
        width: 4%;
    }

    &__p {
        font-size: large;
        color: $color;
        font-size: 15px;
    }

    &__spam {
        color: $color
    }

}

.spam2 {
    margin-right: 4%;
    font-size: 23px;
    color: red;
}

.wrapper__text {

    img {
        margin-top: 2%;
        margin-right: 8%;
        width: 86%;
    }

    .img-2 {
        float: right;
        width: 15%;
        margin-right: 14%;
    }

    &__p2 {
        padding: 4px;
        margin-right: 14%;
        color: $color;
        font-size: 75%;
    }

    &__p3 {
        text-align: justify;
        margin-top: 2%;
        font-size: 1.125rem;
    }


    &__moreads {
        display: flex;
        float: left;

        h2 {
            display: flex;
        }
    }
}