body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;


}
.backVideo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
}
form{
    width: 30vw;
    height: 40vh;
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-family: fantasy;
    color: aliceblue;

}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 12vw;
    height: 4vh;
    cursor: pointer;
}
a{
    transition: all 0.2s ease-in-out;
    color: aliceblue;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        color: #706565;
        transform: scale(1.1);
    }
}
#submit{
    border-radius: 10px;
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover{
        background-color: #c1f076;
        transform: scale(1.1);
    }

}