*{
    margin: 0px;
    // padding: 0px;
}

.wrapper{
    margin: auto;
    width: 400px;
    padding-left: 20px;

    &__mainheader{

        width: 300px;

        button {
            width: 40px;
            height: 40px;
            background: none;
            border: none;
            position: relative;
            left: 120px;
            
        
            &:hover{
                border-radius: 360px;
                background-color: rgb(227, 68, 28);
                
            }
        }

        img{
            width: 150px;
            height: 50px;
        }
    }



    
    &__imgs{
        width: 300px;
        padding-top: 20px;
        justify-content:end;
    
        
        img{
            width: 120px;
            height: 150px;
            border-radius: 7px;
        }

        &__row1{
           display: flex;
           gap: 5px;
           .p1{
            flex: 1;
           }
           .p2{
            flex: 1.5;
            width: 250px;
           }
        }

        &__row2{
            padding-top: 5px;
            .p3{
             width: 117%;
            }
         }

         &__row3{
            display: flex;
            gap: 5px;
            .p5{
             flex: 1;
            }
            .p4{
             flex: 1.5;
             width: 250px;
            }
         }
    }
    
    
    
    
    
    
    
    
    
    
    
    
    &__navbar{

        position: absolute;
        padding-left: 20px;
        bottom: 10vh;
        width: 300px;
        display: flex;
        justify-content: center;
        gap: 20px;

  
button {
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    

    &:hover{
        border-radius: 360px;
        background-color: rgb(15, 116, 79);
    }
}





    }
















}