
@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

@import "btnAndShape";
@import "animationANDbreakpoints";
/* for tal */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.wapper{
    width: 98%;
    margin: auto;
   
    border: 3px solid rgb(37, 37, 37);
    border-radius: 20px;
    display: flex;
     gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
}
.gradientdiv{
    margin: auto;
    margin-top: 20px;
    width: 97%;
    height: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #4FC3F7 , #9CCC65);
position: relative;

    &__timeAndPower{
   
    }
    &__heder{

        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        .textHeder{
            color: white;
            font-size: 25px;
            font-weight: bold;

        }
        .searchIconHeder{

            border-radius: 180px;
            height: 40px;
            width: 40px;
            background-color: white;
            color: #4FC3F7;
            font-size: 20px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
 
    &__boxContainer{
      
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-gap: 50px;
            

    }
    &__telemedicine{
        width: 70%;
        position: absolute;
        bottom: -30px;
        left: 15%;
        border: 1px solid;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //grid-template-rows: repeat( 2, 50px);
        justify-items:start;
        align-items: center;
       
      background-color: white;
      border-radius: 15px;
        grid-template-areas: 
        "icon telemedicineheder telemedicineheder"
        "icon telemedicinetext telemedicinetext"
       ;

       .telemedicineicon{
        grid-area: icon;
        font-size: 100px;
        text-align: center;
       }
       .telemedicineheder{
        grid-area: telemedicineheder;
        font-size: 40px;
        color: #4FC3F7;
       }
       .telemedicinetext{
        grid-area: telemedicinetext;
        font-size: 20px;
       }
    }
}

.servicsebtns{
    width:fit-content ;
   display: flex;
   background-color: gray;
   border-radius: 20px;
   justify-content: center;
   
    &__item{

        width:fit-content ;
        button{
            cursor: pointer;
            font-size: 30px;
            border: 0.5px solid rgb(70, 69, 69);
            background-color: gray;
            border-radius: 20px;
        }
        button:focus {
            background-color: rgb(2, 44, 58);
        }
    }
}

.bigList{
    cursor: pointer;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    &__item{
        margin: 10px;
        width: 340px;
        
        background-color: rgb(238, 233, 233);
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 10px;
        row-gap: 10px;
        
        justify-items:center;
        align-items: center;

        grid-template-areas: 
        "icon heder"
        "icon text" ;

        .itemIcon{
            grid-area: icon;
            font-size: 20px;
           
            
        }
        .itemHeder{
            grid-area: heder;
            font-size: 20px;
            color: gray;
           
        }
        .itemText{
            grid-area: text;
            font-size: 15px;
            color: rgb(155, 154, 154);
        }
      
    }
}

.stikymenue{

    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: white;

   text-align: center;

    display: flex;
    gap: 10px;
    justify-content: space-around;

    &__item{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
        .itemicon{
            font-size: 25px;
          .trick{
            z-index: 1;
            color: red;
            position: relative;
            top: -15px;
            left: -20px;
            font-size: 20px;

            animation-name: icondAn;
            animation-duration: 1s;
            animation-delay: 4s;
            animation-iteration-count: 10;


          }
          

        }
        .itemdesc{

        }
    }
}