.wrapper {
  display: flex;
  gap: 5px;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items: center;
  height: 100vh;
  background-color: rgb(194, 238, 238);
//   text-align: center;

  .box {
    background-color: teal;
    height: 100px;
    width: 100px;
    color: white;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  .wide {
    // flex: 5;
  }
}
