*{
    margin: 0%;
    padding: 0%;

}
@media only screen and (max-width: 600px) {
    .Service{
            display: flex;
flex-direction:row-reverse;           
 padding-top: 20px;
}}
$primery_color: #5F80F7;
$primery_font: 'Assistant', sans-serif;
.section{
    width: 97vw;
    background: linear-gradient(to right, #5F80F7, #4ff6ba);
    overflow: hidden;
    border: solid 1px rgb(255, 255, 255);
    border-radius: 25px;
    margin: 10px;
    .title{
        font-family: $primery_font;
        font-size: 28px;
        color: white;
        padding-left: 25vw;
    }
    .search{
        background-color: white;
        width: 25px;
        height: 25px;
        border-radius: 100px;
        padding: 5px;
        margin-left: 28vw;
    }
    
}
.arrow{
    position: relative;
    left: 94.5%;
    bottom: 30%;
    .icon{
        background: linear-gradient(to right, #5F80F7, #5a66a9);
        width: 25px;
        height: 25px;
        padding: 5px;
        border-radius: 85px 0px 0px 15px;
    }
}
.header{
    display: flex;
    justify-content: start;
    margin: auto;
    height: 5vh;
    width: 100vw;
    padding-top: 55px;
    align-items: center; 
   
   
}
.article{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 10px;
    align-items: center;
    .post{
        background-color: #fafcff;
        height: 80px;
        width: 180px;
        padding: 25px;
        margin-top: 25px;
        margin-bottom: 50px;
        border-radius: 15px;
    }
    .post__title{
        font-family: $primery_font;
        font-size: 28px;
        color: #5a66a9;
    }
    .text{
        font-family: $primery_font;
        font-size: 15px;
        color: #5a66a9;
    }
}
.main{
    display: flex;
    background-color: #fafcff;
    justify-content: stretch;
    margin: auto;
    padding: 25px 10px;
border-radius: 15px;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.014), 0 6px 20px 0 rgba(0, 0, 0, 0.074);
height: 5vh;
    width: 50vw;
    align-items: center;  
    gap:30px;
    margin-top: -5vh;
    .Telemedicne{
        font-family: $primery_font;
        color: #5a66a9;
        font-weight: 300;
        font-size: 18px;

    }

  
}
.btns{
    display: flex;
    justify-content: start;
    margin: auto;
    height: 5vh;
    width:50vw;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border-radius: 25px; 
    align-items: center;
    .button__service{
        font-family: $primery_font;
        background: linear-gradient(to right, #5F80F7, #5a66a9);
        color: white;
font-size: 20px;
font-weight: 600;
border: none;
border-radius: 100px;
padding: 12px 280px 12px 50px;
z-index: 2;


    }
    .button__doctors{
        font-family: $primery_font;
        background: #dde6f8;
        color: #8088a1;
font-size: 20px;
font-weight: 600;
border: none;
border-radius: 100px;
padding: 12px 280px 12px 50px;
margin-left: -5%;
z-index: 1;

    }
}
.Service{
gap:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    height: 10vh;
    margin-top: 20px;
    margin-bottom: 30px;
    width:85vw;
    align-items: center;
    .Service__img{
        height: 50px;
        width: 50px;
    }
    .Service__title{
        font-family: $primery_font;
        color: #0b1238;
        font-weight: 300;
        font-size: 15px;
    }
}
.nav_bar{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: auto;
    height: 8vh;
    background-color: white;
    box-shadow:15px 0px 0px 0 rgba(0, 0, 0, 0.014), 0 6px 20px 0 rgba(0, 0, 0, 0.074); ;
    margin-top: 20px;
    width:97vw;
    align-items: center;
    .flat_icon{
        height: 4vh;
        width: 4vh;
        color: grey;
        &:hover{
            background-color:$primery_color;
            padding: 10px;
            border-radius: 100px;

        }
    }
}

  

