form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 300px;
    background-color: wheat;
    
    input {
        margin: 3px;
    }
}

h1{
    position: relative;
    top: 20px;
}