body{
  display: flex;
  background-color: rgb(168, 230, 255);
}


.wrapper{
  display: inline-block;
  margin: 10px;
 max-width:400px;
  border: 1px solid black;
  padding:20px;
   border-radius: 2cqi;
   background-color: whitesmoke;
   box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.249);
  // text-align: center;
  h1{
    font-size: 20px;
  }
  button{
    padding :5px 10px;
    min-width: 200px;
    background-color: rgb(246, 152, 141);
    color: white;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.101);
    border: 1px solid white;
  }
}

