* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    direction: rtl;
    height: 100px;
    overflow-y: scroll;
    position: relative;
    background-color: whitesmoke;
}

.box {
    display: flex;
    height: 700px;
    width: 900px;
    margin: 0 auto;
    background-color: white;
}

.p1 {
    font-weight: 300;
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: right;



}

.but-p1 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-300);
    font-weight: 900;
    width: 80px;
    left: 20px;
    position: absolute;
    border-radius: 50px;
    padding: 9px;
    border: 2px black solid;
}

.box-nav {
    display: flex;
    background-color: white;
    height: 70px;
    width: 1421px;
    align-items: center;
}

.nav {
    background-color: white;

}

.a-1 {
    text-decoration: none;
    display: inline;
}


.img-icon {
    top: 80px;
    right: 20px;
    position: absolute;
    width: 25px;

}

.but-p2 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-300);
    font-weight: 900;
    width: 80px;
    left: 20px;
    border-radius: 50px;
    padding: 9px;
    border: 2px black solid;
    margin-right: 60px;
    background-color: black;
    color: white;
}

.but-p3 {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-300);
    font-weight: 900;
    width: 80px;
    border-radius: 50px;
    padding: 9px;
    border: 2px rgba(255, 255, 255, 0.853);
    color: black;

}

.input-1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    border-radius: 30px;
    padding: 18px;
    width: 1000px;
    height: 30px;
    background-color: rgba(161, 161, 161, 0.62);
}


.material-symbols-outlined {
    color: rgb(51, 51, 51);
    margin-top: 5px;
    width: 37px;
    font-variation-settings:
        'FILL' 1,
        'wght' 500,
        'GRAD' 200,
        'opsz' 48
}

.material-symbols-outlined:hover {
    color: gold;
}

.img-1 {
    margin-bottom: 21px;
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 17px;
}



.img-1 {

    img {
        border-radius: 20px;
        width: 200px;
    }

}


.img-2 {
    margin-bottom: 21px;
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 17px;

}

.img-2 {
    img {
        border-radius: 20px;
        width: 200px;
    }

}

.small {
    height: 240px;
}

.big {
    height: 381px;
    margin-top: -150px;
}


.img-3 {
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 17px;
}

.img-3 {
    img {
        border-radius: 20px;
        width: 200px;
    }

}


.img-1 img:hover {
    transform: scale(1.3);
    cursor: zoom-in;

}

.img-2 img:hover {
    transform: scale(1.3);
    cursor: zoom-in;

}

.img-3 img:hover {
    transform: scale(1.3);
    cursor: zoom-in;

}