.wrapper__buttons {
  display: flex;
  justify-content: center;
  margin-top: 400px;
  gap: 20px;

  

  button {
    background-color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  button:active {
    font-weight:900;
  }
}
