$btn-border-bottom: 1px solid;
$gradient-img: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
header {
  // position: fixed;
  // top: 0;
  background-color: #000;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;

  .wrapper-header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    .wrapper-logo {
      display: flex;
      align-items: center;
    }
    .logo {
      margin: 5px;
      padding: 5px 8px;
      text-transform: uppercase;
      color: #000;
      background-color: #fff;
      font-weight: bold;
      font-size: 20px;
    }

    .sign-in {
      // display: flex;
      // align-items: center;
      justify-content: flex-start;
      width: 76rem;
      height: 100%;
      max-width: 176px;

      svg {
        stroke: #fff;
        fill: #fff;
        width: 22px;
      }
    }
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .btn {
    background-color: transparent;
    border: none;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .underline-btn:hover {
    border-bottom: $btn-border-bottom white;
    cursor: pointer;
  }
  .underline-red:hover {
    border-bottom: $btn-border-bottom red;
  }
  .underline-yellow:hover {
    border-bottom: $btn-border-bottom yellow;
  }
  .underline-blue:hover {
    border-bottom: $btn-border-bottom blue;
  }
  .underline-green:hover {
    border-bottom: $btn-border-bottom green;
  }
  .underline-darkblue:hover {
    border-bottom: $btn-border-bottom darkblue;
  }
  .underline-purple:hover {
    border-bottom: $btn-border-bottom purple;
  }
  .dots,
  .svg-search-bar {
    stroke: #fff;
    width: 22px;
  }
  .search-bar {
    width: 23.5rem;
    height: 100%;
    max-width: 224px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .search-bar:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
}
.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.welcome {
  margin-bottom: 2rem;

  color: #fff;
  .image {
    position: relative;
    background-size: cover;
  }
  .image:hover {
    filter: brightness(1.25);
    cursor: pointer;
  }
  .welcome-title {
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: #4a4a4a;
      font-size: 22px;
    }
    p {
      color: #8c8c8c;
      font-size: 22px;
    }
  }

  .welcome-articles {
    display: flex;
    gap: 16px;
  }
  .content-article {
    padding: 1rem;
    position: absolute;
    bottom: 0;
  }
  .main-image {
    background-image: $gradient-img,
      url(https://ichef.bbc.co.uk/wwhp/624/cpsprodpb/E48D/production/_129090585_rahul3.jpg);
    width: 616px;
    height: 346px;
  }
  h3 {
    color: #fff;
  }
  .title-img {
    font-size: 2rem;
  }
  .desc-img {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #d3d3d3;
  }
  .tag-article {
    font-size: 0.8rem;
    margin-top: 1rem;
    text-transform: uppercase;
    border-left: 2px solid red;
    padding-left: 5px;
  }
  .secondary-images {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    row-gap: 1rem;
    justify-content: space-between;
    h3 {
      font-size: 20px;
      font-weight: 400;
    }
    article {
      // margin-right: 0.5rem;
      width: 48%;
    }
    #first-article {
      background-image: $gradient-img,
        url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/137AC/production/_129088797_gettyimages-1234404618-1.jpg);
    }
    #second-article {
      background-image: $gradient-img,
        url(https://ichef.bbc.co.uk/wwhp/304/cpsprodpb/37E5/production/_129090341_canadagetty.jpg);
      // margin-right: 0;
    }
    #third-article {
      background-image: $gradient-img,
        url(https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/fb/8h/p0fb8h8g.jpg);
    }
    #fourth-article {
      background-image: $gradient-img,
        url(https://ichef.bbc.co.uk/wwhp/304/ibroadcast/images/live/p0/fb/8j/p0fb8j2f.jpg);
      // margin-right: 0;
    }
  }
}
img:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

.article-component {
  margin-bottom: 2rem;
  h2 {
    color: #4a4a4a;
    font-size: 22px;
    border-left: 3px solid red;
    padding-left: 8px;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: bold;
    color: #212121;
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  p {
    color: #4a4a4a;
    margin-bottom: 1rem;
  }
  .tag-article {
    color: #767676;
    border-left: 2px solid red;
    padding-left: 8px;
    font-size: 0.875rem;
    text-transform: uppercase;
  }
}

.article-wrapper {
  display: flex;
  gap: 1rem;
  width: 1268px;
  article {
    width: 33%;
    img {
      width: 100%;
    }
  }
}
// body {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100vh;
// }

.cards-wrapper {
  padding: 20px;
  // margin: 0 auto;
  font-family: sans-serif;
  color: #444444;
  // max-width: 920px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(./p0836dcl.jpg);
  .reel-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    .title {
      color: #fff;
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h2 {
      font-size: 3rem;
    }
    h3 {
      font-size: 1rem;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: #fff;
      background-color: transparent;
      border-radius: 40px;
      width: 150px;
      border: 2px white solid;
      height: 40px;
      svg {
        fill: #fff;
        stroke: #fff;
        width: 22px;
      }
    }
    button:hover {
      cursor: pointer;
    }
  }
  .flex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .cards {
    background-color: white;
    max-width: 400px;
    height: auto;

    img {
      max-width: 400px;
      height: auto;
    }
    .title-wrapper {
      display: flex;
      align-items: center;
      // justify-content: center;
      height: 60px;
      h2 {
        margin: 0;
        margin: 0 10px;
        font-size: 18px;
      }
    }
  }
}
