body{
    height: 100vh;
}
.boneEaten{
    position: relative;
    left: 50%;
}
.wrapper{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    .doghouse{
        width: 3rem;
        height: 3rem;
        background-color: green;
        position: absolute;
        left: 5em;
        z-index: 11;
    }
    .box{
        background-color: aquamarine;
        background-size: cover;
        left: 5rem;
        top:2px;
        height: 2.3rem;
        width: 3.1rem;   
        background-image: url("https://cdn.dribbble.com/users/2747966/screenshots/7449162/media/a1fe38d73008d31734975492beea3936.gif");
        position: absolute;
        z-index: 10;
        
    }
    .boneDrop{
        width: 3rem;
        height: 3rem;
        // background-color:rgba(165, 42, 42, 0.212);
        position: absolute;
        // background-image: url("./pictures/il_fullxfull.2462002336_iimi.jpg");
    }
}