body{
    height: 1200px;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    

}

.person{
    
    &:hover{
        position: relative;
    }
}