@import "glasses.scss";
@import "person.scss";


body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/6d/Psy_without_sunglasses.jpg");
    background-size: cover;
    img{
        width: 700px;
    }
}