.wrapper{
    display: grid;
    gap:5px;
    grid-template-rows: repeat( 4, 200px);
    grid-template-columns: repeat(4, 1fr);
  
    grid-template-areas: 
    "boo main purple purple"
    "boo red red ."
    ". red red .";

    .article{
        background-color: wheat;
    }

    .article__main{
        grid-area: main;
        background-color: navy;
        color:white;
    }
    .article__red{
        grid-area: red;
        background-color: red;
        color:white;

    }

    .article__purple{
        grid-area: purple;
        background-color: purple;
        color:white;

    }
}