.hexagon{
    height: 80px;
    width: 45px;
    background: purple;
    position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    display: inline-block;
}

.hexagon::before,
.hexagon::after{
    content: '';
    width: 100%;
    height: 100%;
    background: purple;
    position: absolute;    
}

.hexagon::before{
    transform: rotate(60deg);
}

.hexagon::after{
    transform: rotate(-60deg);
}
