$delay : 0.1s;

.hexagon {
    height: 80px;
    width: 84px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%); 
    background-color: black;
    position: absolute;
    transform: translate(-50%, -50%);
    display: inline-block;   
}

// .hexagon::before,
// .hexagon::after {
//     content: '';
//     width: 100%;
//     height: 100%;
//     background: purple;
//     position: absolute;
// }

// .hexagon::before {
//     transform: rotate(60deg);
// }

// .hexagon::after {
//     transform: rotate(-60deg);
// }

.one {
    top: 40%;
    left: 70px;
    animation: hexagoneFlesh 0.5s linear 1;
}

.two {
    top: 46%;
    left: 151px;
    animation: hexagoneFlesh 0.5s linear $delay 1;
}

.three {
    top: 40%;
    left: 231px;
    animation: hexagoneFlesh 0.5s linear $delay*2 1;
}

.fure {
    top: 46%;
    left: 317px;
    animation: hexagoneFlesh 0.5s linear $delay*3 1;
}

.five {
    top: 53%;
    left: 394px;
    animation: hexagoneFlesh 0.5s linear $delay*4 1;
}

.six {
    top: 65%;
    left: 394px;
    animation: hexagoneFlesh 0.5s linear $delay*5 1;
}

.seven {
    top: 71%;
    left: 317px;
    animation: hexagoneFlesh 0.5s linear $delay*6 1;
}

.eghit {
    top: 65%;
    left: 240px;
    animation: hexagoneFlesh 0.5s linear $delay*7 1;
}

.nine {
    top: 53%;
    left: 238px;
    animation: hexagoneFlesh 0.5s linear $delay*8 1;
}

.ten {
    top: 59%;
    left: 318px;
    animation: hexagoneFlesh 0.5s linear $delay*9 1;
}