.hexagon{
    height: 100px;
    width: 100px;
}

.hexatop{
    width: 70px;
    border: 60px solid transparent;
    border-bottom-color: purple;
}

.hexabottom{
    width: 70px;
    border: 60px solid transparent;
    border-top-color: purple;
}