.gost {
  border-radius: 100% 100% 0 0;
  display: inline-block;
  height: 160px;
  margin: 20px;
  position: relative;
  width: 120px;
  left: 885px;
  top: -9px;
  animation: gost 4s linear alternate forwards;
}

.eyes {
  height: 60px;
  left: 50%;
  margin-left: -45px;
  position: absolute;
  width: 90px;
  top: 50px;
}

.eye {
  background: white;
  border-radius: 100%;
  height: 60px;
  width: 30px;
  animation: blinky 0.5s linear infinite;
}

.iris {
  background: black;
  border-radius: 100%;
  height: 20px;
  position: absolute;
  width: 20px;
  top: 10px;
  animation-name: gost-iris;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  // animation-delay: 5s;
}

.leftEye {
  float: left;
}

.leftEye .iris {
  left: 5px;
}

.rightEye {
  float: right;
}

.rightEye .iris {
  right: 5px;
}

.ghostTail {
  background-repeat: repeat-x;
  bottom: -20px;
  height: 20px;
  position: absolute;
  width: 120px;
}

.red .ghostTail {
  background:
    linear-gradient(-45deg, transparent 75%, red 75%) 0 50%,
    linear-gradient(45deg, transparent 75%, red 75%) 0 50%;
  background-size: 20px 20px, 20px 20px;
}