@import "pakmen";
@import "gosts";
@import "backgraound";

*{margin: 0; padding: 0;}
body{ background: #000; }

.red{ background-color: red;}


@keyframes hexagon{

}

@keyframes gost{

}

@keyframes gost-iris{

}

@keyframes pacmen{
    from {
      left: -200%;
      
    }
    to {
      left: 100%;

    }
}

@keyframes mouthTop{
    50%{
        transform: rotate(45deg);
    }
}

@keyframes mouthBottom{
    50%{
        transform: rotate(-90deg);
    }
}

