body {
    width: 99vw;
    height: fit-content;
    align-items: center;
    background: linear-gradient(180deg, rgb(16, 4, 233) 0%, rgb(5, 174, 212) 35%, rgb(6, 230, 103) 100%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    #root {
        width: 100%;
        min-height: 100vh;
        height: auto;

        #header {
            height: fit-content;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

            #admin-actions {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }

            button {
                display: inline-block;
                padding: 10px 20px;
                margin: 10px;
                font-size: 16px;
                color: #fff;
                background-color: #06a0ab;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                text-decoration: none;
                transition: background-color 0.3s ease, transform 0.2s ease;

                &:hover {
                    background-color: #0056b3;
                    transform: scale(1.05);
                }
            }

            h1 {
                font-size: 5rem;
                color: #fff;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }

        #forms {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 75%;
            margin: auto;
            height: 100%;
            gap: 20px;
            padding-top: 20px;
            text-align: center;

            h2 {
                color: #beebbd;
                text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                font-size: 2.5rem;
            }

            form {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                width: 75%;
                margin: auto;
                height: 100%;
                gap: 20px;
                padding-top: 20px;

                .input {
                    text-align: center;
                    width: 25%;
                    height: 20%;

                    input {
                        width: 80%;
                        height: 100%;
                        border-radius: 10px;
                        border: none;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
                        transition: border-color 0.3s ease;
                        text-align: center;

                        &:focus {
                            outline: none;
                            border-color: #06a0ab;
                            background-color: #119eef;
                        }
                    }
                }

                label {
                    width: 10ch;
                }


                input[type="submit"] {
                    width: 25%;
                    border-radius: 10px;
                }

                input[type="submit"]:hover {
                    background-color: #3581d2;
                    transform: scale(1.05);
                    cursor: pointer;
                }
            }

            table {
                width: 100%;
                border-collapse: collapse;
                margin-bottom: 20px;

                button {
                    display: inline-block;
                    color: #fff;
                    background-color: #06a0ab;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                    text-decoration: none;
                    transition: background-color 0.3s ease, transform 0.2s ease;

                    &:hover {
                        background-color: #0056b3;
                        transform: scale(1.05);
                        cursor: pointer;
                    }
                }

                button:disabled {
                    background-color: #c2c1c1c7;
                    color: #333;
                }

                button:disabled:hover {
                    cursor: not-allowed;
                    transform: scale(1)
                }
            }

            th,
            td {
                padding: 10px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                text-align: center;
            }

            th {
                background-color: #f2f2f2;
            }

            tr:hover {
                background-color: #0be2e2;
                cursor: pointer;
            }
        }
    }

}