body{
    background-color: beige;
}
table{
    margin: auto;
    position: top;
   margin-top: 12vh;
}
td{

    width: 4vw;
    height: 8vh;
    cursor: pointer;


}

.one{
    td:nth-child(even){
        background-color: rgb(26, 21, 21);
       
    
    }
    td:nth-child(odd){
        background-color: rgb(255, 255, 255);
        &:active{
            .one__black{
                opacity: 1;
            }
        }
    
    }



}
.two{
    td:nth-child(odd){
        background-color: rgb(0, 0, 0);
    
    }
    td:nth-child(even){
        background-color: rgb(250, 249, 249);
        &:active{
            .one__black{
                opacity: 1;
            }
        }
    
    }


}




.one__black{
    background-color: rgb(14, 13, 13);
    border-radius: 50%;
    width: 3vw;
    height: 6vh;
    z-index: 1;
    opacity: 0;
   
}
.one__white{
    background-color: rgb(255, 251, 251);
    border-radius: 50%;
    width: 3vw;
    height: 6vh;
    z-index: 1;
    opacity: 0;
   
}
