.wrapper {
    position: relative;
    // top: 10vh;
    width: 1000px;
    height: 100vh;
    margin: auto;
    background-image: url('https://www.dailysale.co.il/images/itempics/4349_160620210846121_large.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    #refrigerator {
        position: relative;
        top: 8vh;
        width: 35%;
        display: flex;
        gap: 10px;
        margin: auto;
        flex-wrap: wrap;

        .vegetable {
            position: relative;
            width: 150px;
            height: 200px;
            border-radius: 10px;
            box-shadow: 1px 1px 3px grey;
            text-align: center;
            background-color: whitesmoke;
            padding: 5px;

            img {
                width: 90%;
                height: 60%;
                margin: auto;
            }

            .vegetable-ditels {
                position: relative;
                top: -4vh

            }
        }
    }
}