@mixin rows {
    display: flex;
    flex-direction: row-reverse;
}

$width: 40px;

.header {
    padding-right: 2rem;

}

.slider-wrapper {
    position: relative;
    max-width: 100rem;
    margin: auto;
}

.slider {
    display: flex;
    aspect-ratio: 16 / 7;
    overflow-x: auto;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
    overflow: hidden;


    img {
        flex: 1 0 100%;
        scroll-snap-align: start ;
        object-fit: cover;
        animation: slide 16s infinite;
    }
}

.slider-nav {
    display: flex;
    column-gap: 6rem;
    position: absolute;
    bottom: 7.25rem ;
    left: 30%;
    transform: translateX(-50%);
    z-index: 1;

    a{
        max-width: 0.5rem;
        height: 0.5rem;
        transition: opacity ease 250ms;
        text-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    }

    img {
        max-width: 90px;
        border-radius: 5px;
        animation: slide 16s infinite;
    }

}

@keyframes slide {
    0% {
        transform: translatex(0);
    }

    25% {
        transform: translateX(-100%)
    }

    30% {
        transform: translateX(-200%)
    }

    50% {
        transform: translateX(-300%)
    }

    55% {
        transform: translateX(-400%)
    }

    75% {
        transform: translateX(-500%)
    }

    80% {
        transform: translateX(-600%)
    }

    100% {
        transform: translateX(-700%)
    }
}

.slider-nav img:hover {
    opacity: 1;
    max-width: 130px;
}

.wrapper__nav{
    box-shadow: -80px 60px 250px 200px rgba(0, 0, 0, 0.5);
    
    &__nav-icons {
        position: fixed;
        display: flex;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 90px;
        height: 100%;
        z-index: 1;
        border: 2px solid black;
        align-items: center;
        padding-top: 20px;
        background-color: black;

        &:hover {
            box-shadow: -80px 60px 250px 200px rgba(0, 0, 0, 0.5);
        }

        &__icon-top {
            line-height: 1px;

            img {
                width: 70px;
            }

            i {
                width: 12px;
                color: rgb(206, 153, 55);
            }

            p {
                width: 30px;
                color: rgb(206, 153, 55);
            }

            .upgrade {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                justify-content: center;
                border: 2px solid ;
                background-color: rgb(59, 59, 59);
                border-radius: 15px;
                padding: 3px 0px;
            }
        }

        &__more-details img{
            width: 25px;
        }
        
        &__more-details {
            display: flex;
            flex-direction: column;
            gap: 34px;
            align-items: center;
            color: rgb(194, 188, 188);
            padding-top: 60px;
            list-style: none;



            i{
                font-size: 25px;
            }

            p{
                font-size: 25px;
                opacity:0;
            }

            &:hover::before {
                i{
                    padding-right: 0;
                }
            }  

            &:hover {
                p{
                    opacity: 1;
                }

            }


                &--first {
                    @include rows; 
                    padding-right: 130px;
                    align-items: center;
                    text-align: center;
                    gap: 5px;
    
                    p {
                        width: 129px;
                    }
                }
    
                &--second {
                    @include rows; 
                    padding-right: 67px;
                    gap: 38px;
                    p {
                        width: $width;
                    }        
                }
    
                &--third {
                    @include rows; 
                    p {
                        width: $width;
                    }        
                    padding-right: 46px;
                    gap: 13px;
    
                }
    
                &--fourth {
                    @include rows; 
                    p {
                        width: $width;
                    }
                    padding-right: 63px;
                    gap: 35px;
                }
    
                &--fifth {
                    @include rows; 
                    p {
                        width: $width;
                    }
                    padding-right: 63px;
                    gap: 35px;
                }
    
                &--sixth {
                    @include rows; 
                    p {
                        width: $width;
                    }
                    padding-right: 77px;
                    gap: 49px;
                }

            }    
            


        }
    }

    
