body{
    background-color: antiquewhite;
    text-align: center;    
}

.main{
    height: 300px;
    position: relative;

}

.bm{
    position: fixed;
    transform: rotate(20deg);
}

.bl{
    transform: rotate(-20deg);
}

.br{
    transform: rotate(40deg);
}

.bleyr{
    opacity: 0.5;
}

.b1{
    height: 100px;
}

.b2{
    height: 130px;
}

.b3{
    height: 150px;
}

.b4{
    height: 170px;
}