body {
    background-color: black;
    // background-image: url(./background2.png);
    background-repeat: no-repeat;
    width: 98vw;
    height: 95vh;
    overflow: hidden;
}

.wrapper {
    background: linear-gradient(rgb(53, 98, 122), transparent);
    font-family: fantasy;
    margin: auto;
    width: 75vw;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    border-radius: 100px;
    animation: enterText 10s;

    p {
        text-align: center;
        font-size: 3.2rem;
        color: rgba(195, 214, 252, 0.271);
    }

    table {

        width: 70%;
        align-self: center;
        color: white;
        letter-spacing: 0rem;
        font-size: 2.5rem;
        text-align: center;
        border: none;

        td {
            font-size: 1.1rem;
        }

        th,
        td {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            width: 50%;
            padding-bottom: 12px;
            border: none;


        }

        tr:hover {
            background-color: rgba(0, 0, 0, 0.34);
            color: rgba(118, 144, 237, 0.779);
            border-radius: 20px;
            box-shadow: 2px;
            transform: scale(1.1);
            transition: transform 1s ease-in-out;

        }

    }

    a {
        margin: auto;
        margin-top: 10%;
        font-size: 1.5rem;
        text-decoration: none;
        color: rgb(106, 139, 157);
    }

    a:hover {
        transform: scale(1.6rem);
        color: rgb(244, 244, 245);
        transition: all 1s ease-in-out;
        transform: scale(1.2);

    }
}