<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="../../js/dist/controlers.js" defer></script>
    <script src="../../js/dist/model.js" defer></script>
    <script src="./dist/login.js" defer></script>
   
    <link rel="stylesheet" href="../../css/dist/style.css">
</head>
<body>
    <h1>Login</h1>
    <form onsubmit="handleLogin(event)">
        <input type="text" name="name">
        <input type="submit" value="Login">
    </form>
    <a href="../../index.html">Main</a>
</body>
</html>