#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #8b9df6;
  width: 50%;
}

.container{
  width: 35%;
  padding: 10px;
  background-color: white;
  margin-left: 50%;
  
  Button{
    padding:10px;
    width: 100%;
    text-transform: none;
    margin-top: 5px;
  }

}
