body {
    background-color: rgba(0, 0, 0, 0.933);


}

.Titles {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 gap: 47px;
 position: absolute;
 z-index: 1;

  &__Logo {
    img {
        position: relative;
        bottom: 20px;
        width: 170px;
        height: 100px  
    } 
  }
  
  &__SubTitle {
    position: relative;
    top: 18px;
    a {
        color: rgb(209, 209, 209);
        font-size: 18px;
        font-family:  'Pathway Extreme', sans-serif;;
        font-weight: 400;
        text-decoration: none;
    }
    a:hover {

        color: white;
        
    }
    
  }

.Icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    position: relative;
    top: 18px;
    left: 600px;
    img {
        width: 25px;
        height: 25px;
        rotate: -18deg;
    }
    &__SubTitle {
       
            a {
                color: rgb(209, 209, 209);
                font-size: 18px;
                font-family:  'Pathway Extreme', sans-serif;;
                font-weight: 400;
                text-decoration: none;  
               } 
                 
        
            }
    
    &__SubIcons {
     
        &--bell {
            rotate: 17deg;
        }
    }    
    
}


}
.description {
    position: absolute;
    top: 250px;
    left:50px;
    p {
        color: white;
        font-size: 25px;
        font-family: 'Rubik', sans-serif;
        max-width: 1000px;
        position: relative;
        bottom: 35px;
    }
    .Header {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        img {
            width: 50px;
            height: 50px;
            position: relative;
            top: 50px;   
        }
        h1 {
            font-size: 60px;
            font-family: 'Rubik', sans-serif;
            color: white;
        }
      
    }
    button {
        width: 95px;
        height: 32px;
        border: none;
        border-radius: 5px;
        font-family: 'Rubik', sans-serif;
        position: relative;
        bottom: 30px;

    }
    #More {
        background-color: gray;
    }
}
.circule {
    position: absolute;
    color: white;
    font-size: small;
    rotate: -15deg;
    background-color: red;
    width: 17px;
    height: 17px;
    border-radius: 100px;
    left: 11px;
    top: -5px;
    p {
        position: absolute;
        top: -13px;
        left: 2px;
    }
}
 


video {
    background-color:rgba(0, 0, 0, 0.933) ;
    width: 100%;
    height: 100%;
    top: -139px;
    padding: 0;
    margin: 0;
  

}
   
  


.Text {
    display: block;
    font-size: 15px;
    position: relative;
    bottom: 80px;
    left: 50px;
    h2 {
        color: white;
        font-family: 'Roboto', sans-serif;
   }
}
.TopMovie {
    display: grid;
    grid-template-columns: repeat(5, 80px);
    gap: 220px;
    position: relative;
    bottom:80px ;
    left: 10vw;


    &__movie {
        display: flex;
        img {
            width: 180px;
            height: 185px;
            z-index: 1;
        }
        h1 {
          font-size: 240px;
          color: black;
          position: relative;
          bottom: 210px;
          left: 35px;
          -webkit-text-stroke: 3px gray;
        //   text-shadow:-2px -2px 1px gray ;
          font-weight: 400;
          font-family: 'Rubik', sans-serif;
          
        }
    
        
    }
    img {
        width: 100%;
    }
    @media only screen and (max-width: 900px) {
        max-width: 750px;
        grid-template-columns: repeat(3, 80px);
}

@media only screen and (max-width: 600px) {
    max-width: 600px;
    grid-template-columns: repeat(1, 80px);
  }
}
h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
}
.All {
    position: relative;
    left: 100px;
    bottom: 380px;

    &__Trending {
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(6,260px);
    
        &__Movies {
       
            img {
                width: 270px;
                height: 170px;
            }
    
            img:hover {
                scale: 1.4;
                transition: 0.3s;
            }
           
        }
        @media only screen and (max-width: 900px) {
            max-width: 600px;
            grid-template-columns: repeat(3, 260px);
          }
          @media only screen and (max-width: 600px) {
            max-width: 600px;
            grid-template-columns: repeat(1, 260px);
          }
     
     
    }
    
}



