.wrapper {
  margin: auto;
  background-color: lightgrey;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 10px;
}
.article {
  background-color: aqua;
  padding: 10px;
}

.header {
  grid-column: 1 / -1;
}
.sidebar {
  grid-row: 2 / -1;
}
.sidebar2 {
  grid-row: 2 / -1;
  grid-column: 4;
}
