.card {
    display: flex;
    margin: 2px 3px 4px 0px;
    border: 2px red solid;
    width: 30vw;
    flex-direction: column;

    img {
        width: 30vw;
    }

    .input1 {
        margin: 0 auto;
    }

    .input2 {
        margin: 0 auto;
    }
}