$verwidth: 20px;
$verHeight: 100px;
$horwidth: 100px;
$horHeight: 20px;
$dig4AnimateDuration: 0.1s;
$dig3AnimateDuration: 1s;
$dig2AnimateDuration: 10s;
$dig1AnimateDuration: 60s;
$digAnimation-timing-function:step-end;
$digAnimation-iteration-count: infinite;

body{
    width: 100%;
    height: 100%;
    background-color: beige;
    margin: 0;
    position: relative;
}

/***************************** CLOCK *************************/

/*style*/

.dots{
    position: absolute;
    height: 400px;
    width: 50px;
    left: 310px;
    

    .dot{
        width: 30px;
        height: 30px;
        background-color: red;
        position: absolute;
        left: 10px;
        border-radius: 100%;
    }

    .dot1{
        bottom: 250px;
    }
    .dot2{
        bottom: 150px;
    }
    
}
.eight{
    width:200px;
    height: 400px;
    background-color: black;
    position: absolute;
    .ver{
        width: $verwidth;
        height: $verHeight;
        position: absolute;
    }
    
    .hor{
        width: $horwidth;    
        height: $horHeight;
        position: absolute;
        left: 50px;
    }

    .hor3{
        bottom: 90px;
        
    }
    .hor2{
        bottom: 215px;
    }
    .hor1{
        bottom: 340px;
    }

    .ver1{
        bottom: 112px;
    }
    .ver2{
        bottom: 238px;
    }

    .ver1, .ver2{
        left: 50px;
    }

    .ver3{
        bottom: 112px;
    }
    .ver4{
        bottom: 238px;
    }

    .ver3, .ver4{
        left: 130px;
    }
}

.dig1{

    
    .hor1{
        animation-name: dig1hor1;
        animation-duration: $dig1AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    
    }
    .hor2{
        animation-name: dig1hor2;
        animation-duration: $dig1AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .hor3{
        animation-name: dig1hor1;
        animation-duration: $dig1AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    
    .ver1{
        animation-name: dig1ver1;
        animation-duration: $dig1AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver2{
        animation-name: dig1ver2;
        animation-duration: $dig1AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver3{
        animation-name: dig1ver3;
        animation-duration: $dig1AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver4{
        animation-name: dig1ver4;
        animation-duration: $dig1AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
}

.dig2{
    left: 150px;
    .hor1{
        animation-name: dig4hor1;
        animation-duration: $dig2AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    
    }
    .hor2{
        animation-name: dig4hor2;
        animation-duration: $dig2AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .hor3{
        animation-name: dig4hor3;
        animation-duration: $dig2AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    
    .ver1{
        animation-name: dig4ver1;
        animation-duration: $dig2AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver2{
        animation-name: dig4ver2;
        animation-duration: $dig2AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver3{
        animation-name: dig4ver3;
        animation-duration: $dig2AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver4{
        animation-name: dig4ver4;
        animation-duration: $dig2AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
}

.dig3{
    left: 350px;
    .hor1{
        animation-name: dig4hor1;
        animation-duration: $dig3AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    
    }
    .hor2{
        animation-name: dig4hor2;
        animation-duration: $dig3AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .hor3{
        animation-name: dig4hor3;
        animation-duration: $dig3AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    
    .ver1{
        animation-name: dig4ver1;
        animation-duration: $dig3AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver2{
        animation-name: dig4ver2;
        animation-duration: $dig3AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver3{
        animation-name: dig4ver3;
        animation-duration: $dig3AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver4{
        animation-name: dig4ver4;
        animation-duration: $dig3AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }

}

.dig4{
    left: 500px;
    .hor1{
        animation-name: dig4hor1;
        animation-duration: $dig4AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    
    }
    .hor2{
        animation-name: dig4hor2;
        animation-duration: $dig4AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .hor3{
        animation-name: dig4hor3;
        animation-duration: $dig4AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    
    .ver1{
        animation-name: dig4ver1;
        animation-duration: $dig4AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver2{
        animation-name: dig4ver2;
        animation-duration: $dig4AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver3{
        animation-name: dig4ver3;
        animation-duration: $dig4AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
    .ver4{
        animation-name: dig4ver4;
        animation-duration: $dig4AnimateDuration;
        animation-timing-function:$digAnimation-timing-function;
        animation-iteration-count: $digAnimation-iteration-count;
    }
}

/* animation*/

@keyframes dig4hor1{
    0%{
        background-color: red;
    }
    10%{
        background-color: black;
    }
    20%{
        background-color: red;
    }
    40%{
        background-color: black;
    }
    50%{
        background-color: red;
    }      

}
@keyframes dig4hor2{
    0%{
        background-color: black;
    }
    20%{
        background-color: red;
    }
    70%{
        background-color: black;
    }
    80%{
        background-color: red;
    }      

}
@keyframes dig4hor3{
    0%{
        background-color: red;
    }
    10%{
        background-color: black;
    }
    20%{
        background-color: red;
    }
    40%{
        background-color: black;
    }
    50%{
        background-color: red;
    }   
    70%{
        background-color: black;
    } 
    80%{
        background-color: red;
    }   
    90%{
        background-color: black;
    }     

}
@keyframes dig4ver1{
    0%{
        background-color: red;
    }
    10%{
        background-color: black;
    }
    20%{
        background-color: red;
    }
    30%{
        background-color: black;
    }
    60%{
        background-color: red;
    }     
    70%{
        background-color: black;
    }  
    80%{
        background-color: red;
    }
    90%{
        background-color: black;
    }  
}
@keyframes dig4ver2{
    0%{
        background-color: red;
    }
    10%{
        background-color: black;
    }
    40%{
        background-color: red;
    }
    70%{
        background-color: black;
    }   
    80%{
        background-color: red;
    }   

}
@keyframes dig4ver3{
    0%{
        background-color: red;
    }
    20%{
        background-color: black;
    }
    30%{
        background-color: red;
    }


}

@keyframes dig4ver4{
    0%{
        background-color: red;
    }
    50%{
        background-color: black;
    }
    70%{
        background-color: red;
    }

}

@keyframes dig1hor1{
    0%{
        background-color: red;
    }
    16.667%{
        background-color: black;
    }
    33.334%{
        background-color: red;
    }
    66.667%{
        background-color: black;
    }
    83.333%{
        background-color: red;
    }      

}
@keyframes dig1hor2{
    0%{
        background-color: black;
    }
    33.334%{
        background-color: red;
    }   

}

@keyframes dig1ver1{
    0%{
        background-color: red;
    }
    16.667%{
        background-color: black;
    }
    33.334%{
        background-color: red;
    }   
    50%{
        background-color: black;
    }  
}
@keyframes dig1ver2{
    0%{
        background-color: red;
    }
    16.667%{
        background-color: black;
    }
    66.667%{
        background-color: red;
    }   
}

@keyframes dig1ver3{
    0%{
        background-color: red;
    }
    33.334%{
        background-color: black;
    }
    50%{
        background-color: red;
    }   

}

@keyframes dig1ver4{
    0%{
        background-color: red;
    }  
    83.335%{
        background-color: black;
    }  

}

/*************************** END CLOCK ***********************/
/***************************** ILLUSION **********************/
.illusion{
    background-color: black;
    width: 99vw;
    height: 45vh;
    position: absolute;
    top: 400px;
    display: flex;
    animation-name: illusionFade;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;

    .stripe{
        width: 8.333%;
        height: 100%;
    }
}



.illusionStripes{
    position: absolute;
    top: 500px;
    width: 99vw;
    height: 45vh;


}
.horStripe{
    position: absolute;
    height: 8vh;
    width: 16.667%;
    background-color: black;
    animation-name: illusionAnimation;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.blackStripe{
    top: 100px;
}
.white{
    background-color: #fff;
}

@keyframes illusionAnimation{
    0%{
        left: 0;
    }
    25%{
        left: 83.334%;
    }
    50%{
        left:0
    }   
    75%{
        left: 83.334%;
    }  
    100%{
        left: 0;
    }
}


@keyframes illusionFade{
    0%{ opacity: 1;
    }

    50%{
        opacity: 1;
    }
    
    100%{
        opacity: 0;
    }
}
/**************************** END ILLUSION *******************/
/**************************** Glow ***************************/
.glow{
    background-color: black;
    width: 800px;
    height: 400px;
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    animation: colorChange 5s linear infinite;


    .ball{
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
    }

    .ball::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(17, 219, 17);
        border-radius: 50%;
        transform: scale(0);
        transition: 2s;
        box-shadow: 0 0 10px rgb(17, 219, 17),
                    0 0 20px rgb(17, 219, 17),
                    0 0 40px rgb(17, 219, 17),
                    0 0 60px rgb(17, 219, 17),
                    0 0 80px rgb(17, 219, 17),
                    0 0 100px rgb(17, 219, 17);
    }

    .ball:hover::before{
        content: '';
        transform: scale(1);
        transition: 0s;
    }
}

@keyframes colorChange{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}