<<<<<<< HEAD
body{
    height: 98vh;
}
=======
>>>>>>> 75a64492dae336481a89fa1bda69043756a1807a
.card{
    border-radius: 20px;
    padding: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.464);
<<<<<<< HEAD
    width: 180px;
    align-content: center;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    form{
        flex-direction: column;

       
    }

    .buttouns{
        display: flex;
        flex-wrap: wrap;
        height: fit-content;
        width: fit-content;
    }
    
    img{
        width: 100%;
        height: 60%;
    }
    p{
        height: 10%;
        margin: 0;
    }
}

    input{
        width: 80px;
    }
=======
    width: 300px;
    
    img{
        width: 100%;
    }
}

button {
    width: fit-content;
    height: fit-content;
}
>>>>>>> 75a64492dae336481a89fa1bda69043756a1807a

form{
    display: flex;
    justify-content: center;
    gap: 5px;
<<<<<<< HEAD
    height: fit-content;

}

#search{
    display: flex;
}

#rootVegetables{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
=======
>>>>>>> 75a64492dae336481a89fa1bda69043756a1807a
}