
.wrapper{ height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

 .table{
    height: 10rem;
    width: 10rem;
    background-color: aqua;
    border-radius: 5%;

 }


}