body {

  margin: 0px;


}

.wrapper {




  .header__logo {
    height: 80px;
    background-color: #cd0007;
    display: block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    img {
      display: sticky;
      margin-right: 390px;
      width: 247px;
      height: 80px;
      background-size: 100%;
    }

  }

}


.header__weather {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 1020px;




  img {
    width: 80px;
    height: 80px;

  }


  p {

    border-left: 2px solid white;
    position: relative;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    top: -113px;
    right: 85px;


  }

}

.header {
  &__text {
    color: white;
    border-left: 2px solid white;
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    top: 70px;
    right: 1020px;
    margin: 0%;

  }

  &__date {

    color: white;
    border-left: 2px solid white;
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    top: 50px;
    right: 1130px;
    margin: 0%;
  }

  &__n12 {
    position: sticky;
    top: 100px;



  }

}


.topnav {
  height: 48px;
  overflow: hidden;
  background-color: white;
  border-bottom: solid 1px #c6c7ca;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  a:hover {
    text-decoration: underline;
  }

  .topnav__link {
    padding-left: 10px;



  }

}

.floating-btn {
  width: 38px;
  height: 38px;
  background: #cd0007;
  outline: none;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  right: 0;
  border-width: 0;
  padding: 0px;
  color: #ffffff;
  border-radius: 50%;
  padding-top: 10px;
  font-size: 18px;
  top: 50%;
  right: 97%;


}


.topnav a {

  color: #333538;
  font-weight: 600;
  padding: 10px 23px;
  text-decoration: none;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;


}

.box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex-direction: row;


  .chat {
    width: 20%;
    height: 70%;
    margin-right: 20px;
    background: url(רקע.jpg) repeat center center/ cover;


    &__box {
      border-radius: 10px;
      background: #F3FDFE;
      margin: 8px 10px;
      padding: 10px;
      position: relative;
    }



    &__box__img {
      background: url(images/משהו.jpg) no-repeat center center/ cover;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      // float: right;
      position: absolute;
      top: 1px;
      right: 1px;
    }



    &__taital {
      background: red;
      color: white;
      width: 100%;
      height: 30%;
      text-align: center;

    }

    &__box__taital {
      margin-right: 25px;
      display: flex;
      justify-content: end;
    }

    &__box__taital--orange {
      color: orange;
    }

    &__box__taital--blue {
      color: blue;

    }

    &__box__taital--green {
      color: green;
    }

    &__box__taital--Brown {
      color: Brown;
    }

    &__box__taital--red {
      color: red;
    }

    &__box__Clock {
      color: Brown;
      text-align: end;
      display: flex;
      margin-top: 4px;

    }

    &__bth {
      background: red;
      padding: 5px 8px;
      width: 30%;
      height: 10%;
      color: white;
      margin: 10px 30%;

    }
  }

  .wrapper {
    width: 755px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    gap: 20px;


    .wrapper__box1 {
      width: 755px;
      height: 100%;
      display: flex;
      background-color: rgb(11, 11, 61);

      img {
        width: 480px;
        height: 100%;
      }

      .text {
        direction: rtl;
        margin-top: 0;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }

      .wrapper__box1--text1 {
        font-size: 30px;
      }

      .wrapper__box1--text2 {
        font-size: 15px;
        margin-left: 80px;

      }



    }

    .wrapper__box2 {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      margin-top: 20px;

      img {
        width: 170px;
        height: 104px;

      }

      .wrapper__box2__e {
        width: 170px;
        direction: rtl;


        .wrapper__box2__e--p1 {
          font-size: 17px;
          margin: 0;
          font-weight: bold;
        }

        .wrapper__box2__e--p2 {
          font-size: 14px;
          margin: 0;
        }

        .wrapper__box2__e--p3 {
          font-size: 12px;
          margin: 0;
          color: #6c6e70;
        }

      }

    }

    .wrapper__box3 {
      display: flex;
      margin-top: 20px;

      .wrapper__box3__1 {
        width: 670px;
        height: 368px;
        background-color: #cecece;
        direction: rtl;

        img {
          width: 350px;
        }

        .wrapper__box3__1--p1 {
          font-size: 26px;
          font-weight: bold;
          margin: 0;
        }
      }

      .div1 {
        display: flex;
        flex-wrap: wrap;

        .wrapper__box3__e {
          img {
            width: 170px;
          }

          width: 170px;
          margin-right: 20px;
          margin-bottom: 20px;
          margin-top: 0;
          direction: rtl;

          .wrapper__box3__e--p {
            font-size: 17px;
            margin: 0;
            font-weight: bold;
          }


        }
      }

      .wrapper__box3--p2 {
        font-size: 12px;
        margin: 0;
        color: #6c6e70;

      }


    }
  }

}