body {
    font-family: sans-serif;
}

.cntainer {
    display: flex;
    width: 60%;
    margin: auto;

    .political {
        width: 80%;

        &__taitel {
            color: red;
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
        }

        &__article {
            font-weight: bold;
            font-size: 50px;
        }

        &__text {
            font-size: 25px;
            margin: 20px 0;
        }

        &__Details {
            font-size: 15px;

            i {
                color: red;
                margin-right: 8px;
                margin-bottom: 50px;
            }
        }

    }

    .image__article {

        &__picture {
            width: 700px;
            height: 350px;
            background: url(images/ביבי.jpg) no-repeat center center/ cover;
            margin-bottom: 20px;
            color: white;
            align-items: end;
            justify-content: center;
            display: flex;
            font-weight: bold;
            font-size: 20px;
        }
    }

    .titles {
        width: 700px;
        height: 200px;
        display: flex;


        &__article {
            width: 25%;
            height: 100%;
            margin: 0 8px;
        }

        &__article__image {
            height: 60%;
            width: 100%;
            background: black;
        }

        &__article__image--elall {
            background: url(images/כרטיס.jpg) no-repeat center center/ cover;
        }

        &__article__image--meitav {
            background: url(images/מיטב.jpg) no-repeat center center/ cover;
        }

        &__article__image--galant {
            background: url(images/גלנט.jpg) no-repeat center center/ cover;
        }

        &__article__image--mesim {
            background: url(images/מס.jpg) no-repeat center center/ cover;
        }

        &__article__text {
            height: 35%;
            width: 100%;
            font-size: 18px;
            font-weight: bold;
        }

        &__article__text__little {
            height: 18%;
            width: 100%;
            font-size: 12px;
            color: gray;
            font-weight: normal;

        }
    }

    .rightside {
        .titles {
            flex-direction: column;
            height: 550px;
            width: 350px;
            margin-top: 20px;



            &__article {
                width: 100%;
                height: 25%;
                margin: 3px 0;
                display: flex;
                flex-wrap: wrap;

            }

            &__article__image {
                height: 100%;
                width: 50%;


            }

            &__article__text {
                height: 35%;
                width: 45%;
                margin: 15px 8px;


                span {
                    font-size: 12px;
                    color: gray;
                    font-weight: normal;
                }

            }

        }

    }
}

.background {
    background: url(images/רקע.png) repeat;
}

.chat {
    width: 20%;
    height: 70%;



    &__box {
        border-radius: 10px;
        background: #F3FDFE;
        margin: 8px 10px;
        padding: 10px;
        position: relative;
    }

    &__box__img {
        background: url(images/משהו.jpg) no-repeat center center/ cover;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        // float: right;
        position: absolute;
        top: 1px;
        right: 1px;
    }

    &__taital {
        background: red;
        color: white;
        width: 100%;
        height: 30%;
        text-align: center;

    }

    &__box__taital {
        margin-right: 25px;
    }

    &__box__taital--orange {
        color: orange
    }

    &__box__taital--blue {
        color: blue
    }

    &__box__taital--green {
        color: green
    }

    &__box__taital--Brown {
        color: Brown
    }

    &__box__taital--red {
        color: red
    }

    &__bth {
        background: red;
        padding: 5px 8px;
        width: 30%;
        height: 10%;
        color: white;
        margin: 10px 30%;
    }
}