*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #aa3eaa78;
    max-width: 400px;

    h1 {
        text-align: center;
        margin: 1rem 0;

    }

    form {
        padding: 1rem;
        background-color: purple;
        border-radius: 7px;
        margin-bottom: .5rem;

        label {
            font-weight: bold;
        }
 
    }

    form div {
        text-align: center;
        margin-top: 0.5rem;
        
        input {
            background-color: mistyrose;
            font-weight: bold;
            border-radius: 7px;
            cursor: pointer;
            padding: .2rem;

            &:hover {
                background-color: rgb(215, 142, 154);
            }
        }
    }

    form, .task-list {
        align-self: center;

    }

    .task-list {
        width: 60%;

        .task {
            padding: .3rem;
            background-color: lightpink;
            justify-content: space-between;
            display: flex;
            margin-top: .4rem;
            border-radius: 5px;

            button {
                background-color: purple;
                padding: .3rem;
                border-radius: 13px;
                cursor: pointer;

                &:hover {
                    background-color: rgb(176, 100, 176);
                }
            }
        } 
    
    }

   

}