.wrapper {
  
    form{
        input{
            display: block;
            margin: 5px;    
            
        }
        
    }
   .usersRender{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

   }
}