.wrapper{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    border: 2px black solid;
}

.name{
font-size: 40px;
font-family: fantasy;
}

.email{
font-size: 30px;
text-decoration: underline;
}