body{
    width: 99vw;
    margin: auto;
    align-content: center;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;

    #main{
        text-align: center;

        input{
            margin-left: 15px;
            border-radius: 10px;
        }
    }
}