@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

@import "btnAndShape";

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';

}
.wapper{
    width: 800px;
    border: 1px solid black;
    margin: auto;
}
    @media only screen and (max-width: 900px) {
        .header {
            justify-content: flex-start;
            background-color: purple;
        }

}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 30px;
    }
}

